.account {
    padding: 140px;
    @include media('<tablet') {
        padding: 30px 0;
    }
}

.account__wrapper {
    align-items: center;
    display: flex;
    padding: 45px 80px;

    @include media('<laptop') {
        flex-direction: column-reverse;
        padding: 45px 30px;
        text-align: center;
    }

    &--odd {
        background-color: $white;
    }

    &--even {
        background-color: $grey;
    }
}

.account__logo {
    flex: 0 0 auto;
    overflow: hidden;
    padding: 30px;
    position: relative;
    width: 30%;

    > img {
        display: initial;
    }

    @include media('<laptop') {
        margin: auto;
        padding: 60px;
        width: 100%;
    }
}

.account__content {
    flex: 0 0 auto;
    margin: -5px 0;
    padding: 65px 140px 65px 0;
    width: 70%;

    @include media('<laptop') {
        padding: 0;
        width: 100%;
    }
}

.account__title {
    color: $blue;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 20px;
}

.account__description {
    color: $blue;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}
