.box {
    background: $blue;
    color: $white;
    display: flex;
    margin: 0 auto;
    padding: 80px;
    width: percentage(10 / 12);

    @include media('<tablet') {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 -30px -60px;
        padding: 60px 30px;
        text-align: center;
        width: auto;
    }
}

.box__content {
    width: 60%;

    @include media('<tablet') {
        width: 100%;
    }
}

.box__image {
    margin: auto;
    width: 40%;

    @include media('<tablet') {
        margin-bottom: 30px;
        width: 100%;
    }

    & > img {
        margin-left: auto;

        @include media('<tablet') {
            margin: auto;
        }
    }
}
