.button-group {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -$grid-gutter-width;

    > * {
        margin-bottom: $grid-gutter-width;
        margin-right: $grid-gutter-width;
    }
}
