.demobar {
    align-items: center;
    background: $grey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    padding: 0 20px;
}

.demobar__logo {
    display: block;
}

.demobar__logo-image {
    display: block;
    height: 35px;
    width: auto;
}

.demobar__title {
    color: $white;
    font-size: 14px;
    margin: 0 20px 0 10px;
}

.demobar__github {
    display: block;
    margin-left: auto;
}

.demobar__github-image {
    display: block;
    height: 28px;
    width: auto;
}

.demobar__button {
    font-weight: normal;
    height: 28px;
    justify-self: flex-end;
    line-height: 28px;
    margin-left: 10px;
    vertical-align: middle;
}
