.demobar {
    align-items: center;
    background: $grey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    left: 0;
    padding: 0 20px;
    position: fixed;
    right: 0;
    top: 0;
}

.demobar__logo {
    display: flex;
    justify-content: center;
    width: 36px;
}

.demobar__logo-image {
    display: block;
    height: 28px;
}

.demobar__title {
    color: $white;
    margin: 0 20px 0 10px;
}

.demobar__github {
    display: block;
    margin-left: auto;
}

.demobar__github-image {
    display: block;
    height: 28px;
}

.demobar__button {
    display: block;
    margin-left: 10px;
}
