.feature {
    position: relative;
}

.feature__image {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: percentage(7 / 12);

    @include media('<laptop') {
        display: block;
        margin-bottom: 30px;
        position: static !important;
        width: auto !important;
    }

    > img {
        position: absolute;
        top: 0;

        @include media('<laptop') {
            margin: 0 auto;
            position: static !important;
            width: auto !important;
        }
    }

    .feature__item--active-odd > &,
    .feature__item--active-even > & {
        display: block;
    }
}

.feature__content {
    cursor: pointer;
    padding: 30px;
    width: percentage(4 / 12);

    @include media('<laptop') {
        background: $white;
        cursor: initial;
        margin-bottom: 30px;
        padding: 20px;
        width: auto;
    }

    .feature__item--active-odd > & {
        background: $white;
    }

    .feature__item--active-even > & {
        background: $grey;
    }
}

.feature__title {
    display: initial;

    @include media('<laptop') {
        display: none;
    }
}

.feature__item {
    transition: max-height 0.5s ease-out;

    @include media('<laptop') {
        max-height: 0;
        overflow: hidden;
    }

    &--open {
        max-height: 900px;
    }
}

.feature__accordion-button {
    color: $blue;
    display: none;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 20px;
    text-align: left;
    text-decoration: none;
    width: 100%;

    @include media('<laptop') {
        display: flex;
    }

    &-icon {
        margin-left: auto;
    }

    ::before {
        display: inline-block;
        transition: transform 0.4s ease-in-out;
    }

    &--open {
        ::before {
            transform: rotate(180deg);
        }
    }
}
