.gallery__slick-prev {
    border: none;
    margin-left: -20px;
    overflow: initial;
    top: calc(100% - 10px);

    @include media('<laptop') {
        top: calc(100% - 25px);
    }

    @include media('<tablet') {
        top: calc(100% + 30px);
    }
}

.gallery__slick-next {
    border: none;
    left: 40px;
    overflow: initial;
    top: calc(100% - 10px);

    @include media('<laptop') {
        top: calc(100% - 25px);
    }

    @include media('<tablet') {
        left: calc(100% - 45px);
        top: calc(100% + 30px);
    }
}

.gallery__image-title {
    margin-left: 130px;
    position: relative;

    @include media('<tablet') {
        margin-left: initial;
        position: initial;
    }
}

.gallery__paging-info {
    display: none;

    @include media('<tablet') {
        display: block;
        margin-top: 30px;
        text-align: center;
    }
}
