.header-home {
    background: $grey;
    margin-bottom: 140px;
    padding-bottom: 70px;

    @include mediaEachMax((
        padding-top: $menu-height,
    ));

    @include media('<tablet') {
        padding-bottom: 60px;
    }
}

.header-home__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;

    @include media('<laptop') {
        display: block;
    }
}

.header-home__content {
    flex: 0 0 auto;
    padding: 60px 10px;
    width: 40%;

    @include media('<laptop') {
        padding: 30px 10px;
        width: 100%;
    }
}

.header-home__image {
    margin: auto;
    position: relative;
    width: 100%;

    @include media('<laptop') {
        display: none;
    }
}

.header-home__description {
    margin-bottom: 40px;
    margin-top: 20px;
}

.header-home__technology {
    display: flex;
    flex-wrap: wrap;
    margin: -15px 0;
    padding-top: 80px;

    @include media('<tablet') {
        padding-top: 40px;
    }
}

.header-home__technology-item {
    color: currentColor;
    display: block;
    flex: 0 0 auto;
    margin: 15px 80px 15px 0;
    padding-left: 35px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
        color: $light-blue;
        outline: none;
        text-decoration: none;
    }

    @include media('<laptop') {
        margin-right: 70px;
    }

    @include media('<tablet') {
        margin-right: 0;
        padding-left: 30px;
        width: 50%;
    }
}

.header-home__technology-icon {
    font-size: 1.5em;
    left: 0;
    margin-right: 5px;
    position: absolute;
}
