.image-home {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;

    @include media('laptop') {
        padding-bottom: 75%;
    }
}

.image-home__rocket,
.image-home__symfony,
.image-home__code,
.image-home__user,
.image-home__opensource {
    position: absolute;
}

.image-home__rocket-text,
.image-home__symfony-text,
.image-home__code-text,
.image-home__user-text,
.image-home__opensource-text {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    position: absolute;
    text-align: center;

    @include media('laptop') {
        font-size: 14px;
        line-height: 16px;
    }
}

.image-home__rocket {
    left: 30%;
    top: 0;
}

.image-home__symfony {
    left: 80%;
    top: 15%;
    width: 20%;
}

.image-home__code {
    left: 20%;
    top: 45%;
    width: 20%;
}

.image-home__user {
    bottom: 10%;
    left: 25%;
    width: 30%;

    @include media('laptop') {
        bottom: 18%;
    }
}

.image-home__opensource {
    left: 70%;
    top: 70%;
}

.image-home__rocket-image {
    margin: 0 auto;
    width: 60%;
}

.image-home__symfony-image {
    margin: 0 auto;
    width: 60%;
}

.image-home__code-image {
    margin: 0 auto;
    width: 60%;
}

.image-home__user-image {
    margin: 0 auto;
    width: 50%;
}

.image-home__opensource-image {
    margin: 0 auto;
    width: 60%;
}

.image-home__rocket-text {
    left: 41%;
    top: 8%;
    width: 155px;

    @include media('laptop') {
        left: 44%;
        width: 120px;
    }
}

.image-home__symfony-text {
    left: 70%;
    top: 40%;
    width: 185px;

    @include media('laptop') {
        top: 32%;
        width: 150px;
    }
}

.image-home__code-text {
    bottom: 35%;
    left: 38%;
    width: 140px;

    @include media('laptop') {
        bottom: 37%;
        left: 36%;
        width: 110px;
    }
}

.image-home__opensource-text {
    bottom: 31%;
    left: 68%;

    @include media('laptop') {
        left: 71.5%;
    }
}
