.input-button {
    position: relative;

    > button {
        font-size: 25px;
        height: calc(100% - 2px);
        position: absolute;
        right: 0;
        text-align: center;
        top: 1px;
        width: 55px;
    }
}
