.list {
    font-family: $font-family-mono;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 0 -40px;
        padding: 0;
    }

    li {
        flex: 0 0 auto;
        margin: 0;
        padding: 0 0 40px 60px;
        padding-right: 5%;
        position: relative;
        width: 50%;

        @include media('<tablet') {
            padding-left: 40px;
            padding-right: 0;
            width: 100%;
        }

        &::before {
            color: $light-blue;
            content: $icon-checkmark;
            font-family: $icomoon-font-family;
            font-size: 24px;
            left: 0;
            line-height: 28px;
            position: absolute;
            top: 0;

            @include media('<tablet') {
                line-height: 22px;
            }
        }
    }

    strong {
        display: inline-block;
        font-family: $font-family;
        margin-bottom: 10px;

        @include mediaEachMax((
            font-size: $h4-font-sizes,
            line-height: $h4-line-heights,
        ));
    }

    &--one-column {
        @extend .container-medium;

        li {
            width: 100%;
        }
    }
}
