.offers {
    overflow: hidden;
}

.offers__title {
    color: $blue;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
}

.offers__description {
    color: $blue;
    font-family: $font-family-mono;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 105px;
    margin-top: 20px;
    text-align: center;
}

.offer {
    background-color: $white;
    padding: 80px;

    @include media('<laptop') {
        padding: 30px;
    }
}

.offer__recommended {
    background-color: $light-blue;
    color: $white;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    margin-left: -70px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    width: 140px;
}

.offer__recommended--wrapper {
    text-align: center;

    @include media('<tablet') {
        padding-top: 20px;
    }
}

.offer__title {
    color: $blue;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;

    @include media('<laptop') {
        font-size: 20px;
    }
}

.offer__description {
    color: $blue;
    font-size: 16px;
    margin-top: 10px;

    @include media('<laptop') {
        font-size: 14px;
    }
}

.offer__price-title {
    color: $blue;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 12px;
    margin-top: 40px;
}

.offer__price {
    color: $blue;
    float: left;
    font-size: 72px;
    font-weight: bold;
    line-height: 94px;
    margin-top: 10px;

    @include media('<laptop') {
        font-size: 48px;
        line-height: 62px;
    }
}

.offer__intervall {
    color: $dark-grey;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 15px;
    padding-top: 60px;

    @include media('<laptop') {
        font-size: 18px;
        padding-top: 35px;
    }
}

.offer__intervall--empty {
    padding-top: 90px;

    @include media('<laptop') {
        padding-top: 65px;
    }
}

.offer__link {
    margin-top: 40px;
}

.offer__line {
    background-color: $grey;
    margin-top: 60px;
}

.offer__benefits-title {
    color: $blue;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 60px;
}

.offer__benefits {
    font-family: $font-family-mono;
    margin-top: 40px;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    li {
        color: $blue;
        flex: 0 0 auto;
        margin: 0;
        padding: 0 0 40px 60px;
        position: relative;
        width: 100%;

        &::before {
            color: $light-blue;
            content: $icon-checkmark;
            font-family: $icomoon-font-family;
            font-size: 24px;
            left: 0;
            line-height: 24px;
            position: absolute;
            top: 0;

            @include media('<tablet') {
                line-height: 22px;
            }
        }

        ul {
            margin-top: 8px;
        }

        li {
            padding: 12px 0 0 30px;

            &::before {
                color: $light-blue;
                content: '\2014';
                padding-top: 10px;
            }
        }

        strong {
            display: inline-block;
            font-family: $font-family;
            margin-bottom: 10px;

            @include mediaEachMax((
                font-size: $h4-font-sizes,
                line-height: $h4-line-heights,
            ));
        }
    }
}
