.posted-by {
    &::before {
        background-color: $red;
        content: '';
        height: 16px;
        left: 0;
        position: absolute;
        top: 3px;
        width: 16px;
    }
    color: #999999;
    font-size: 0.9em;
    margin: 0;
    padding-left: 24px;
    position: relative;

    > span {
        color: $black;
        display: inline-block;
        font-weight: bold;
        margin-left: 6px;
    }
}
