.section {
    padding: 140px 0;

    @include media('<tablet') {
        padding: 60px 0;
    }

    &--odd {
        background: $grey;
    }

    &--even:first-child,
    &--even + &--even,
    &--odd + &--odd {
        padding-top: 0;
    }
}

.section-small {
    padding: 40px 0;

    @include media('<tablet') {
        padding: 30px 0;
    }

    &--odd {
        background: $grey;
    }
}
