.service {
    border: 1px solid $dark-grey;
    padding: 40px;
}

.service__image {
    display: flex;
    height: 250px;
    margin-bottom: 30px;

    > img {
        margin: auto;
    }
}

.service__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 30px;
    text-align: center;
}

.service__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    text-align: center;
}

.service__button {
    margin-top: 60px;
    @extend .button;
    @extend .button--full;
}
