.similar-articles__link {
    display: block;
}

.similar-articles__content {
    padding: 10px 5px 0;
}

.similar-articles__title {
    line-height: 1;
}

.similar-articles__date {
    color: #999999;
    font-size: 0.9em;
    margin: 0;
}
