
.statistic {
    align-items: center;
    display: flex;
    padding: 40px;
    position: relative;

    @include media('<tablet') {
        padding: 10px;
    }
}

.statistic__icon {
    flex: 0 0 70px;

    @include media('<tablet') {
        flex-basis: 45px;
    }

    > img {
        margin: 0 auto;
        max-height: 70px;
        max-width: 70px;

        @include media('<tablet') {
            max-height: 45px;
            max-width: 45px;
        }
    }
}

.statistic__data {
    display: block;
    flex: 0 0 auto;
    margin-left: 30px;
    overflow: visible;
    width: 50%;

    @include media('<tablet') {
        margin-left: 20px;
    }
}

.statistic__number {
    font-size: 44px;
    font-weight: bold;
    line-height: 50px;

    @include media('<laptop') {
        font-size: 20px;
        line-height: 30px;
    }

    @include media('<tablet') {
        font-size: 16px;
        line-height: 26px;
    }
}

.statistic__title {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;

    @include media('<laptop') {
        font-size: 14px;
        line-height: 22px;
    }

    @include media('<tablet') {
        font-size: 12px;
        line-height: 20px;
    }
}
