.teaser {
    border: 1px solid $dark-grey;
    padding: 40px;
    position: relative;
}

.teaser__title {
    margin-bottom: 5px;
    overflow: hidden;

    /* stylelint-disable selector-combinator-blacklist */
    .teaser:hover &,
    .teaser:focus & {
        color: $light-blue;
    }

    .teaser:focus-within & { // Need to be seperate else Edge Browser breaks
        color: $light-blue;
    }
    /* stylelint-enable selector-combinator-blacklist */
}

.teaser__description {
    margin-bottom: 20px;
    margin-top: 5px;
    overflow: hidden;

    @include mediaEachMax((
        height: mapMath($line-heights, 3),
    ));
}

.teaser__link {
    color: $blue;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    @include containerLink;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }
}
