.teaser-icon {
    border: 1px solid $dark-grey;
    display: flex;
    padding: 40px;
    position: relative;

    @include media('<tablet') {
        flex-direction: column-reverse;
        text-align: center;
    }
}

.teaser-icon__icon {
    align-self: center;
    flex: 0 1 auto;
    margin-left: 70px;
    max-width: 168px;
    padding-right: 30px;

    @include media('<tablet') {
        margin-bottom: 40px;
        margin-left: 0;
        padding-right: 0;
    }
}

.teaser-icon__content {
    width: 60%;
    z-index: 1;

    @include media('<tablet') {
        width: 100%;
    }
}

.teaser-icon__title {
    margin-bottom: 20px;

    @include media('<tablet') {
        margin-bottom: 10px;
    }

    /* stylelint-disable selector-combinator-blacklist */
    .teaser-icon:hover &,
    .teaser-icon:focus & {
        color: $light-blue;
    }

    .teaser-icon:focus-within & { // Need to be seperate else Edge Browser breaks
        color: $light-blue;
    }
    /* stylelint-enable selector-combinator-blacklist */
}

.teaser-icon__description {
    margin-bottom: 40px;

    @include media('<tablet') {
        margin-bottom: 20px;
    }
}

.teaser-icon__link {
    color: $blue;
    font-weight: bold;
    text-decoration: none;
    @include containerLink;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }
}
