.teaser-top {
    border: 1px solid $dark-grey;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.teaser-top__image {
    margin: 60px auto 100px;
    max-width: 200px;
    width: 100%;

    > img {
        margin: auto;
    }
}

.teaser-top__title {
    @include dotDotDot;
}

.teaser-top__description {
    flex: 1 1 auto;
    margin-bottom: 80px;
}
