<section class="section section-family-setup" data-name="family-setup" data-anim-scroll-group="family-setup" data-analytics-section-engagement="name:family setup">
    <div class="section-main-content">
        <div class="section-content">
            <div class="section-block">
                <h2 class="section-block-headline typography-section-headline" data-text-zoom-max="1.75">
                    <span class="headline {% if content.raidbow_txt %}raidbow-txt{% endif %}">Family Setup</span>
                    <span class="subhead">Your family,<br class="large" /><br class="medium" /> joined at the wrist.</span>
                </h2>
                <p class="section-block-intro typography-section-intro">With Family Setup, you can use your iPhone to pair watches for your children or older adults who don’t have their own iPhone.<sup class="footnote"><a href="#footnote-8" aria-label="Footnote 8">8</a></sup> So everyone can stay in touch by phone, text message, or Walkie-Talkie. They can also do things like play music, find apps, and close their Activity rings. It’s more independence for them, and you have the comfort of knowing they’re just a call away.</p>
                <a href="/watchos/watchos-7/" data-analytics-title="learn more about family setup in watchos 7" class="icon-wrapper section-block-cta typography-section-intro"><span class="icon-copy">Learn more about Family Setup<br class="small" /> in watchOS 7</span><span class="icon icon-after more"></span></a>
            </div>
            <figure class="image-family-setup-alt" data-anim-lazy-image></figure>
        </div>
    </div>
</section>
