
<section class="section section-video" data-name="nvideo" data-anim-scroll-group="nvideo" data-analytics-section-engagement="name:nvideo">
    <div class="section-main-content">
        <div class="section-media image-center" data-component-list="Sensor">
            <div class="video-container" role="img" aria-label="A passion for all things DIGITAL.">
                <div class="visuallyhidden focus-item" tabindex="-1"></div>
                <figure class="start-frame image-video" data-anim-lazy-image></figure>
                <video class="media-video" muted="" playsinline="true" aria-hidden="true" data-video-source-basepath="/build/website/mp4/salt_bae/" data-video-source-retina-enabled="true"></video>
                <figure class="end-frame" data-anim-lazy-image></figure>
            </div>
        </div>
    </div>
</section>
