{% extends 'AppBundle::master.html.twig' %}

{% block content %}
    <section class="artist--detail">
        {# This is the template for the "Band" page. #}
        {# Further information on Twig templates can be found under #}
        {# views/master.html.twig and views/templates/homepage.html.twig. #}
        {% include('AppBundle:includes:headerimage.html.twig') %}

        {% include ('AppBundle:renderer:block-renderer.html.twig') with {
            'blocks' : content.blocks
        } %}
    </section>
{% endblock %}