{% extends 'AppBundle::master.html.twig' %}

{% set location = {} %}

{% block content %}
    {# This is the template for the "Contact" page. #}
    {# Further information on twig Templates can be found under #}
    {# views/master.html.twig and views/templates/homepage.html.twig. #}
    {% include('AppBundle:includes:headerimage.html.twig') %}

    <section class="contact">
        {% include ('AppBundle:renderer:block-renderer.html.twig') with {
            'blocks': content.blocks
        } %}

        <div class="messageform">
            <div class="messageform-content">
                {% if app.request.get('send') != 'true' %}
                    <div property="heading">
                        {% if content.contactHeading|default('') %}
                            <h2 class="heading-h2">
                                {{ content.contactHeading }}
                            </h2>
                        {% endif %}
                    </div>

                    <div property="contactHeading">
                        {% if content.contactHeading|default('') %}
                            <div class="messageform-subheading">
                                {{ content.contactSubheading|raw }}
                            </div>
                        {% endif %}
                    </div>

                    {% if content.contactForm|default() %}
                        {# FORM THEME #}
                        {% form_theme content.contactForm 'AppBundle:themes:contact.html.twig' %}
                        {{ form(content.contactForm) }}
                    {% endif %}
                {% else %}
                    <h2 class="heading-h2">
                        Thank You!
                    </h2>

                    <div class="messageform-subheading">
                        {{ view.contactForm.entity.successText|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
