{% extends 'AppBundle::master.html.twig' %}

{% block content %}
    {# This is the template for the "Album" page #}
    {# Further information on twig templates can be found under #}
    {# views/master.html.twig and views/templates/homepage.html.twig #}
    <section class="artist">
        {% include('AppBundle:includes:headerimage.html.twig') %}

        {% include ('AppBundle:renderer:block-renderer.html.twig') with {
            'blocks' : content.blocks
        } %}
    </section>
{% endblock %}