{% extends 'AppBundle::master.html.twig' %}

{% block content %}
    <section class="artist">
        {% include('AppBundle:includes:headerimage.html.twig') %}

        {% include ('AppBundle:renderer:block-renderer.html.twig') with {
            'blocks' : content.blocks
        } %}
    </section>
{% endblock %}