{% extends "master.html.twig" %}

{% block content %}

    <section class="about">
        <div class="about-gallery">
            <div class="grid">
                <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                    <img src="/img/gallery1.jpg"/>
                </div>

                <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                    <img src="/img/gallery1.jpg"/>
                </div>

                <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                    <img src="/img/gallery1.jpg"/>
                </div>
            </div>
        </div>

        <div class="about-history">
            <h2 class="heading--h2">Discover us</h2>
            <p class="about-history-subheading">
                Arrives with a serious reputation attached. The Irish/Scottish five piece have sold over.
            </p>
            <p>
                Queen formed in 1971 and in 1973 signed their first recording contract for EMI. That year they released
                their first album, QUEEN. The same year saw their first major UK tour, and in 1974 they released QUEEN
                II as well as making their first UK headlining tour. They made their first US tour, and in November
                released SHEER HEART ATTACK which was a hit on both sides of the Atlantic.1975 saw their new release, A
                NIGHT AT THE OPERA, and – significantly – the single Bohemian Rhapsody. At 5’ 55” it should have been
                too long for successful radio play but it became one of the greatest singles of all time, staying at No.
                1 in the UK chart for nine weeks. The video, directed by Bruce Gowers, is credited with being the first
                genuine promotional video. The song has regularly featured in all major pop polls and was recently named
                again as the best single of all time. The success of A NIGHT AT THE OPERA was equally stunning, giving
                the band their first platinum album.
            </p>

            <p>
                In 1976 they toured the US and Japan and by spring all four albums resided in the UK Top Twenty. Later
                that year they released A DAY AT THE RACES, and gave a free concert in Hyde Park to an estimated crowd
                of 200,000 fans. The album was a huge success, advance orders alone amounting to over 500,000. The
                following year saw two major US tours, the band’s sixth album, NEWS OF THE WORLD and the legendary
                double A side single.
            </p>

            <div class="about-history-tabs">
                <ul class="about-history-tabs-links">
                    <li class="active"><a href="#tab1">Our History</a></li>
                    <li><a href="#tab2">Our Legacy</a></li>
                    <li><a href="#tab3">Our Team</a></li>
                    <li><a href="#tab4">Our Challanges</a></li>
                </ul>

                <div class="about-history-tabs-content">
                    <div id="tab1" class="about-history-tabs-content-tab active">
                        <div class="about-history-tabs-content-tab-heading">
                            <p>
                                Arrives with a serious over. Snow Patrol's new album, Fallen Empires, arrives with a
                                serious
                                reputation best The Irish/Scottish five piece have sold Fallen Empires, arrives with a
                                serious over.
                            </p>
                        </div>

                        <div class="about-history-tabs-content-tab-text">
                            <p>
                                Queen formed in 1971 and in 1973 signed their first recording contract for EMI. That
                                year they released their first album, QUEEN. The same year saw their first major UK
                                tour, and in 1974 they released QUEEN II as well as making their first UK headlining
                                tour. They made their first US tour, and in November released SHEER HEART ATTACK which
                                was a hit on both sides of the Atlantic.1975 saw their new release, A NIGHT AT THE
                                OPERA, and – significantly – the single Bohemian Rhapsody. At 5’ 55” it should have been
                                too long for successful radio play but it became one of the greatest singles of all
                                time, staying at No. 1 in the UK chart for nine weeks. The video, directed by Bruce
                                Gowers, is credited with being the first genuine promotional video. The song has
                                regularly featured in all major pop polls and was recently named again as the best
                                single of all time. The success of A NIGHT AT THE OPERA was equally stunning, giving the
                                band their first platinum album.
                            </p>
                            <p>
                                In 1976 they toured the US and Japan and by spring all four albums resided in the UK Top
                                Twenty. Later that year they released A DAY AT THE RACES, and gave a free concert in
                                Hyde Park to an estimated crowd of 200,000 fans. The album was a huge success, advance
                                orders alone amounting to over 500,000. The following year saw two major US tours, the
                                band’s sixth album, NEWS OF THE WORLD and the legendary double A side single.
                            </p>
                        </div>
                    </div>

                    <div id="tab2" class="about-history-tabs-content-tab">
                        <div class="about-history-tabs-content-tab-heading">
                            <p>
                                Arrives with a serious over. Snow Patrol's new album, Fallen Empires, arrives with a
                                serious
                                reputation best The Irish/Scottish five piece have sold Fallen Empires, arrives with a
                                serious over.
                            </p>
                        </div>

                        <div class="about-history-tabs-content-tab-text">
                            <p>
                                Queen formed in 1971 and in 1973 signed their first recording contract for EMI. That
                                year they released their first album, QUEEN. The same year saw their first major UK
                                tour, and in 1974 they released QUEEN II as well as making their first UK headlining
                                tour. They made their first US tour, and in November released SHEER HEART ATTACK which
                                was a hit on both sides of the Atlantic.1975 saw their new release, A NIGHT AT THE
                                OPERA, and – significantly – the single Bohemian Rhapsody. At 5’ 55” it should have been
                                too long for successful radio play but it became one of the greatest singles of all
                                time, staying at No. 1 in the UK chart for nine weeks. The video, directed by Bruce
                                Gowers, is credited with being the first genuine promotional video. The song has
                                regularly featured in all major pop polls and was recently named again as the best
                                single of all time. The success of A NIGHT AT THE OPERA was equally stunning, giving the
                                band their first platinum album.
                            </p>
                            <p>
                                In 1976 they toured the US and Japan and by spring all four albums resided in the UK Top
                                Twenty. Later that year they released A DAY AT THE RACES, and gave a free concert in
                                Hyde Park to an estimated crowd of 200,000 fans. The album was a huge success, advance
                                orders alone amounting to over 500,000. The following year saw two major US tours, the
                                band’s sixth album, NEWS OF THE WORLD and the legendary double A side single.
                            </p>
                        </div>
                    </div>

                    <div id="tab3" class="about-history-tabs-content-tab">
                        <div class="about-history-tabs-content-tab-heading">
                            <p>
                                Arrives with a serious over. Snow Patrol's new album, Fallen Empires, arrives with a
                                serious
                                reputation best The Irish/Scottish five piece have sold Fallen Empires, arrives with a
                                serious over.
                            </p>
                        </div>

                        <div class="about-history-tabs-content-tab-text">
                            <p>
                                Queen formed in 1971 and in 1973 signed their first recording contract for EMI. That
                                year they released their first album, QUEEN. The same year saw their first major UK
                                tour, and in 1974 they released QUEEN II as well as making their first UK headlining
                                tour. They made their first US tour, and in November released SHEER HEART ATTACK which
                                was a hit on both sides of the Atlantic.1975 saw their new release, A NIGHT AT THE
                                OPERA, and – significantly – the single Bohemian Rhapsody. At 5’ 55” it should have been
                                too long for successful radio play but it became one of the greatest singles of all
                                time, staying at No. 1 in the UK chart for nine weeks. The video, directed by Bruce
                                Gowers, is credited with being the first genuine promotional video. The song has
                                regularly featured in all major pop polls and was recently named again as the best
                                single of all time. The success of A NIGHT AT THE OPERA was equally stunning, giving the
                                band their first platinum album.
                            </p>
                            <p>
                                In 1976 they toured the US and Japan and by spring all four albums resided in the UK Top
                                Twenty. Later that year they released A DAY AT THE RACES, and gave a free concert in
                                Hyde Park to an estimated crowd of 200,000 fans. The album was a huge success, advance
                                orders alone amounting to over 500,000. The following year saw two major US tours, the
                                band’s sixth album, NEWS OF THE WORLD and the legendary double A side single.
                            </p>
                        </div>
                    </div>

                    <div id="tab4" class="about-history-tabs-content-tab">
                        <div class="about-history-tabs-content-tab-heading">
                            <p>
                                Arrives with a serious over. Snow Patrol's new album, Fallen Empires, arrives with a
                                serious
                                reputation best The Irish/Scottish five piece have sold Fallen Empires, arrives with a
                                serious over.
                            </p>
                        </div>

                        <div class="about-history-tabs-content-tab-text">
                            <p>
                                Queen formed in 1971 and in 1973 signed their first recording contract for EMI. That
                                year they released their first album, QUEEN. The same year saw their first major UK
                                tour, and in 1974 they released QUEEN II as well as making their first UK headlining
                                tour. They made their first US tour, and in November released SHEER HEART ATTACK which
                                was a hit on both sides of the Atlantic.1975 saw their new release, A NIGHT AT THE
                                OPERA, and – significantly – the single Bohemian Rhapsody. At 5’ 55” it should have been
                                too long for successful radio play but it became one of the greatest singles of all
                                time, staying at No. 1 in the UK chart for nine weeks. The video, directed by Bruce
                                Gowers, is credited with being the first genuine promotional video. The song has
                                regularly featured in all major pop polls and was recently named again as the best
                                single of all time. The success of A NIGHT AT THE OPERA was equally stunning, giving the
                                band their first platinum album.
                            </p>
                            <p>
                                In 1976 they toured the US and Japan and by spring all four albums resided in the UK Top
                                Twenty. Later that year they released A DAY AT THE RACES, and gave a free concert in
                                Hyde Park to an estimated crowd of 200,000 fans. The album was a huge success, advance
                                orders alone amounting to over 500,000. The following year saw two major US tours, the
                                band’s sixth album, NEWS OF THE WORLD and the legendary double A side single.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Team #}
    {% include(':includes:team.html.twig')  with {
    "background" : "nobackground",
    "kind" : "heading--h2"
    } %}

    {# for Booking #}

    {# Partners #}
    {% include(':includes:partner.html.twig') %}
{% endblock %}
