{% extends "master.html.twig" %}

{% block content %}
    <section class="artist--detail">
        {% include(':includes:headerimage.html.twig') %}

        <div property="contentHeading">
            {% if content.contentHeading|default('') %}
                <h2 class="artist--detail-heading heading--h2">
                    {{ content.contentHeading }}
                </h2>
            {% endif %}
        </div>

        <div property="contentSubheading" class="artist--detail-subheading">
            {% if content.contentSubheading|default('') %}
                {{ content.contentSubheading|raw }}
            {% endif %}
        </div>

        {% include ('renderer/block_renderer.html.twig') with {
            'blocks' : content.blocks
        } %}
    </section>
{% endblock %}