{% extends "master.html.twig" %}

{% block content %}
    {# header image #}
    {% include(':includes:headerimge.html.twig') with {
        'imagesrc' : '/img/subheader1.jpg',
        'kind' : 'headerimage-text--left',
        'headingposition' : 'heading--left',
        'heading' : 'Our Artists',
        'text': 'New album, Fallen Empires, arrives with a serious reputation attached. The Irish/Scottish five piece have sold over.'
    } %}

    <section class="artists">
        <h4 class="heading--h3--border">Our Artists</h4>
        <div class="grid">
            <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                <div class="artists-item">
                    <div class="artists-item--scalebox">
                        <img src="/img/artist1.jpg" class="artists-item-image">
                    </div>
                    <div class="artists-item-text">
                        <span class="artists-item-text-date">25.07.2016</span>
                        <h5 class="artists-item-text-heading heading--h5">Lorem ipsum eu viverra senectus</h5>
                    <span class="artists-item-text-subheading">
                        posted by <a href="#">Admin</a>
                        <i class="ion-ios-arrow-forward">
                            Music, Fun, Lorem</i>
                    </span>
                        <p>
                            Hendrerit urnas cubilia dui primis dictum faucibus viverra netus torquent, augue nulla
                            ullamcorper interdum per netus id fermentum, fusce varius sed vulputate in pellentesque quis
                            egestas facilisis porta aenean risus est himenaeos ultricies lobortis vivamus, porta
                            ultrices
                            ullamcorper habitasse nam libero curabitur.
                        </p>
                        <a href="#" class="artists-item-text-button">Read More</a>
                    </div>
                </div>
            </div>

            <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                <div class="artists-item">
                    <div class="artists-item--scalebox">
                        <img src="/img/artist1.jpg" class="artists-item-image">
                    </div>
                    <div class="artists-item-text">
                        <span class="artists-item-text-date">25.07.2016</span>
                        <h5 class="artists-item-text-heading heading--h5">Lorem ipsum eu viverra senectus</h5>
                    <span class="artists-item-text-subheading">
                        posted by <a href="#">Admin</a>
                        <i class="ion-ios-arrow-forward">
                            Music, Fun, Lorem</i>
                    </span>
                        <p>
                            Hendrerit urna cubilia dui primis dictum faucibus viverra netus torquent, augue nulla
                            ullamcorper interdum per netus id fermentum, fusce varius sed vulputate in pellentesque quis
                            egestas facilisis porta aenean risus est himenaeos ultricies lobortis vivamus, porta
                            ultrices
                            ullamcorper habitasse nam libero curabitur.
                        </p>
                        <a href="#" class="artists-item-text-button">Read More</a>
                    </div>
                </div>
            </div>

            <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                <div class="artists-item">
                    <div class="artists-item--scalebox">
                        <img src="/img/artist1.jpg" class="artists-item-image">
                    </div>
                    <div class="artists-item-text">
                        <span class="artists-item-text-date">25.07.2016</span>
                        <h5 class="artists-item-text-heading heading--h5">Lorem ipsum eu viverra senectus</h5>
                    <span class="artists-item-text-subheading">
                        posted by <a href="#">Admin</a>
                        <i class="ion-ios-arrow-forward">
                            Music, Fun, Lorem</i>
                    </span>
                        <p>
                            Hendrerit urna cubilia dui primis dictum faucibus viverra netus torquent, augue nulla
                            ullamcorper interdum per netus id fermentum, fusce varius sed vulputate in pellentesque quis
                            egestas facilisis porta aenean risus est himenaeos ultricies lobortis vivamus, porta
                            ultrices
                            ullamcorper habitasse nam libero curabitur.
                        </p>
                        <a href="#" class="artists-item-text-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}