{% extends "master.html.twig" %}

{% block content %}
    {# Header #}

    <section class="blogdetail">
        <div class="grid">
            <div class="grid__item desk--four-fifths portable--one-whole">
                <div class="blogdetail--main">
                    <h2 class="blogdetail-heading">
                        Best Ever arrives with a serious over Snow Patrol's new album
                    </h2>

                    <div class="blogdetail--scalebox">
                        <img src="/img/Detail_1.png" class="blogdetail-image"/>
                    </div>

                    <div class="blogdetail-editor">
                        <img src="/img/recentblog-img1.jpg"/>
                        <div class="blogdetail-editor--middle">
                            <span class="blogdetail-editor--middle-date">
                                Posted on: <p>25.07.2016</p>
                            </span>
                            <span class="blogdetail-editor--middle-editor">
                                posted by <a href="#">Admin</a>
                                <i class="ion-ios-arrow-forward">
                                    Music, Fun, Entertainment</i>
                            </span>
                        </div>
                        <div class="blogdetail-editor--right">
                            <i class="ion-social-facebook blogdetail-editor--right-social"></i>
                            <div class="blogdetail-editor--right-line"></div>
                            <p class="blogdetail-editor--right-social-number">14</p>

                            <i class="ion-social-twitter blogdetail-editor--right-social"></i>
                            <div class="blogdetail-editor--right-line"></div>
                            <p class="blogdetail-editor--right-social-number">14</p>
                        </div>
                    </div>

                    <p class="blogdetail-subheading">
                        Arrives with a serious over. Snow Patrol's new album, Fallen Empires, arrives with a serious
                        reputation attached. best The Irish/Scottish five piece have sold Fallen Empires, arrives with a
                        serious over.
                    </p>

                    <p class="blogdetail-text">
                        Arrives with a serious over. Snow Patrol's new album, Fallen Empires, arrives with a serious
                        reputation attached. best The Irish/Scottish five piece have sold Fallen Empires, arrives with a
                        serious over. Snow Patrol's new album, Fallen Empires, arrives with a serious reputation
                        attached. The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious
                        over.Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                    </p>

                    <p class="blogdetail-text">
                        The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over. Snow
                        Patrol's new album, Fallen Empires, arrives with a serious reputation attached. The
                        Irish/Scottish five piece have sold Fallen Empires. The Irish/Scottish five piece have sold
                        Fallen Empires, arrives with a serious over. Snow Patrol's new album, Fallen Empires, arrives
                        with a serious reputation attached. The Irish/Scottish five piece have sold Fallen Empires.
                    </p>

                    <p class="blogdetail-text--quote">
                        Woodpecker respectfully intensely beneath gave ouch diligently mounted by irrespective elephant
                        this therefore happy more well onto much nightingale groaned less. beneath gave ouch diligently
                        mounted by irrespective elephant this therefore
                    </p>

                    <p class="blogdetail-text">
                        Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached. The
                        Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over. Snow Patrol's
                        new album, Fallen Empires, arrives with a serious reputation attached. The Irish/Scottish five
                        piece have sold Fallen Empires, arrives with a serious over.
                    </p>

                    <div class="grid">
                        <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                            <div class="blogdetail--galleryitem">
                                <div class="blogdetail--scalebox">
                                    <img src="/img/related-blog-2.png" class="blogdetail-image">
                                </div>
                                <p class="blogdetail-text">Matthew on 'Hollyword' LA talk</p>
                            </div>
                        </div>

                        <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                            <div class="blogdetail--galleryitem">
                                <div class="blogdetail--scalebox">
                                    <img src="/img/related-blog-2.png" class="blogdetail-image">
                                </div>
                                <p class="blogdetail-text">Matthew on 'Hollyword' LA talk</p>
                            </div>
                        </div>

                        <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                            <div class="blogdetail--galleryitem">
                                <div class="blogdetail--scalebox">
                                    <img src="/img/related-blog-2.png" class="blogdetail-image">
                                </div>
                                <p class="blogdetail-text">Matthew on 'Hollyword' LA talk</p>
                            </div>
                        </div>
                    </div>

                    <p class="blogdetail-text">
                        Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached. The
                        Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over. Snow Patrol's
                        new album, Fallen Empires, arrives with a serious reputation attached. The Irish/Scottish five
                        piece have sold Fallen Empires, arrives with a serious over.
                    </p>

                    <p class="blogdetail-text">
                        Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached. The
                        Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over. Snow Patrol's
                        new album, Fallen Empires, arrives with a serious reputation attached. The Irish/Scottish five
                        piece have sold Fallen Empires, arrives with a serious over.
                    </p>

                    <div class="blogdetail-tags">
                        <span class="blogdetail-tags-heading">
                            <i class="ion-pricetag"></i> Post Tags
                        </span>
                        <ul class="blogdetail-tags-list">
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                            <li><a href="#">performer</a></li>
                        </ul>
                    </div>
                    <div class="blogdetail-share">
                        <span class="blogdetail-share-heading">
                            <i class="ion-android-share"></i> Share Post
                        </span>
                        <div class="blogdetail-share-line"></div>
                        <div class="blogdetail-share-socials">
                            <a href="#" class="blogdetail-share-socials--facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                            <a href="#"  class="blogdetail-share-socials--twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                            <a href="#"  class="blogdetail-share-socials--instagram">
                                <i class="ion-social-instagram"></i>
                            </a>
                            <a href="#"  class="blogdetail-share-socials--whatsapp">
                                <i class="ion-social-whatsapp"></i>
                            </a>
                        </div>
                    </div>

                    <div class="blogdetail-posts">
                        <div class="blogdetail-posts-item">
                            <img src="/img/blog-share-1.jpg"/>
                            <span class="blogdetail-posts-item-date">26.07.2016</span>
                            <a href="#"><h5>Next Post: Best of the diffren affable Shrugged hummingbird </h5></a>
                        </div>
                        <div class="blogdetail-posts-item">
                            <img src="/img/blog-share-1.jpg"/>
                            <span class="blogdetail-posts-item-date">26.07.2016</span>
                            <a href="#"><h5>Next Post: Best of the diffren affable Shrugged hummingbird </h5></a>
                        </div>
                    </div>
                </div>
            </div>

            {# Sidemenu #}
            {% include(':includes:blogsidemenu.html.twig') %}
        </div>
    </section>
{% endblock %}