{% extends "master.html.twig" %}

{% block content %}
    {# Header #}

    <section class="blog">
        <div class="grid">
            <div class="grid__item desk--four-fifths portable--one-whole">
                <h4 class="heading--h4--border">Blog</h4>
                <div class="grid">
                    <div class="grid__item desk--four-tenths lap--one-third palm--one-whole">
                        <img src="/img/blog-medi.png" class="blog-image"/>
                    </div>

                    <div class="grid__item desk--six-tenths lap--two-thirds palm--one-whole">
                        <div class="blog-text">
                            <p class="blog-text-date">25.06.2016</p>
                            <h5 class="heading--h5">Diffren affable jeez and We More to and shrugged hummingbird </h5>
                            <span class="blog-text-subheading">
                                posted by <a href="#">Admin</a>
                                <i class="ion-ios-arrow-forward">
                                    Music, Fun, Entertainment</i>
                            </span>
                            <p>
                                We More to and shrugged hummingbird broke since immeasurable morbidly Best of the
                                diffren affable jeez and We More to and shrugged hummingbird broke since immeasurable
                                morbidly diffren affable jeez and unlike naughty Be the orthis pointedly by in shrank.
                            </p>
                            <a href="#" class="blog-text-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="grid__item desk--four-tenths lap--one-third palm--one-whole">
                        <img src="/img/blog-medi.png" class="blog-image"/>
                    </div>

                    <div class="grid__item desk--six-tenths lap--two-thirds palm--one-whole">
                        <div class="blog-text">
                            <p class="blog-text-date">25.06.2016</p>
                            <h5 class="heading--h5">Diffren affable jeez and We More to and shrugged hummingbird </h5>
                            <span class="blog-text-subheading">
                                posted by <a href="#">Admin</a>
                                <i class="ion-ios-arrow-forward">
                                    Music, Fun, Entertainment</i>
                            </span>
                            <p>
                                We More to and shrugged hummingbird broke since immeasurable morbidly Best of the
                                diffren affable jeez and We More to and shrugged hummingbird broke since immeasurable
                                morbidly diffren affable jeez and unlike naughty Be the orthis pointedly by in shrank.
                            </p>
                            <a href="#" class="blog-text-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            {# Sidemenu #}
            {% include(':includes:blogsidemenu.html.twig') %}
        </div>
    </section>

{% endblock %}
