{% extends "master.html.twig" %}

{% block content %}
    {% include(':includes:headerimage.html.twig') %}

    <section class="blog--detail">
        {% include ('renderer/block_renderer.html.twig') with {
        'blocks' : content.blocks
        } %}

        {% include (':includes:article_gallery.html.twig')  %}
    </section>
{% endblock %}