{% extends "master.html.twig" %}

{% set location = {} %}

{% block content %}
    {% include(':includes:headerimage.html.twig') %}

    <section class="contact">
        {% include ('renderer/block-renderer.html.twig') with {
            'blocks': content.blocks
        } %}
    </section>
{% endblock %}
