{% extends "master.html.twig" %}

{% block content %}
    <section class="artist">
        {% include(':includes:headerimage.html.twig') %}

        <h2 property="contentHeading" class="artist--detail-heading heading--h2">
            {% if content.contentHeading|default('') %}
                {{ content.contentHeading }}
            {% endif %}
        </h2>

        <div property="contentSubheading" class="artist--detail-subheading">
            {% if content.contentSubheading|default('') %}
                {{ content.contentSubheading|raw }}
            {% endif %}
        </div>

        {% include ('renderer/block_renderer.html.twig') with {
            'blocks' : content.blocks
        } %}
    </section>
{% endblock %}