{% extends "master.html.twig" %}

{% block content %}
    <section class="artist">
        {% include(':includes:headerimage.html.twig') %}

        {% include ('renderer/block_renderer.html.twig') with {
            'blocks' : content.blocks
        } %}
    </section>
{% endblock %}