{% extends "master.html.twig" %}

{% block content %}

    {% if content.slides|length %}
        <div property="slides">
            {% include('includes/slider.html.twig') with {
                'slides': content.slides
            } %}
        </div>
    {% endif %}

    <div property="blocks" typeof="collection">
        {% for item in content.blocks %}
            {% if item.type == 'biography' %}

                {% include('includes/biography.html.twig') with{
                    'biography' : item
                } %}

            {% elseif item.type == 'discography' %}

                {% include('includes/discography.html.twig') with {
                    'discography' : item
                } %}

            {% elseif item.type == 'news' %}

                {% include('includes/news.html.twig') with {
                    "news" : item
                } %}

            {% elseif item.type == 'artists' %}
                <div rel="blocks" typeof="block">
                    <div property="artistsBackground">
                        {% include('includes/team.html.twig') with {
                            'artists' : item,
                            'background' : 'imagebackground',
                            'backgroundImageUrl' : item.artistsBackground|first.url,
                            'kind' : 'heading--h2--border'
                        } %}
                    </div>
                </div>
            {% elseif item.type == 'partner' %}

                {% include('includes/partner.html.twig') with{
                    'partner' : item
                } %}

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
