{% extends "master.html.twig" %}

{% block content %}

    <div property="slides">
    {% if content.slides|length %}
        {% include('includes/slider.html.twig') with {
            'slides': content.slides
        } %}
    {% endif %}
    </div>

    {% include ('renderer/block_renderer.html.twig') with {
        'blocks' : content.blocks
    } %}
{% endblock %}
