{% extends "master.html.twig" %}

{% block content %}

    <div property="slides">
    {% if content.slides|length %}
        {% include('includes/slider.html.twig') with {
            'slides': content.slides
        } %}
    {% endif %}
    </div>

    <div property="blocks" typeof="collection">
        {% for item in content.blocks %}
            {% if item.type == 'biography' %}

                {% include('includes/biography.html.twig') with{
                    'biography' : item
                } %}

            {% elseif item.type == 'discography' %}

                {% include('includes/discography_element.html.twig') with {
                    'discography' : item
                } %}

            {% elseif item.type == 'news' %}

                {% include('includes/news.html.twig') with {
                    "news" : item
                } %}

            {% elseif item.type == 'artists' %}
                <div rel="blocks" typeof="block">
                    <div property="artistsBackground">
                        {% set backgroundImage = "" %}

                        {% if item.artistsBackground|length %}
                            {% set backgroundImage = item.artistsBackground|first.url %}
                        {% endif %}

                        {% include('includes/artists.html.twig') with {
                            'artists' : item,
                            'background' : 'imagebackground',
                            'backgroundImageUrl' : backgroundImage,
                            'kind' : 'heading--h2--border'
                        } %}
                    </div>
                </div>
            {% elseif item.type == 'partner' %}

                {% include('includes/partner.html.twig') with{
                    'partner' : item
                } %}

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
