{% extends "master.html.twig" %}

{% block content %}
    <section class="sidemap">
        <h4 class="title heading--h4--border">Sitemap</h4>
        <div class="grid">

            {% for site in sulu_sitemap().children %}
                <div class="grid__item desk--one-quarter lap--one-half palm--one-whole">
                    <div class="sidemap-item">
                        <h5 class="sidemap-item-subtitle heading--h5"><a href="{{ site.path }}">{{ site.title }}</a></h5>

                        {% if site.children[0] is defined %}
                            {% include(':includes:sitemap_list.html.twig') with {
                                "child" : site,
                                "base" : "true"
                            } %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
