{% extends "AppBundle::master.html.twig" %}
{# This is the template for the "Error:" pages. #}
{# Further information on twig templates can be found under #}
{# views/master.html.twig and views/templates/homepage.html.twig. #}
{% block content %}
    <div class="error">
        <img src="{{ asset('bundles/app/img/error.jpg') }}"/>

        <div class="error-content">
            <h2 class="heading--h2">Error {{ status_code }}</h2>

            <p class="error-content-text">{{ status_text }}</p>

            <a href="/" class="button--large">{{ 'homepage'|trans }}</a>
        </div>
    </div>
{% endblock %}
