<div property="blocks" typeof="collection">
    {% if blocks|length  %}
        {% for block in blocks %}
            {% include ('AppBundle:renderer:blocks/' ~ block.type ~ '.html.twig') with {
                'block' : block
            } %}
        {% endfor %}
    {% endif %}
</div>