.artists {
    max-width: $maxwidth;
    margin: 150px auto -50px auto;
    overflow: hidden;

    &-content {
        margin: 0 -25px;

        &-elem {
            padding: 0 25px;
            box-sizing: border-box;
            margin-bottom: 50px;

            &-image {
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                }

                .no-touchevents &:hover {
                    .artists-content-elem-image-hover {
                        display: block;
                    }
                }

                &-hover {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    text-align: center;

                    &:before {
                        content: '';
                        top: 0;
                        left: 0;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        background-color: $colorred--lighter02;
                        opacity: 0.75;
                    }

                    .heading--h1 {
                        @include vertical-align(absolute);
                        font-size: 64px;
                        line-height: 50px;
                        word-spacing: 9999999px;
                        left: 0;
                        width: 100%;
                    }
                }
            }

            &-text {
                padding: 20px;
                box-sizing: border-box;
                background-color: $colorblack--lighter05;

                &-date {
                    font-size: 13px;
                    line-height: 15px;
                    color: $colorblack--lighter03;
                }

                &-artist {
                    color: $colorblack;
                    font-size: 24px;
                    line-height: 26px;
                    font-weight: bold;
                    margin: 5px 0;
                    display: block;
                    box-sizing: border-box;
                }

                &-posted {
                    display: block;
                    margin-bottom: 5px;

                    &-rectangle {
                        width: 14px;
                        height: 14px;
                        display: inline-block;
                        background-color: $colorred--lighter01;
                        margin-right: 7px;
                        vertical-align: middle;
                        line-height: 14px;
                    }

                    &-by {
                        display: inline-block;
                        color: $colorblack--lighter03;
                        font-size: 12px;
                        line-height: 14px;
                        vertical-align: middle;
                        margin-right: 13px;
                    }

                    &-author {
                        display: inline-block;
                        color: $colorblack--lighter01;
                        font-size: 12px;
                        line-height: 14px;
                        vertical-align: middle;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media (max-width: $maxwidth + 20px) {
    .artists {
        padding: 0 20px;
    }
}

@media (max-width: $tablet) {
    .artists {
        padding: 50px 75px 0 75px;
        margin: 0;

        &-content {
            margin: 0 -10px;

            &-elem {
                padding: 0 10px;
            }
        }
    }
}

@media (max-width: 700px) {
    .artists {
        padding: 15px 15px 0 15px;
        margin: 0;
    }
}

@media (max-width: $mobile) {
    .artists-content-elem {
        margin-bottom: 15px;
    }
}