.blog {
    max-width: $maxwidth;
    margin: 150px auto 0 auto;

    &-item {
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }

        &-image {
            width: 100%;
        }

        &-text {
            padding-left: 20%;

            .author {
                padding: 0;
                margin-bottom: 20px;
            }

            &-date {
                font-size: 13px;
                color: #929292;
            }

            &-heading {
                font-size: 24px;
                line-height: 26px;
                color: $colorblack;
                margin: 8px 0 13px 0;
                font-weight: bold;
            }

            &-text {
                display: block;
                display: -webkit-box;
                max-width: 100%;
                max-height: 63px;
                font-size: 14px;
                line-height: 1.5;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@media (max-width: $maxwidth + 20) {
    .blog {
        padding: 0 20px;

        &-item-text {
            padding-left: 60px;
        }
    }
}

@media (max-width: $tablet) {
    .blog {
        padding: 0 75px;

        &-item {
            margin-bottom: 50px;

            &-text {
                padding-left: 10%;
            }

            .author {
                margin: 0 0 15px 0;
            }

            .button--medium {
                margin: 15px 0 0 0;
            }
        }
    }
}

@media (max-width: 800px) and (min-width: $mobile) {
    .blog-item-text {
        &-heading {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3px 0 8px 0;
        }

        .author {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 700px) {
    .blog {
        padding: 0 15px;
    }
}

@media (max-width: 650px) {
    .blog {
        &-item {
            &-text {
                padding-left: 10%;

                .author {
                    display: none;
                }

                .button--medium {
                    margin: 10px 0 0 0;
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .blog {
        &-item {
            margin-bottom: 25px;

            &-text {
                padding: 15px;
            }

            .author {
                display: block;
            }

            .button--medium {
                margin: 25px 0 0 0;
            }
        }
    }
}