parameters:
    env(MASSIVE_SEARCH_PREFIX): 'massive'
    env(ELASTICSEARCH_HOST): '127.0.0.1:9200'

massive_search:
    metadata:
        prefix: '%env(resolve:MASSIVE_SEARCH_PREFIX)%'

# By default massive search uses zend lucene index saved in var/indexes folder
# For multi server setup you can switch to the elasticsearch adapter:
    adapter: elastic
    adapters:
        elastic:
            version: 7.13
            hosts: ['%env(resolve:ELASTICSEARCH_HOST)%']

when@test:
    massive_search:
        adapter: test
