when@prod: &prod
    sentry:
        dsn: "%env(SENTRY_DSN)%"
        register_error_listener: false # Disable ErrorListener to avoid duplicated events because of monolog handler
        options:
            attach_stacktrace: true # Attach stacktrace to monolog events that do not include an exception
            send_default_pii: false # Do not include personally identifiable information like user, cookies and headers

    monolog:
        handlers:
            sentry:
                type: sentry
                level: !php/const Monolog\Logger::ERROR
                hub_id: Sentry\State\HubInterface

when@stage: *prod
