<!DOCTYPE html>
<html>
    {# Sulu uses Twig for rendering HTML. #}
    {# Further information can be found in the documentation: #}
    {# http://docs.sulu.io/en/latest/book/twig.html #}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if extension is defined and content is defined %}
            {%- include 'SuluWebsiteBundle:Extension:seo.html.twig' with
                {
                    seo: extension.seo,
                    content: content,
                    urls: urls,
                    shadowBaseLocale: shadowBaseLocale,
                    defaultLocale: request.defaultLocale
                }
            %}
        {% endif %}

        {% block meta %}{% endblock %}

        {% block style %}
            {# For styling we use SCSS files and then create a minimized CSS file with Compass. #}
            {# Further information on how to use SCSS and Compass in their websites: #}
            {# http://sass-lang.com/ #}
            {# http://compass-style.org/help/ #}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
        {% endblock %}

        {# Modernizer helps at detecting the functionality supported by different browsers. #}
        <script src="{{ asset('bundles/app/js/modernizer.min.js') }}"></script>
    </head>
    <body>
        <header>
            {% block header %}
                {% include('AppBundle:includes:demo-bar.html.twig') %}

                {% include('AppBundle:blocks:navigation.html.twig') %}
            {% endblock %}
        </header>

        <section id="content" vocab="http://schema.org/" typeof="Content">
            {% block content %}
            {# The content of the page. #}
            {# Have a look at app/Resources/views/templates/homepage.html.twig for an example. #}
            {% endblock %}
        </section>

        <aside>
            {% block aside %}{% endblock %}
        </aside>
        
        {% block footer %}
            {% include('AppBundle:blocks:footer.html.twig') %}
        {% endblock %}

        {% block javascripts %}
            {# Here we integrate our minified js file and init the components afterwards. #}
            <script src="{{ asset('bundles/app/js/demo.min.js') }}"></script>

            <script type="text/javascript">
                Demo.init();
            </script>

            {# When we are in live preview we start our live preview component. #}
            {# This component starts a mutation observer that restarts our js components if needed. #}
            {% if app.request.get('preview') %}
                <script type="text/javascript">
                    Demo.Preview.init();
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
