<!DOCTYPE html>
<html>
    {# Sulu uses Twig for rendering HTML further information on this can be found under: #}
    {# http://docs.sulu.io/en/latest/book/twig.html #}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if extension is defined and content is defined %}
            {{ sulu_seo(extension.seo, content, urls|default([]), shadowBaseLocale|default(''))|raw }}
        {% endif %}

        {% block meta %}{% endblock %}

        {% block style %}
            {# For styling we use SCSS files and then create a minimized css file with compass #}
            {# Further informatin on how to use SCSS and Compass in their websites: #}
            {# http://sass-lang.com/ #}
            {# http://compass-style.org/help/ #}
            {# Here we include that minimized css file #}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
        {% endblock %}

        {# We use modernizer for correct behavier of our website #}
        <script src="{{ asset('bundles/app/js/modernizer.min.js') }}"></script>
    </head>
    <body>
        <header>
            {% block header %}
                {% include('AppBundle:includes:demo-bar.html.twig') %}

                {% include('AppBundle:blocks:navigation.html.twig') %}
            {% endblock %}
        </header>

        <section id="content" vocab="http://schema.org/" typeof="Content">
            {% block content %}
            {# In this block our main content will be rendered habe a look at #}
            {# templates/homepage.html.twig to see how we structur our project #}
            {% endblock %}
        </section>

        <aside>
            {% block aside %}{% endblock %}
        </aside>


        {% block footer %}
            {% include('AppBundle:blocks:footer.html.twig') %}
        {% endblock %}

        {% block javascripts %}
            {# Here we integrate our minified js file and init the components afterwards #}
            <script src="{{ asset('bundles/app/js/demo.min.js') }}"></script>

            <script type="text/javascript">
                Demo.init();
            </script>

            {# When we are in live Preview we start our Live Preview component #}
            {# This component starts a mutation observer that restarts our js components if needed #}
            {% if app.request.get('preview') %}
                <script type="text/javascript">
                    Demo.Preview.init();
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
