{# {% if content.title %}<span class="headline">{{ content.title|raw }}</span>{% endif %} #}
<article class="section section-ar" aria-label='Augmented Reality' data-anim-scroll-group='AR'>
    <div class="grid grid-container">
        <div class="grid-item large-span-12">
            <div id="ar-gallery" aria-label="AR" class="ar-gallery gallery gallery-container fade row" data-component-list="ARGallery">
                <div class="column column-copy large-5 small-12 large-offset-1 small-offset-0">
                    <div class="copy-container">
                        <noscript>
                            <style>
                                picture#overview-ar-icon-1 {
                                    display: none !important;
                                }
                            </style>
                        </noscript>
                        <picture id="overview-ar-icon-1" class="overview-ar-icon" data-picture-lazy-load>
                            <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                            </source>
                            <source srcset="/build/website/img/overview/pro/ar_icon__bzce6wem1gya_medium.png 1x, /build/website/img/overview/pro/ar_icon__bzce6wem1gya_medium_2x.png 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/ar_icon__bzce6wem1gya_large.png 1x, /build/website/img/overview/pro/ar_icon__bzce6wem1gya_large_2x.png 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/ar_icon__bzce6wem1gya_large_2x.png" class="overview-ar-icon-img" width="100%" height="100%" alt="">
                        </picture>
                        <noscript>
                            <picture class="overview-ar-icon">
                                <source srcset="/build/website/img/overview/pro/ar_icon__bzce6wem1gya_medium.png 1x, /build/website/img/overview/pro/ar_icon__bzce6wem1gya_medium_2x.png 2x" media="(max-width:1068px)">
                                <source srcset="/build/website/img/overview/pro/ar_icon__bzce6wem1gya_large.png 1x, /build/website/img/overview/pro/ar_icon__bzce6wem1gya_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/ar_icon__bzce6wem1gya_large_2x.png" class="overview-ar-icon-img" width="100%" height="100%" alt="">
                            </picture>
                        </noscript>
                        <h2 class="visuallyhidden">AR</h2>
                        <h3 class="section-headline typography-headline">Use AR to see MacBook Pro 13&quot; in your workspace.</h3>
                        <p class="section-intro typography-body quicklook-hide">Open this page using Safari on&nbsp;your iPhone or iPad.</p>
                        <div class="colornav">
                            <ul class="colornav-items" role="tablist" aria-label="">
                                <li class="colornav-item" role="presentation">
                                    <button class="colornav-link" id="ar-item-silver-trigger" data-ac-gallery-trigger="ar-item-silver">
                                        <div class="colornav-swatch colornav-swatch-silver no-inversion">
                                            <span class="colornav-label no-inversion">Silver</span>
                                        </div>
                                    </button>
                                </li>
                                <li class="colornav-item" role="presentation">
                                    <button class="colornav-link" id="ar-item-spacegray-trigger" data-ac-gallery-trigger="ar-item-spacegray">
                                        <div class="colornav-swatch colornav-swatch-spacegray no-inversion">
                                            <span class="colornav-label no-inversion">Space Gray</span>
                                        </div>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <p class="typography-section-intro-reduced quicklook-cta quicklook-cta-classic typography-section-intro quicklook-component">
                            <a rel="ar" href="https://www.apple.com/105/media/us/macbook-pro-13/2020/f2b14406-42ad-405e-bfa0-71b52a0bfd67/quick-look/macbook_pro_13in_2port_m1_chip_silver_ios12.usdz" data-analytics-title="see macbook pro 13 in ar - classic" data-analytics-click="prop3:macbook pro 13 in ar - classic" data-analytics-intrapage-link>
                                <img src="/build/website/img/overview/pro/quicklook_placeholder__v2xxp8c8wpea_large.jpg">
                                <span>See MacBook Pro 13&quot; in AR</span>
                            </a>
                        </p>
                        <p class="typography-section-intro-reduced quicklook-cta quicklook-cta-modern typography-section-intro quicklook-component">
                            <a rel="ar" href="https://www.apple.com/105/media/us/macbook-pro-13/2020/f2b14406-42ad-405e-bfa0-71b52a0bfd67/quick-look/macbook_pro_13in_2port_m1_chip_silver_ios14.usdz" data-analytics-title="see macbook pro 13 in ar - modern" data-analytics-click="prop3:macbook pro 13 in ar - modern" data-analytics-intrapage-link>
                                <img src="/build/website/img/overview/pro/quicklook_placeholder__v2xxp8c8wpea_large.jpg">
                                <span>See MacBook Pro 13&quot; in AR</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="column column-image large-5 medium-6 small-12 align-self-end">
                    <div class="item-container">
                        <div id="ar-item-silver" data-ac-gallery-item class="gallery-item" data-quicklook-classic-url="https://www.apple.com/105/media/us/macbook-pro-13/2020/f2b14406-42ad-405e-bfa0-71b52a0bfd67/quick-look/macbook_pro_13in_2port_m1_chip_silver_ios12.usdz" data-quicklook-modern-url="https://www.apple.com/105/media/us/macbook-pro-13/2020/f2b14406-42ad-405e-bfa0-71b52a0bfd67/quick-look/macbook_pro_13in_2port_m1_chip_silver_ios14.usdz" data-quicklook-accessibility-label="See silver MacBook Pro 13 inch in AR">
                            <noscript>
                                <style>
                                    picture#overview-ar-silver-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <picture id="overview-ar-silver-1" class="overview-ar-silver" data-picture-lazy-load>
                                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                </source>
                                <source srcset="/build/website/img/overview/pro/ar_silver__esaq47dfhtaq_small.jpg 1x, /build/website/img/overview/pro/ar_silver__esaq47dfhtaq_small_2x.jpg 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/ar_silver__esaq47dfhtaq_medium.jpg 1x, /build/website/img/overview/pro/ar_silver__esaq47dfhtaq_medium_2x.jpg 2x" media="(max-width:1068px)">
                                <source srcset="/build/website/img/overview/pro/ar_silver__esaq47dfhtaq_large.jpg 1x, /build/website/img/overview/pro/ar_silver__esaq47dfhtaq_large_2x.jpg 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/ar_silver__esaq47dfhtaq_large_2x.jpg" class="overview-ar-silver-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-ar-silver">
                                    <source srcset="/build/website/img/overview/pro/ar_silver__esaq47dfhtaq_small.jpg 1x, /build/website/img/overview/pro/ar_silver__esaq47dfhtaq_small_2x.jpg 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/ar_silver__esaq47dfhtaq_medium.jpg 1x, /build/website/img/overview/pro/ar_silver__esaq47dfhtaq_medium_2x.jpg 2x" media="(max-width:1068px)">
                                    <source srcset="/build/website/img/overview/pro/ar_silver__esaq47dfhtaq_large.jpg 1x, /build/website/img/overview/pro/ar_silver__esaq47dfhtaq_large_2x.jpg 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/ar_silver__esaq47dfhtaq_large_2x.jpg" class="overview-ar-silver-img" width="100%" height="100%" alt="">
                                </picture>
                            </noscript>
                        </div>
                        <div id="ar-item-spacegray" data-ac-gallery-item class="gallery-item" data-quicklook-classic-url="https://www.apple.com/105/media/us/macbook-pro-13/2020/f2b14406-42ad-405e-bfa0-71b52a0bfd67/quick-look/macbook_pro_13in_2port_m1_chip_space_gray_ios12.usdz" data-quicklook-modern-url="https://www.apple.com/105/media/us/macbook-pro-13/2020/f2b14406-42ad-405e-bfa0-71b52a0bfd67/quick-look/macbook_pro_13in_2port_m1_chip_space_gray_ios14.usdz" data-quicklook-accessibility-label="See space gray MacBook Pro 13 inch in AR">
                            <noscript>
                                <style>
                                    picture#overview-ar-spacegray-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <picture id="overview-ar-spacegray-1" class="overview-ar-spacegray" data-picture-lazy-load>
                                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                </source>
                                <source srcset="/build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_small.jpg 1x, /build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_small_2x.jpg 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_medium.jpg 1x, /build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_medium_2x.jpg 2x" media="(max-width:1068px)">
                                <source srcset="/build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_large.jpg 1x, /build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_large_2x.jpg 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_large_2x.jpg" class="overview-ar-spacegray-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-ar-spacegray">
                                    <source srcset="/build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_small.jpg 1x, /build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_small_2x.jpg 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_medium.jpg 1x, /build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_medium_2x.jpg 2x" media="(max-width:1068px)">
                                    <source srcset="/build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_large.jpg 1x, /build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_large_2x.jpg 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/ar_spacegray__b9qevc88chf6_large_2x.jpg" class="overview-ar-spacegray-img" width="100%" height="100%" alt="">
                                </picture>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>