{# {% if content.title %}<span class="headline">{{ content.title|raw }}</span>{% endif %} #}
<article class="section section-camera section-pad-top" aria-label='Camera'>
    <header class="section-header" data-component-list='TriggeredAnimation' data-anim-start='a0t - 9vh' data-analytics-section-engagement='name:camera intro'>
        <div class="section-content">
            <h2 class="section-eyebrow typography-headline-super">Camera and mics</h2>
            <p class="section-header-headline typography-headline-super no-margin-top large-9 medium-11 small-12">Be seen. Be heard.</p>
            <p class="section-header-intro typography-badge-caption large-9 medium-11 small-12">Thanks to M1, the FaceTime HD camera can now take full advantage of our latest image signal processor — improving image quality in video conferences and pulling out more details in both shadows and highlights. And whether you’re running a meeting, hosting a podcast, or connecting with friends and family, new studio-quality mics will make sure everyone hears you loud and clear.</p>
            <div class="section-header-hardware-screen-container overview-camera-media-container">
                <noscript>
                    <style>
                        picture#overview-camera-hero-screen-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-camera-hero-screen-1" class="overview-camera-hero-screen section-header-screen" data-picture-lazy-load>
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_small.png 1x, /build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_small_2x.png 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_medium.png 1x, /build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_medium_2x.png 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_large.png 1x, /build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_large_2x.png 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_large_2x.png" class="overview-camera-hero-screen-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-camera-hero-screen section-header-screen">
                        <source srcset="/build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_small.png 1x, /build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_small_2x.png 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_medium.png 1x, /build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_medium_2x.png 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_large.png 1x, /build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_large_2x.png 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/camera_hero_screen__tgpl9q3xy1ei_large_2x.png" class="overview-camera-hero-screen-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
                <noscript>
                    <style>
                        picture#overview-camera-hero-hardware-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-camera-hero-hardware-1" class="overview-camera-hero-hardware section-header-hardware" data-picture-lazy-load>
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_small.jpg 1x, /build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_medium.jpg 1x, /build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_large.jpg 1x, /build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_large_2x.jpg" class="overview-camera-hero-hardware-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-camera-hero-hardware section-header-hardware">
                        <source srcset="/build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_small.jpg 1x, /build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_medium.jpg 1x, /build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_large.jpg 1x, /build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/camera_hero_hardware__cfpmer0zbeeu_large_2x.jpg" class="overview-camera-hero-hardware-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
            </div>
        </div>
    </header>
    <div class="grid grid-container">
        <section class="grid-item large-span-7 medium-span-6 small-span-12 grid-item-facetime" data-analytics-section-engagement="name:facetime">
            <header class="grid-item-header large-10 small-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">FaceTime HD camera</h3>
                <p class="grid-item-copy typography-item-description">The M1 chip even helps you look your best. Highlights in low light have never looked better. Advanced noise reduction makes dark areas sharper. And face detection uses the Neural Engine to better adjust white balance and exposure levels for even more natural&#x2011;looking skin tones.</p>
            </header>
            <div class="grid-item-content">
                <div class="text-content large-10 small-12">
                    <noscript>
                        <style>
                            picture#overview-facetime-1 {
                                display: none !important;
                            }
                        </style>
                    </noscript>
                    <picture id="overview-facetime-1" class="overview-facetime" data-picture-lazy-load>
                        <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                        </source>
                        <source srcset="/build/website/img/overview/pro/facetime__de08jpatpuwm_small.png 1x, /build/website/img/overview/pro/facetime__de08jpatpuwm_small_2x.png 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/facetime__de08jpatpuwm_medium.png 1x, /build/website/img/overview/pro/facetime__de08jpatpuwm_medium_2x.png 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/facetime__de08jpatpuwm_large.png 1x, /build/website/img/overview/pro/facetime__de08jpatpuwm_large_2x.png 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/facetime__de08jpatpuwm_large_2x.png" class="overview-facetime-img" width="100%" height="100%" alt="">
                    </picture>
                    <noscript>
                        <picture class="overview-facetime">
                            <source srcset="/build/website/img/overview/pro/facetime__de08jpatpuwm_small.png 1x, /build/website/img/overview/pro/facetime__de08jpatpuwm_small_2x.png 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/facetime__de08jpatpuwm_medium.png 1x, /build/website/img/overview/pro/facetime__de08jpatpuwm_medium_2x.png 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/facetime__de08jpatpuwm_large.png 1x, /build/website/img/overview/pro/facetime__de08jpatpuwm_large_2x.png 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/facetime__de08jpatpuwm_large_2x.png" class="overview-facetime-img" width="100%" height="100%" alt="">
                        </picture>
                    </noscript>
                </div>
            </div>
        </section>
        <section class="grid-item large-span-5 medium-span-6 small-span-12 grid-item-microphone" data-analytics-section-engagement="name:microphone">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Three-mic array</h3>
            </header>
            <div class="grid-item-content">
                <div class="text-content large-12">
                    <p class="typography-headline-little grid-headline-little">Studio quality. Without the studio. <span class="text-contrast">An improved signal&#x2011;to&#x2011;noise ratio rivals that of professional&#x2011;grade microphones.</span></p>
                    <div class="inline-video block-inline-video" data-component-list="InlineMedia">
                        <noscript>
                            <style>
                                picture#overview-microphones-startframe-1 {
                                    display: none !important;
                                }
                            </style>
                        </noscript>
                        <picture id="overview-microphones-startframe-1" class="overview-microphones-startframe start-frame" data-picture-lazy-load aria-hidden="true">
                            <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                            </source>
                            <source srcset="/build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_small.jpg 1x, /build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_small_2x.jpg 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_medium.jpg 1x, /build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_medium_2x.jpg 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_large.jpg 1x, /build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_large_2x.jpg 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_large_2x.jpg" class="overview-microphones-startframe-img" width="100%" height="100%" alt="">
                        </picture>
                        <noscript>
                            <picture class="overview-microphones-startframe start-frame">
                                <source srcset="/build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_small.jpg 1x, /build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_small_2x.jpg 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_medium.jpg 1x, /build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_medium_2x.jpg 2x" media="(max-width:1068px)">
                                <source srcset="/build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_large.jpg 1x, /build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_large_2x.jpg 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/microphones_startframe__ce7dg09jwpiu_large_2x.jpg" class="overview-microphones-startframe-img" width="100%" height="100%" alt="">
                            </picture>
                        </noscript>
                        <video class="video" muted playsinline data-inline-media preload='none' role='presentation' data-inline-media-play-keyframe='{ &quot;start&quot;: &quot;a0t-25vh&quot;, &quot;end&quot;: &quot;a0b&quot;,&quot;anchors&quot;:[&quot;.grid-item-microphone&quot;] }' data-inline-media-basepath="/build/website/mp4/anim/microphones/" data-inline-media-plugins="AnimLoad, PlayOnce, AnimPlay, ViewportSourceResetBreakpoint, LoadTimeout" data-load-timeout="5000"></video>
                        <noscript>
                            <style>
                                picture#overview-microphones-endframe-1 {
                                    display: none !important;
                                }
                            </style>
                        </noscript>
                        <picture id="overview-microphones-endframe-1" class="overview-microphones-endframe end-frame" data-picture-lazy-load aria-hidden="true">
                            <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                            </source>
                            <source srcset="/build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_small.jpg 1x, /build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_small_2x.jpg 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_medium.jpg 1x, /build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_medium_2x.jpg 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_large.jpg 1x, /build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_large_2x.jpg 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_large_2x.jpg" class="overview-microphones-endframe-img" width="100%" height="100%" alt="">
                        </picture>
                        <noscript>
                            <picture class="overview-microphones-endframe end-frame">
                                <source srcset="/build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_small.jpg 1x, /build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_small_2x.jpg 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_medium.jpg 1x, /build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_medium_2x.jpg 2x" media="(max-width:1068px)">
                                <source srcset="/build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_large.jpg 1x, /build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_large_2x.jpg 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/microphones_endframe__bqtiqn957ak2_large_2x.jpg" class="overview-microphones-endframe-img" width="100%" height="100%" alt="">
                            </picture>
                        </noscript>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>