{# {% if content.title %}<span class="headline">{{ content.title|raw }}</span>{% endif %} #}
<article class="section section-chip section-pad-top" aria-label='Chip'>
    <header class="section-header" data-analytics-section-engagement='name:chip intro'>
        <div class="section-content">
            <h2 class="section-eyebrow">
                <noscript>
                    <style>
                        picture#overview-m1-eyebrow-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-m1-eyebrow-1" class="overview-m1-eyebrow" data-picture-lazy-load>
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_small.png 1x, /build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_small_2x.png 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_medium.png 1x, /build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_medium_2x.png 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_large.png 1x, /build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_large_2x.png 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_large_2x.png" class="overview-m1-eyebrow-img" width="100%" height="100%" alt="M1 Chip">
                </picture>
                <noscript>
                    <picture class="overview-m1-eyebrow">
                        <source srcset="/build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_small.png 1x, /build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_small_2x.png 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_medium.png 1x, /build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_medium_2x.png 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_large.png 1x, /build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_large_2x.png 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/m1_eyebrow__fxvza4sqyfma_large_2x.png" class="overview-m1-eyebrow-img" width="100%" height="100%" alt="M1 Chip">
                    </picture>
                </noscript>
            </h2>
            <p class="section-header-headline typography-headline-super no-margin-top large-10 medium-12">Small chip. Giant leap.</p>
            <p class="section-header-intro typography-badge-caption large-9 medium-11 small-12">It’s here. Our first chip designed specifically for Mac. Packed with an astonishing 16 billion transistors, the Apple M1 system on a chip (SoC) integrates the CPU, GPU, Neural Engine, I/O, and so much more onto a single tiny chip. With incredible performance, custom technologies, and industry-leading power efficiency<sup class="footnote footnote-number"><a href="#footnote-4" aria-label="Footnote 1">1</a></sup>, M1 is not just a next step for Mac — it’s another level entirely.</p>
            <a href="https://www.apple.com/ua/mac/m1/" data-analytics-title="learn more about m1" class="icon-wrapper section-header-cta typography-label"><span class="icon-copy">Learn more about M1</span><span class="icon icon-after more"></span></a>
            <div class="inline-video" data-component-list="InlineMedia">
                <noscript>
                    <style>
                        picture#overview-apple-silicon-startframe-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-apple-silicon-startframe-1" class="overview-apple-silicon-startframe start-frame" data-picture-lazy-load data-download-area-keyframe='{ &quot;start&quot;: &quot;50px&quot;, &quot;end&quot;: &quot;b + 100vh&quot; }' aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_small.jpg 1x, /build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_medium.jpg 1x, /build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_large.jpg 1x, /build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_large_2x.jpg" class="overview-apple-silicon-startframe-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-apple-silicon-startframe start-frame">
                        <source srcset="/build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_small.jpg 1x, /build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_medium.jpg 1x, /build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_large.jpg 1x, /build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/apple_silicon_startframe__dcmoeox9zxw2_large_2x.jpg" class="overview-apple-silicon-startframe-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
                <video class="video" muted playsinline data-inline-media preload='none' role='presentation' data-inline-media-load-keyframe='{ &quot;start&quot;: &quot;50px&quot;, &quot;end&quot;: &quot;b + 100vh&quot; }' data-inline-media-play-keyframe='{ &quot;start&quot;: &quot;a0t - 50vh&quot;, &quot;end&quot;: &quot;a1b + 50vh&quot;, &quot;anchors&quot;: [&quot;.section-chip .section-header-intro&quot;, &quot;.section-chip .section-content&quot;] }' data-inline-media-basepath="/build/website/mp4/anim/chip/" data-inline-media-plugins="AnimLoad, PlayOnce, AnimPlay, ViewportSourceResetBreakpoint, LoadTimeout" data-load-timeout="5000"></video>
                <noscript>
                    <style>
                        picture#overview-apple-silicon-endframe-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-apple-silicon-endframe-1" class="overview-apple-silicon-endframe end-frame" data-picture-lazy-load data-download-area-keyframe='{ &quot;start&quot;: &quot;50px&quot;, &quot;end&quot;: &quot;b + 100vh&quot; }' aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_small.jpg 1x, /build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_medium.jpg 1x, /build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_large.jpg 1x, /build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_large_2x.jpg" class="overview-apple-silicon-endframe-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-apple-silicon-endframe end-frame">
                        <source srcset="/build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_small.jpg 1x, /build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_medium.jpg 1x, /build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_large.jpg 1x, /build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/apple_silicon_endframe__edjmfkmei5me_large_2x.jpg" class="overview-apple-silicon-endframe-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
            </div>
        </div>
    </header>
    <div class="grid grid-container">
        <section class="grid-item large-span-12 grid-item-processor" data-component-list="ModalComponent" data-analytics-section-engagement="name:processor">
            <header class="grid-item-header large-6">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">CPU</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div class="text-content large-12">
                    <p class="typography-headline-super grid-headline-super"><span class="color-secondary">8-core CPU</span> We’re on a power chip.</p>
                    <p class="typography-item-description grid-item-description">The M1 chip makes MacBook Pro outrageously fast and powerful. Its 8&#x2011;core CPU rips through complex workflows and heavy workloads, with up to 2.8x faster processing performance than the previous generation<sup class="footnote footnote-number"><a href="#footnote-5" aria-label="Footnote 2">2</a></sup> — all with unbelievable energy efficiency.</p>
                </div>
            </div>
            <div class="grid-item-modal-trigger-wrap">
                <button class="button button-compact grid-item-modal-trigger" data-analytics-click="prop3: open modal | see how m1 redefines speed" data-analytics-title="open modal | see how m1 redefines speed" data-analytics-intrapage-link>
                    See how M1<br class="small" /> redefines speed
                </button>
            </div>
            <noscript>
                <style>
                    picture#overview-processor-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-processor-1" class="overview-processor" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/processor__t4s51e0n7giy_small.png 1x, /build/website/img/overview/pro/processor__t4s51e0n7giy_small_2x.png 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/processor__t4s51e0n7giy_medium.png 1x, /build/website/img/overview/pro/processor__t4s51e0n7giy_medium_2x.png 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/processor__t4s51e0n7giy_large.png 1x, /build/website/img/overview/pro/processor__t4s51e0n7giy_large_2x.png 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/processor__t4s51e0n7giy_large_2x.png" class="overview-processor-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-processor">
                    <source srcset="/build/website/img/overview/pro/processor__t4s51e0n7giy_small.png 1x, /build/website/img/overview/pro/processor__t4s51e0n7giy_small_2x.png 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/processor__t4s51e0n7giy_medium.png 1x, /build/website/img/overview/pro/processor__t4s51e0n7giy_medium_2x.png 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/processor__t4s51e0n7giy_large.png 1x, /build/website/img/overview/pro/processor__t4s51e0n7giy_large_2x.png 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/processor__t4s51e0n7giy_large_2x.png" class="overview-processor-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
            <div class="grid-item-modal">
                <div class="grid-item-modal-content">
                    <h3 class="typography-eyebrow-reduced">CPU</h3>
                    <p><span class="subhead">8-core CPU</span> The 8-core CPU in M1 is the highest-performing CPU we’ve ever built, by far. It combines four performance cores and four efficiency cores that work together to tackle demanding multithreaded tasks, resulting in a quantum leap in performance at a fraction of the power — and a significant boost to battery life.</p>
                    <p><span class="subhead">Four performance cores</span> Our high-performance core is the world’s fastest CPU core when it comes to low-power silicon<sup class="footnote footnote-number"><a href="#footnote-6" aria-label="Footnote 3">3</a></sup> — and M1 has four of them combining their efforts for a massive boost in performance. Compile in Xcode in significantly less time. Record, mix, and master professional-quality music in Logic Pro with scores of tracks, plug&#x2011;ins, and virtual instruments. And create stunning images in Adobe Lightroom with unprecedented speed and responsiveness.</p>
                    <p><span class="subhead">Four efficiency cores</span> Four efficiency cores deliver outstanding performance for everyday tasks using just a tenth of the power. These e&#x2011;cores are the most efficient place to run lightweight tasks, allowing the performance cores to tackle the most demanding workloads.</p>
                    <div id="processor-subsection-gallery" aria-label="processor gallery" class="gallery subsection-gallery" data-component-list="BarGalleryComponent" data-analytics-gallery-id="cpu gallery">
                        <div class="tabnav-wrapper">
                            <div class="tabnav">
                                <ul role="tablist" class="tabnav-items tablist-wrapper typography-manifesto">
                                    <li role="presentation" class="tabnav-item current typography-label-bold">
                                        <a role="tab" href="#processor-gallery-item-1" id="processor-gallery-item-1-trigger" data-ac-gallery-trigger="processor-gallery-item-1" data-analytics-gallery-item-id="">
                                            Xcode
                                        </a>
                                        <span class="separator" aria-hidden="true">/</span>
                                    </li>
                                    <li role="presentation" class="tabnav-item typography-label-bold">
                                        <a role="tab" href="#processor-gallery-item-2" id="processor-gallery-item-2-trigger" data-ac-gallery-trigger="processor-gallery-item-2" data-analytics-gallery-item-id="">
                                            Final Cut Pro
                                        </a>
                                        <span class="separator" aria-hidden="true">/</span>
                                    </li>
                                    <li role="presentation" class="tabnav-item typography-label-bold">
                                        <a role="tab" href="#processor-gallery-item-3" id="processor-gallery-item-3-trigger" data-ac-gallery-trigger="processor-gallery-item-3" data-analytics-gallery-item-id="">
                                            Affinity Photo
                                        </a>
                                        <span class="separator" aria-hidden="true">/</span>
                                    </li>
                                    <li role="presentation" class="tabnav-item typography-label-bold">
                                        <a role="tab" href="#processor-gallery-item-4" id="processor-gallery-item-4-trigger" data-ac-gallery-trigger="processor-gallery-item-4" data-analytics-gallery-item-id="">
                                            Logic Pro
                                        </a>
                                        <span class="separator" aria-hidden="true">/</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-container">
                            <div id="processor-gallery-item-1" data-ac-gallery-item class="gallery-item current">
                                <div class="group">
                                    <div class="flex">
                                        <div class="bars-container">
                                            <div class="bar-container">
                                                <div class="bar-mask">
                                                    <div class="bar bar-1"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">13-inch MacBook Pro with Apple M1 chip</p>
                                            </div>
                                            <div class="bar-container">
                                                <div class="bar-mask" data-bar-width="0.35">
                                                    <div class="bar bar-2"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">Previous-generation 13-inch MacBook Pro (Baseline)</p>
                                            </div>
                                        </div>
                                        <figure class="badge subsection-gallery-modal">
                                            <div class="badge-content"><span class="badge-value">2.8<span class="badge-subvalue">X</span></span><span class="badge-caption">faster project build<sup class="footnote footnote-number"><a href="#footnote-5" aria-label="Footnote 2">2</a></sup></span></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="processor-gallery-item-2" data-ac-gallery-item class="gallery-item">
                                <div class="group">
                                    <div class="flex">
                                        <div class="bars-container">
                                            <div class="bar-container">
                                                <div class="bar-mask">
                                                    <div class="bar bar-1"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">13-inch MacBook Pro with Apple M1 chip</p>
                                            </div>
                                            <div class="bar-container">
                                                <div class="bar-mask" data-bar-width="0.35">
                                                    <div class="bar bar-2"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">Previous-generation 13-inch MacBook Pro (Baseline)</p>
                                            </div>
                                        </div>
                                        <figure class="badge subsection-gallery-modal">
                                            <div class="badge-content"><span class="badge-value">2.8<span class="badge-subvalue">X</span></span><span class="badge-caption">faster ProRes transcode<sup class="footnote footnote-number"><a href="#footnote-7" aria-label="Footnote 4">4</a></sup></span></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="processor-gallery-item-3" data-ac-gallery-item class="gallery-item">
                                <div class="group">
                                    <div class="flex">
                                        <div class="bars-container">
                                            <div class="bar-container">
                                                <div class="bar-mask">
                                                    <div class="bar bar-1"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">13-inch MacBook Pro with Apple M1 chip</p>
                                            </div>
                                            <div class="bar-container">
                                                <div class="bar-mask" data-bar-width="0.5">
                                                    <div class="bar bar-2"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">Previous-generation 13-inch MacBook Pro (Baseline)</p>
                                            </div>
                                        </div>
                                        <figure class="badge subsection-gallery-modal">
                                            <div class="badge-content"><span class="badge-value">2.0<span class="badge-subvalue">X</span></span><span class="badge-caption">faster multicore vector performance<sup class="footnote footnote-number"><a href="#footnote-8" aria-label="Footnote 5">5</a></sup></span></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="processor-gallery-item-4" data-ac-gallery-item class="gallery-item">
                                <div class="group">
                                    <div class="flex">
                                        <div class="bars-container">
                                            <div class="bar-container">
                                                <div class="bar-mask">
                                                    <div class="bar bar-1"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">13-inch MacBook Pro with Apple M1 chip</p>
                                            </div>
                                            <div class="bar-container">
                                                <div class="bar-mask" data-bar-width="0.55">
                                                    <div class="bar bar-2"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">Previous-generation 13-inch MacBook Pro (Baseline)</p>
                                            </div>
                                        </div>
                                        <figure class="badge subsection-gallery-modal">
                                            <div class="badge-content"><span class="badge-value">1.8<span class="badge-subvalue">X</span></span><span class="badge-caption">more Amp Designer plug-ins<sup class="footnote footnote-number"><a href="#footnote-9" aria-label="Footnote 6">6</a></sup></span></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-close-sticky">
                    <button class="modal-close-circle" data-modal-close="" aria-label="close CPU article">
                        <svg class="close-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                            <g transform="matrix(1 0 0 1 58.93574707031257 115.221435546875)">
                                <path d="M-40.9-81.2c8.8,0,16-7.2,16-16c0-8.8-7.2-16-16-16c-8.8,0-16,7.2-16,16C-56.9-88.5-49.7-81.2-40.9-81.2z
								 M-40.9-83.3c-7.7,0-13.9-6.2-13.9-13.9c0-7.7,6.2-13.9,13.9-13.9c7.7,0,13.9,6.2,14,13.9C-27-89.5-33.2-83.3-40.9-83.3z
								 M-46.5-90.6c0.3,0,0.5-0.1,0.7-0.3l4.8-4.8l4.8,4.8c0.2,0.2,0.4,0.3,0.7,0.3c0.6,0,1-0.4,1-1c0-0.3-0.1-0.5-0.3-0.7l-4.8-4.8
								l4.9-4.9c0.2-0.2,0.3-0.4,0.3-0.7c0-0.6-0.4-1-1-1c-0.3,0-0.5,0.1-0.7,0.3l-4.9,4.8l-4.8-4.8c-0.2-0.2-0.4-0.3-0.7-0.3
								c-0.6,0-1,0.4-1,1c0,0.3,0.1,0.5,0.3,0.7l4.8,4.8l-4.8,4.9c-0.2,0.2-0.3,0.4-0.3,0.7C-47.5-91.1-47.1-90.6-46.5-90.6z" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
        <section class="grid-item large-span-12 layout-full-width-badge grid-item-graphics" data-component-list="ModalComponent" data-analytics-section-engagement="name:graphics">
            <header class="grid-item-header">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">GPU</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div class="text-content">
                    <div class="headline-container">
                        <h3 class="typography-headline-super">Creates beauty like a beast.</h3>
                        <p class="typography-item-description grid-item-description">The 8-core GPU in M1 is the most advanced graphics processor we’ve ever built. Period. And it brings the world’s fastest integrated graphics in a personal computer,<sup class="footnote footnote-number"><a href="#footnote-10" aria-label="Footnote 7">7</a></sup> delivering a ridiculous 5x boost in graphics horsepower.</p>
                    </div>
                    <div class="badge-container">
                        <figure class="badge badge-center badge-grid-item">
                            <div class="badge-content"><span class="badge-value">8<span class="badge-subvalue">-core</span></span><span class="badge-caption">GPU</span></div>
                        </figure>
                        <figure class="badge badge-center badge-grid-item">
                            <div class="badge-content"><span class="badge-caption">Up to</span><span class="badge-value">5<span class="badge-subvalue">X</span></span><span class="badge-caption">faster graphics performance<sup class="footnote footnote-number"><a href="#footnote-11" aria-label="Footnote 8">8</a></sup></span></div>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="grid-item-modal-trigger-wrap">
                <button class="button button-compact grid-item-modal-trigger" data-analytics-click="prop3: open modal | see how m1 revs up graphics" data-analytics-title="open modal | see how m1 revs up graphics" data-analytics-intrapage-link>
                    See how M1 revs<br class="small" /> up graphics
                </button>
            </div>
            <div class="inline-video inline-with-static" data-component-list="InlineMedia">
                <noscript>
                    <style>
                        picture#overview-graphics-bg-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-graphics-bg-1" class="overview-graphics-bg static-frame" data-picture-lazy-load aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_small.jpg 1x, /build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_medium.jpg 1x, /build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_large.jpg 1x, /build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_large_2x.jpg" class="overview-graphics-bg-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-graphics-bg static-frame">
                        <source srcset="/build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_small.jpg 1x, /build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_medium.jpg 1x, /build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_large.jpg 1x, /build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/graphics_bg__dg5opxaj0iwm_large_2x.jpg" class="overview-graphics-bg-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
                <noscript>
                    <style>
                        picture#overview-graphics-bg-startframe-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-graphics-bg-startframe-1" class="overview-graphics-bg-startframe start-frame" data-picture-lazy-load aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_small.jpg 1x, /build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_medium.jpg 1x, /build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_large.jpg 1x, /build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_large_2x.jpg" class="overview-graphics-bg-startframe-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-graphics-bg-startframe start-frame">
                        <source srcset="/build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_small.jpg 1x, /build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_medium.jpg 1x, /build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_large.jpg 1x, /build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/graphics_bg_startframe__giyzllgiqx6q_large_2x.jpg" class="overview-graphics-bg-startframe-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
                <video class="video" muted playsinline data-inline-media preload='none' role='presentation' data-inline-media-play-keyframe='{ &quot;start&quot;: &quot;t - 25vh&quot;, &quot;end&quot;: &quot;b&quot; }' data-inline-media-basepath="/build/website/mp4/anim/graphics/" data-inline-media-plugins="AnimLoad, PlayOnce, AnimPlay, ViewportSourceResetBreakpoint, LoadTimeout" data-load-timeout="5000"></video>
                <noscript>
                    <style>
                        picture#overview-graphics-bg-endframe-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-graphics-bg-endframe-1" class="overview-graphics-bg-endframe end-frame" data-picture-lazy-load aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_small.jpg 1x, /build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_medium.jpg 1x, /build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_large.jpg 1x, /build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_large_2x.jpg" class="overview-graphics-bg-endframe-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-graphics-bg-endframe end-frame">
                        <source srcset="/build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_small.jpg 1x, /build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_medium.jpg 1x, /build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_large.jpg 1x, /build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/graphics_bg_endframe__ed9fqcxcxo2u_large_2x.jpg" class="overview-graphics-bg-endframe-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
            </div>
            <div class="grid-item-modal">
                <div class="grid-item-modal-content">
                    <h3 class="typography-eyebrow-reduced">GPU</h3>
                    <p><span class="subhead">Eight dedicated graphics cores</span> Get ready to create and play beyond your wildest dreams. With eight powerful GPU cores tasked with making graphics smoother, faster, and breathtakingly beautiful — it’s a MacBook Pro you have to see to believe. 8K video plays seamlessly, and graphics&#x2011;intensive workflows zip by in a blink.<sup class="footnote footnote-number"><a href="#footnote-12" aria-label="Footnote 9">9</a></sup></p>
                    <p><span class="subhead">Incredible graphics performance</span> Render 3D titles up to 5x faster in Final Cut Pro<sup class="footnote footnote-number"><a href="#footnote-10" aria-label="Footnote 8">8</a></sup>. Fluidly design intricate scenes in Unity with up to 3x faster graphics<sup class="footnote footnote-number"><a href="#footnote-12" aria-label="Footnote 10">10</a></sup>. And blast through games with supersmooth frame rates when it’s time to play. Feast your eyes on the world’s fastest integrated graphics in a personal computer.<sup class="footnote footnote-number"><a href="#footnote-13" aria-label="Footnote 11">11</a></sup></p>
                    <div id="graphics-subsection-gallery" aria-label="graphics gallery" class="gallery subsection-gallery" data-component-list="BarGalleryComponent" data-analytics-gallery-id="gpu gallery">
                        <div class="tabnav-wrapper">
                            <div class="tabnav">
                                <ul role="tablist" class="tabnav-items tablist-wrapper typography-manifesto">
                                    <li role="presentation" class="tabnav-item current typography-label-bold">
                                        <a role="tab" href="#graphics-gallery-item-1" id="graphics-gallery-item-1-trigger" data-ac-gallery-trigger="graphics-gallery-item-1" data-analytics-gallery-item-id="">
                                            Final Cut Pro
                                        </a>
                                        <span class="separator" aria-hidden="true">/</span>
                                    </li>
                                    <li role="presentation" class="tabnav-item typography-label-bold">
                                        <a role="tab" href="#graphics-gallery-item-2" id="graphics-gallery-item-2-trigger" data-ac-gallery-trigger="graphics-gallery-item-2" data-analytics-gallery-item-id="">
                                            Unity Editor
                                        </a>
                                        <span class="separator" aria-hidden="true">/</span>
                                    </li>
                                    <li role="presentation" class="tabnav-item typography-label-bold">
                                        <a role="tab" href="#graphics-gallery-item-3" id="graphics-gallery-item-3-trigger" data-ac-gallery-trigger="graphics-gallery-item-3" data-analytics-gallery-item-id="">
                                            Shapr3D
                                        </a>
                                        <span class="separator" aria-hidden="true">/</span>
                                    </li>
                                    <li role="presentation" class="tabnav-item typography-label-bold">
                                        <a role="tab" href="#graphics-gallery-item-4" id="graphics-gallery-item-4-trigger" data-ac-gallery-trigger="graphics-gallery-item-4" data-analytics-gallery-item-id="">
                                            Shadow of the Tomb Raider
                                        </a>
                                        <span class="separator" aria-hidden="true">/</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-container">
                            <div id="graphics-gallery-item-1" data-ac-gallery-item class="gallery-item current">
                                <div class="group">
                                    <div class="flex">
                                        <div class="bars-container">
                                            <div class="bar-container">
                                                <div class="bar-mask">
                                                    <div class="bar bar-1"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">13-inch MacBook Pro with Apple M1 chip</p>
                                            </div>
                                            <div class="bar-container">
                                                <div class="bar-mask" data-bar-width="0.16">
                                                    <div class="bar bar-2"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">Previous-generation 13-inch MacBook Pro (Baseline)</p>
                                            </div>
                                        </div>
                                        <figure class="badge subsection-gallery-modal">
                                            <div class="badge-content"><span class="badge-value">5.9<span class="badge-subvalue">X</span></span><span class="badge-caption">faster 3D title render speed<sup class="footnote footnote-number"><a href="#footnote-11" aria-label="Footnote 8">8</a></sup></span></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="graphics-gallery-item-2" data-ac-gallery-item class="gallery-item">
                                <div class="group">
                                    <div class="flex">
                                        <div class="bars-container">
                                            <div class="bar-container">
                                                <div class="bar-mask">
                                                    <div class="bar bar-1"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">13-inch MacBook Pro with Apple M1 chip</p>
                                            </div>
                                            <div class="bar-container">
                                                <div class="bar-mask" data-bar-width="0.28">
                                                    <div class="bar bar-2"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">Previous-generation 13-inch MacBook Pro (Baseline)</p>
                                            </div>
                                        </div>
                                        <figure class="badge subsection-gallery-modal">
                                            <div class="badge-content"><span class="badge-value">3.5<span class="badge-subvalue">X</span></span><span class="badge-caption">faster demo fly-through<sup class="footnote footnote-number"><a href="#footnote-14" aria-label="Footnote 10">10</a></sup></span></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="graphics-gallery-item-3" data-ac-gallery-item class="gallery-item">
                                <div class="group">
                                    <div class="flex">
                                        <div class="bars-container">
                                            <div class="bar-container">
                                                <div class="bar-mask">
                                                    <div class="bar bar-1"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">13-inch MacBook Pro with Apple M1 chip</p>
                                            </div>
                                            <div class="bar-container">
                                                <div class="bar-mask" data-bar-width="0.33">
                                                    <div class="bar bar-2"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">Previous-generation 13-inch MacBook Pro (Baseline)</p>
                                            </div>
                                        </div>
                                        <figure class="badge subsection-gallery-modal">
                                            <div class="badge-content"><span class="badge-value">3.0<span class="badge-subvalue">X</span></span><span class="badge-caption">faster real-time 3D performance<sup class="footnote footnote-number"><a href="#footnote-15" aria-label="Footnote 12">12</a></sup></span></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="graphics-gallery-item-4" data-ac-gallery-item class="gallery-item">
                                <div class="group">
                                    <div class="flex">
                                        <div class="bars-container">
                                            <div class="bar-container">
                                                <div class="bar-mask">
                                                    <div class="bar bar-1"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">13-inch MacBook Pro with Apple M1 chip</p>
                                            </div>
                                            <div class="bar-container">
                                                <div class="bar-mask" data-bar-width="0.34">
                                                    <div class="bar bar-2"></div>
                                                </div>
                                                <p class="bar-caption typography-tout">Previous-generation 13-inch MacBook Pro (Baseline)</p>
                                            </div>
                                        </div>
                                        <figure class="badge subsection-gallery-modal">
                                            <div class="badge-content"><span class="badge-value">2.9<span class="badge-subvalue">X</span></span><span class="badge-caption">faster game performance<sup class="footnote footnote-number"><a href="#footnote-16" aria-label="Footnote 13">13</a></sup></span></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-close-sticky">
                    <button class="modal-close-circle" data-modal-close="" aria-label="close GPU article">
                        <svg class="close-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                            <g transform="matrix(1 0 0 1 58.93574707031257 115.221435546875)">
                                <path d="M-40.9-81.2c8.8,0,16-7.2,16-16c0-8.8-7.2-16-16-16c-8.8,0-16,7.2-16,16C-56.9-88.5-49.7-81.2-40.9-81.2z
								 M-40.9-83.3c-7.7,0-13.9-6.2-13.9-13.9c0-7.7,6.2-13.9,13.9-13.9c7.7,0,13.9,6.2,14,13.9C-27-89.5-33.2-83.3-40.9-83.3z
								 M-46.5-90.6c0.3,0,0.5-0.1,0.7-0.3l4.8-4.8l4.8,4.8c0.2,0.2,0.4,0.3,0.7,0.3c0.6,0,1-0.4,1-1c0-0.3-0.1-0.5-0.3-0.7l-4.8-4.8
								l4.9-4.9c0.2-0.2,0.3-0.4,0.3-0.7c0-0.6-0.4-1-1-1c-0.3,0-0.5,0.1-0.7,0.3l-4.9,4.8l-4.8-4.8c-0.2-0.2-0.4-0.3-0.7-0.3
								c-0.6,0-1,0.4-1,1c0,0.3,0.1,0.5,0.3,0.7l4.8,4.8l-4.8,4.9c-0.2,0.2-0.3,0.4-0.3,0.7C-47.5-91.1-47.1-90.6-46.5-90.6z" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
        <section class="grid-item large-span-12 grid-item-ml" data-component-list="ModalComponent" data-analytics-section-engagement="name:machine learning">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Machine learning</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div>
                    <p class="typography-eyebrow-elevated grid-item-description">16-core Neural Engine. Smarts, meet speed. <span class="color-secondary">Machine learning (ML) brings task&#x2011;smashing speed and automation to video analysis, voice recognition, image processing, and more. And the M1 chip with 16&#x2011;core Neural Engine and full stack of technologies takes ML performance on MacBook Pro into the stratosphere.</span></p>
                    <div class="badges">
                        <figure class="badge badge-center badge-modal">
                            <div class="badge-content"><span class="badge-caption"></span><span class="badge-value">16<span class="badge-subvalue">-core</span></span><span class="badge-caption">Neural Engine</span></div>
                        </figure>
                        <figure class="badge badge-center badge-modal">
                            <div class="badge-content"><span class="badge-caption">Up to</span><span class="badge-value">11<span class="badge-subvalue">X</span></span><span class="badge-caption">faster ML performance<sup class="footnote footnote-number"><a href="#footnote-17" aria-label="Footnote 14">14</a></sup></span></div>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="grid-item-modal-trigger-wrap">
                <button class="button button-compact grid-item-modal-trigger" data-analytics-click="prop3:open modal | see how m1 unleashes ml" data-analytics-title="open modal | see how m1 unleashes ml" data-analytics-intrapage-link>
                    See how M1 unleashes ML
                </button>
            </div>
            <noscript>
                <style>
                    picture#overview-machine-learning-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-machine-learning-1" class="overview-machine-learning" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/machine_learning__15x2lwik5vm2_small.png 1x, /build/website/img/overview/pro/machine_learning__15x2lwik5vm2_small_2x.png 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/machine_learning__15x2lwik5vm2_medium.png 1x, /build/website/img/overview/pro/machine_learning__15x2lwik5vm2_medium_2x.png 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/machine_learning__15x2lwik5vm2_large.png 1x, /build/website/img/overview/pro/machine_learning__15x2lwik5vm2_large_2x.png 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/machine_learning__15x2lwik5vm2_large_2x.png" class="overview-machine-learning-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-machine-learning">
                    <source srcset="/build/website/img/overview/pro/machine_learning__15x2lwik5vm2_small.png 1x, /build/website/img/overview/pro/machine_learning__15x2lwik5vm2_small_2x.png 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/machine_learning__15x2lwik5vm2_medium.png 1x, /build/website/img/overview/pro/machine_learning__15x2lwik5vm2_medium_2x.png 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/machine_learning__15x2lwik5vm2_large.png 1x, /build/website/img/overview/pro/machine_learning__15x2lwik5vm2_large_2x.png 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/machine_learning__15x2lwik5vm2_large_2x.png" class="overview-machine-learning-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
            <div class="grid-item-modal">
                <div class="grid-item-modal-content">
                    <h3 class="typography-eyebrow-reduced">Machine learning</h3>
                    <p><span class="subhead">The magic of machine learning</span> The machine learning technologies in the M1 chip open up a world of possibilities for Mac apps. Machine learning lets apps build and apply models based on massive amounts of data — to do things like identify friends and family in photos and videos, interpret natural language for dictation, and even analyze audio to recognize laughter, applause, and more. And that data is processed on device to protect your privacy — all at lightning speed.</p>
                    <p><span class="subhead">16-core Neural Engine</span> The dedicated 16-core Neural Engine in the M1 chip can execute up to a staggering 11 trillion operations per second, powering workflows you couldn’t imagine before — like enabling the djay Pro AI app to isolate instrumentals and vocals of any song in real time.</p>
                    <p><span class="subhead">Optimized for machine learning</span> The entire M1 chip is engineered for machine learning. The CPU, GPU, and Neural Engine are each designed for different types of machine learning workloads — and the ML performance controller distributes ML tasks to the right places to maximize performance.</p>
                    <p><span class="subhead">ML accelerators</span> The two dedicated ML accelerators are built for fast matrix multiplication, executing up to one trillion operations per second — perfect for low-latency ML tasks that don’t require the massive power of the Neural Engine.</p>
                </div>
                <div class="modal-close-sticky">
                    <button class="modal-close-circle" data-modal-close="" aria-label="close Machine learning article">
                        <svg class="close-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                            <g transform="matrix(1 0 0 1 58.93574707031257 115.221435546875)">
                                <path d="M-40.9-81.2c8.8,0,16-7.2,16-16c0-8.8-7.2-16-16-16c-8.8,0-16,7.2-16,16C-56.9-88.5-49.7-81.2-40.9-81.2z
								 M-40.9-83.3c-7.7,0-13.9-6.2-13.9-13.9c0-7.7,6.2-13.9,13.9-13.9c7.7,0,13.9,6.2,14,13.9C-27-89.5-33.2-83.3-40.9-83.3z
								 M-46.5-90.6c0.3,0,0.5-0.1,0.7-0.3l4.8-4.8l4.8,4.8c0.2,0.2,0.4,0.3,0.7,0.3c0.6,0,1-0.4,1-1c0-0.3-0.1-0.5-0.3-0.7l-4.8-4.8
								l4.9-4.9c0.2-0.2,0.3-0.4,0.3-0.7c0-0.6-0.4-1-1-1c-0.3,0-0.5,0.1-0.7,0.3l-4.9,4.8l-4.8-4.8c-0.2-0.2-0.4-0.3-0.7-0.3
								c-0.6,0-1,0.4-1,1c0,0.3,0.1,0.5,0.3,0.7l4.8,4.8l-4.8,4.9c-0.2,0.2-0.3,0.4-0.3,0.7C-47.5-91.1-47.1-90.6-46.5-90.6z" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
        <section class="grid-item large-span-12 grid-item-macos" data-analytics-section-engagement="name:macos">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">macOS Big Sur</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div class="text-content large-12">
                    <p class="typography-headline-normal grid-headline-normal">The power of macOS Big Sur on M1.</p>
                    <p class="typography-item-description grid-item-description">Developed to unlock the potential of the M1 chip, macOS Big Sur transforms Mac with major performance benefits and so much more. Powerful updates for apps. A beautiful new design. Industry-leading privacy features and best&#x2011;in&#x2011;class security. It’s our most powerful software ever — running on our most advanced hardware yet.</p>
                    <noscript>
                        <style>
                            picture#overview-macos-1 {
                                display: none !important;
                            }
                        </style>
                    </noscript>
                    <picture id="overview-macos-1" class="overview-macos" data-picture-lazy-load>
                        <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                        </source>
                        <source srcset="/build/website/img/overview/pro/macos__3zitq287xeae_small.png 1x, /build/website/img/overview/pro/macos__3zitq287xeae_small_2x.png 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/macos__3zitq287xeae_medium.png 1x, /build/website/img/overview/pro/macos__3zitq287xeae_medium_2x.png 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/macos__3zitq287xeae_large.png 1x, /build/website/img/overview/pro/macos__3zitq287xeae_large_2x.png 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/macos__3zitq287xeae_large_2x.png" class="overview-macos-img" width="100%" height="100%" alt="">
                    </picture>
                    <noscript>
                        <picture class="overview-macos">
                            <source srcset="/build/website/img/overview/pro/macos__3zitq287xeae_small.png 1x, /build/website/img/overview/pro/macos__3zitq287xeae_small_2x.png 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/macos__3zitq287xeae_medium.png 1x, /build/website/img/overview/pro/macos__3zitq287xeae_medium_2x.png 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/macos__3zitq287xeae_large.png 1x, /build/website/img/overview/pro/macos__3zitq287xeae_large_2x.png 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/macos__3zitq287xeae_large_2x.png" class="overview-macos-img" width="100%" height="100%" alt="">
                        </picture>
                    </noscript>
                </div>
            </div>
            <noscript>
                <style>
                    picture#overview-macos-bg-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-macos-bg-1" class="overview-macos-bg background-image" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_small.jpg 1x, /build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_small_2x.jpg 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_medium.jpg 1x, /build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_medium_2x.jpg 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_large.jpg 1x, /build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_large_2x.jpg 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_large_2x.jpg" class="overview-macos-bg-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-macos-bg background-image">
                    <source srcset="/build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_small.jpg 1x, /build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_medium.jpg 1x, /build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_large.jpg 1x, /build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/macos_bg__b9yaapi9sjv6_large_2x.jpg" class="overview-macos-bg-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
        </section>
        <section class="grid-item large-span-6 small-span-12 grid-item-speed" data-component-list="TriggeredAnimation" data-anim-start='a0t - 20vh' data-analytics-section-engagement="name:speed">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Speed and responsiveness</h3>
                <p class="grid-item-copy typography-item-description">The M1 chip and macOS Big Sur work together to make the entire system snappier. MacBook Pro wakes instantly from sleep. Everyday tasks from flipping through photos to browsing Safari are faster. And your hardest-working apps all have access to the power they need.</p>
            </header>
            <div class="grid-item-content content-bottom">
                <div class="text-content large-12">
                    <p class="typography-headline-super grid-headline-super">More power. <span class="headline-secondary fade-in">Wakes instantly.</span></p>
                </div>
            </div>
            <noscript>
                <style>
                    picture#overview-macos-speed-bg-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-macos-speed-bg-1" class="overview-macos-speed-bg background-image" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_small.jpg 1x, /build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_small_2x.jpg 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_medium.jpg 1x, /build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_medium_2x.jpg 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_large.jpg 1x, /build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_large_2x.jpg 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_large_2x.jpg" class="overview-macos-speed-bg-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-macos-speed-bg background-image">
                    <source srcset="/build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_small.jpg 1x, /build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_medium.jpg 1x, /build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_large.jpg 1x, /build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/macos_speed_bg__es2fccn5l46e_large_2x.jpg" class="overview-macos-speed-bg-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
        </section>
        <section class="grid-item large-span-6 small-span-12 grid-item-apps" data-analytics-section-engagement="name:apps">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Biggest collection of apps ever</h3>
                <p class="grid-item-copy typography-item-description">Run powerful apps built for M1. All your existing apps work thanks to Rosetta 2. And for the first time, you can use your favorite iPhone and iPad apps directly on macOS Big Sur. Altogether you’ll have access to the biggest collection of apps ever for Mac.</p>
            </header>
            <div class="grid-item-content content-bottom">
                <div class="text-content large-12">
                    <noscript>
                        <style>
                            picture#overview-macos-apps-1 {
                                display: none !important;
                            }
                        </style>
                    </noscript>
                    <picture id="overview-macos-apps-1" class="overview-macos-apps" data-picture-lazy-load>
                        <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                        </source>
                        <source srcset="/build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_small.png 1x, /build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_small_2x.png 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_medium.png 1x, /build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_medium_2x.png 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_large.png 1x, /build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_large_2x.png 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_large_2x.png" class="overview-macos-apps-img" width="100%" height="100%" alt="">
                    </picture>
                    <noscript>
                        <picture class="overview-macos-apps">
                            <source srcset="/build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_small.png 1x, /build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_small_2x.png 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_medium.png 1x, /build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_medium_2x.png 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_large.png 1x, /build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_large_2x.png 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/macos_apps__cf6kxgbxfegi_large_2x.png" class="overview-macos-apps-img" width="100%" height="100%" alt="">
                        </picture>
                    </noscript>
                </div>
            </div>
            <noscript>
                <style>
                    picture#overview-macos-apps-bg-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-macos-apps-bg-1" class="overview-macos-apps-bg background-image" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_small.jpg 1x, /build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_small_2x.jpg 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_medium.jpg 1x, /build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_medium_2x.jpg 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_large.jpg 1x, /build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_large_2x.jpg 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_large_2x.jpg" class="overview-macos-apps-bg-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-macos-apps-bg background-image">
                    <source srcset="/build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_small.jpg 1x, /build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_medium.jpg 1x, /build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_large.jpg 1x, /build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/macos_apps_bg__ej8ognwj3hkm_large_2x.jpg" class="overview-macos-apps-bg-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
        </section>
        <section class="grid-item large-span-4 medium-span-6 small-span-12 grid-item-efficiency" data-analytics-section-engagement="name:efficiency">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Thermal efficiency</h3>
            </header>
            <div class="grid-item-content">
                <div class="text-content large-12">
                    <p class="typography-headline-reduced grid-headline-reduced">Active cooling sustains blazing-fast performance.</p>
                    <button class="inline-media-replay icon icon-after icon-replay" data-analytics-title="replay thermal efficiency" data-analytics-click="prop3: replay thermal efficiency" data-inline-media-controller="video-thermal" data-analytics-intrapage-link disabled>
                        Replay<span class="visuallyhidden"> Thermal efficiency animation</span>
                    </button>
                </div>
            </div>
            <div class="inline-video inline-with-static" data-component-list="InlineMedia">
                <noscript>
                    <style>
                        picture#overview-thermal-static-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-thermal-static-1" class="overview-thermal-static static-frame" data-picture-lazy-load aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/thermal_static__frkjf4ntjbue_small.jpg 1x, /build/website/img/overview/pro/thermal_static__frkjf4ntjbue_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/thermal_static__frkjf4ntjbue_medium.jpg 1x, /build/website/img/overview/pro/thermal_static__frkjf4ntjbue_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/thermal_static__frkjf4ntjbue_large.jpg 1x, /build/website/img/overview/pro/thermal_static__frkjf4ntjbue_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/thermal_static__frkjf4ntjbue_large_2x.jpg" class="overview-thermal-static-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-thermal-static static-frame">
                        <source srcset="/build/website/img/overview/pro/thermal_static__frkjf4ntjbue_small.jpg 1x, /build/website/img/overview/pro/thermal_static__frkjf4ntjbue_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/thermal_static__frkjf4ntjbue_medium.jpg 1x, /build/website/img/overview/pro/thermal_static__frkjf4ntjbue_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/thermal_static__frkjf4ntjbue_large.jpg 1x, /build/website/img/overview/pro/thermal_static__frkjf4ntjbue_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/thermal_static__frkjf4ntjbue_large_2x.jpg" class="overview-thermal-static-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
                <noscript>
                    <style>
                        picture#overview-thermal-startframe-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-thermal-startframe-1" class="overview-thermal-startframe start-frame" data-picture-lazy-load aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/thermal_startframe__fyviec52c9im_small.jpg 1x, /build/website/img/overview/pro/thermal_startframe__fyviec52c9im_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/thermal_startframe__fyviec52c9im_medium.jpg 1x, /build/website/img/overview/pro/thermal_startframe__fyviec52c9im_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/thermal_startframe__fyviec52c9im_large.jpg 1x, /build/website/img/overview/pro/thermal_startframe__fyviec52c9im_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/thermal_startframe__fyviec52c9im_large_2x.jpg" class="overview-thermal-startframe-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-thermal-startframe start-frame">
                        <source srcset="/build/website/img/overview/pro/thermal_startframe__fyviec52c9im_small.jpg 1x, /build/website/img/overview/pro/thermal_startframe__fyviec52c9im_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/thermal_startframe__fyviec52c9im_medium.jpg 1x, /build/website/img/overview/pro/thermal_startframe__fyviec52c9im_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/thermal_startframe__fyviec52c9im_large.jpg 1x, /build/website/img/overview/pro/thermal_startframe__fyviec52c9im_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/thermal_startframe__fyviec52c9im_large_2x.jpg" class="overview-thermal-startframe-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
                <video class="video" muted playsinline data-inline-media preload='none' role='presentation' id="video-thermal" data-inline-media-play-keyframe='{ &quot;start&quot;: &quot;a1b - (a1b - a0b) - 100vh&quot;, &quot;end&quot;: &quot;a1b&quot;, &quot;anchors&quot;: [&quot;.grid-item-efficiency&quot;, &quot;.grid-item-efficiency .text-content&quot;] }' data-inline-media-basepath="/build/website/mp4/anim/thermal/" data-inline-media-plugins="AnimLoad, PlayOnce, AnimPlay, ViewportSourceResetBreakpoint, LoadTimeout, ReplayButton" data-load-timeout="5000" aria-label="Thermal efficiency animation"></video>
                <noscript>
                    <style>
                        picture#overview-thermal-endframe-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-thermal-endframe-1" class="overview-thermal-endframe end-frame" data-picture-lazy-load aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_small.jpg 1x, /build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_medium.jpg 1x, /build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_large.jpg 1x, /build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_large_2x.jpg" class="overview-thermal-endframe-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-thermal-endframe end-frame">
                        <source srcset="/build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_small.jpg 1x, /build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_medium.jpg 1x, /build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_large.jpg 1x, /build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/thermal_endframe__f0w5tm4x7q2y_large_2x.jpg" class="overview-thermal-endframe-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
            </div>
        </section>
        <section class="grid-item large-span-8 medium-span-6 small-span-12 grid-item-battery" data-component-list="TriggeredAnimation" data-analytics-section-engagement="name:battery">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">All-day battery life</h3>
            </header>
            <div class="grid-item-content content-centered center-to-tile">
                <div class="text-content large-12">
                    <p class="typography-headline-super grid-headline-super">Up to 20<br class="small" /> hours of battery life — the longest in any Mac ever.<sup class="footnote footnote-number"><a href="#footnote-18" aria-label="Footnote 15">15</a></sup></p>
                </div>
            </div>
        </section>
        <section class="grid-item large-span-4 medium-span-6 small-span-12 grid-item-memory" data-analytics-section-engagement="name:memory">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Unified memory</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div>
                    <noscript>
                        <style>
                            picture#overview-memory-icon-1 {
                                display: none !important;
                            }
                        </style>
                    </noscript>
                    <picture id="overview-memory-icon-1" class="overview-memory-icon" data-picture-lazy-load>
                        <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                        </source>
                        <source srcset="/build/website/img/overview/pro/memory_icon__uaeq2kh8whu2_large.png 1x, /build/website/img/overview/pro/memory_icon__uaeq2kh8whu2_large_2x.png 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/memory_icon__uaeq2kh8whu2_large_2x.png" class="overview-memory-icon-img" width="100%" height="100%" alt="">
                    </picture>
                    <noscript>
                        <picture class="overview-memory-icon">
                            <source srcset="/build/website/img/overview/pro/memory_icon__uaeq2kh8whu2_large.png 1x, /build/website/img/overview/pro/memory_icon__uaeq2kh8whu2_large_2x.png 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/memory_icon__uaeq2kh8whu2_large_2x.png" class="overview-memory-icon-img" width="100%" height="100%" alt="">
                        </picture>
                    </noscript>
                    <p class="typography-eyebrow-elevated grid-item-description">Runs a tight chip. <span class="color-secondary">The M1 chip brings up to 16GB of superfast unified memory. This single pool of high&#x2011;bandwidth, low&#x2011;latency memory allows apps to share data between the CPU, GPU, and Neural Engine efficiently — so everything you do is fast and fluid.</span></p>
                </div>
            </div>
            <noscript>
                <style>
                    picture#overview-memory-bg-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-memory-bg-1" class="overview-memory-bg background-image" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/memory_bg__fu9k4zooujyq_small.jpg 1x, /build/website/img/overview/pro/memory_bg__fu9k4zooujyq_small_2x.jpg 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/memory_bg__fu9k4zooujyq_medium.jpg 1x, /build/website/img/overview/pro/memory_bg__fu9k4zooujyq_medium_2x.jpg 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/memory_bg__fu9k4zooujyq_large.jpg 1x, /build/website/img/overview/pro/memory_bg__fu9k4zooujyq_large_2x.jpg 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/memory_bg__fu9k4zooujyq_large_2x.jpg" class="overview-memory-bg-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-memory-bg background-image">
                    <source srcset="/build/website/img/overview/pro/memory_bg__fu9k4zooujyq_small.jpg 1x, /build/website/img/overview/pro/memory_bg__fu9k4zooujyq_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/memory_bg__fu9k4zooujyq_medium.jpg 1x, /build/website/img/overview/pro/memory_bg__fu9k4zooujyq_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/memory_bg__fu9k4zooujyq_large.jpg 1x, /build/website/img/overview/pro/memory_bg__fu9k4zooujyq_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/memory_bg__fu9k4zooujyq_large_2x.jpg" class="overview-memory-bg-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
        </section>
        <section class="grid-item large-span-4 medium-span-6 small-span-12 grid-item-storage" data-analytics-section-engagement="name:storage">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">SSD storage</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div class="text-content">
                    <div>
                        <figure class="badge badge-center badge-grid-item badge-medium">
                            <div class="badge-content"><span class="badge-caption">Up to</span><span class="badge-value">2<span class="badge-subvalue">TB</span></span><span class="badge-caption">SSD storage<sup class="footnote footnote-number"><a href="#footnote-19" aria-label="Footnote 16">16</a></sup></span></div>
                        </figure>
                    </div>
                    <div>
                        <figure class="badge badge-center badge-grid-item badge-medium">
                            <div class="badge-content"><span class="badge-caption">Up to</span><span class="badge-value">3.3<span class="badge-subvalue">GB/s</span></span><span class="badge-caption">sequential read speeds<sup class="footnote footnote-number"><a href="#footnote-20" aria-label="Footnote 17">17</a></sup></span></div>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <section class="grid-item large-span-4 medium-span-12 grid-item-security" data-component-list="ModalComponent Security" data-anim-scroll-group="Security" data-analytics-section-engagement="name:security">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Security</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div class="text-content large-12">
                    <figure class="animation-icon-security" data-anim-icon></figure>
                    <div class="headline-wrapper section-headline section-headline-space-below" data-headline-wrapper>
                        <h3 class="headline-unenhanced typography-headline-security" data-headline role="text">MacBook Pro. <br class="medium" /><span class="masked">Securely</span> <br class="large" /><br class="small" /><span class="masked">yours</span>.</h3>
                        <div class="headline-animation-wrapper" aria-hidden="true" data-headline-animation-wrapper>
                            <div class="typography-headline-security" data-headline-animation></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item-modal-trigger-wrap">
                <button class="button button-compact grid-item-modal-trigger" data-analytics-click="prop3: open modal | see how m1 protects your data" data-analytics-title="open modal | see how m1 protects your data" data-analytics-intrapage-link>
                    See how M1 protects<br class="small" /> your data
                </button>
            </div>
            <div class="grid-item-modal">
                <div class="grid-item-modal-content">
                    <h3 class="typography-eyebrow-reduced">Security</h3>
                    <p>The M1 chip and macOS Big Sur give MacBook Pro advanced security and privacy features beyond anything in its class, helping to keep your system and your data protected.</p>
                    <p><span class="subhead">Secure Enclave coprocessor</span> Provides a silicon&#x2011;level foundation for critical security features like Touch ID — and with M1, it’s faster than ever.</p>
                    <p><span class="subhead">Dedicated AES storage encryption engine</span> Keeps encryption keys safe while delivering incredible performance for encrypted storage and data protection.</p>
                    <p><span class="subhead">Secure boot and runtime security features</span> Ensures that only trusted Apple software loads at startup and helps protect macOS while running.</p>
                    <p><span class="subhead">Activation Lock</span> Helps keep your Mac secure if it’s ever lost, stolen, or misplaced, and can improve your chances of recovering it.</p>
                </div>
                <div class="modal-close-sticky">
                    <button class="modal-close-circle" data-modal-close="" aria-label="close Security article">
                        <svg class="close-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                            <g transform="matrix(1 0 0 1 58.93574707031257 115.221435546875)">
                                <path d="M-40.9-81.2c8.8,0,16-7.2,16-16c0-8.8-7.2-16-16-16c-8.8,0-16,7.2-16,16C-56.9-88.5-49.7-81.2-40.9-81.2z
					 M-40.9-83.3c-7.7,0-13.9-6.2-13.9-13.9c0-7.7,6.2-13.9,13.9-13.9c7.7,0,13.9,6.2,14,13.9C-27-89.5-33.2-83.3-40.9-83.3z
					 M-46.5-90.6c0.3,0,0.5-0.1,0.7-0.3l4.8-4.8l4.8,4.8c0.2,0.2,0.4,0.3,0.7,0.3c0.6,0,1-0.4,1-1c0-0.3-0.1-0.5-0.3-0.7l-4.8-4.8
					l4.9-4.9c0.2-0.2,0.3-0.4,0.3-0.7c0-0.6-0.4-1-1-1c-0.3,0-0.5,0.1-0.7,0.3l-4.9,4.8l-4.8-4.8c-0.2-0.2-0.4-0.3-0.7-0.3
					c-0.6,0-1,0.4-1,1c0,0.3,0.1,0.5,0.3,0.7l4.8,4.8l-4.8,4.9c-0.2,0.2-0.3,0.4-0.3,0.7C-47.5-91.1-47.1-90.6-46.5-90.6z" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
    </div>
</article>