{# {% if content.title %}<span class="headline">{{ content.title|raw }}</span>{% endif %} #}
<article class="section section-compare" aria-label='Compare' data-analytics-section-engagement="name:compare">
    <div class="grid grid-container">
        <div class="grid-item large-span-12 grid-item-scissor">
            <h2 class="typography-headline-elevated compare-headline large-centered">Which Mac notebook is right for you?</h2>
            <a href="https://www.apple.com/ua/mac/compare/" data-analytics-title="compare all mac models" aria-label="Compare all Mac models" class="icon-wrapper typography-intro compare-cta"><span class="icon-copy">Compare all Mac models</span><span class="icon icon-after more"></span></a>
            <div class="section-content">
                <div class="compare-table row">
                    <div class="compare-column column-1 column large-4 small-6">
                        <div class="column-content-flex-wrapper">
                            <div class="content-wrapper">
                                <div class="flex-header-wrapper">
                                    <noscript>
                                        <style>
                                            picture#overview-macbook-air-1 {
                                                display: none !important;
                                            }
                                        </style>
                                    </noscript>
                                    <picture id="overview-macbook-air-1" class="overview-macbook-air image-compare-macbook-air column-image" data-picture-lazy-load>
                                        <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                        </source>
                                        <source srcset="/build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_small.jpg 1x, /build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_small_2x.jpg 2x" media="(max-width:734px)">
                                        <source srcset="/build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_medium.jpg 1x, /build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_medium_2x.jpg 2x" media="(max-width:1068px)">
                                        <source srcset="/build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_large.jpg 1x, /build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_large_2x.jpg 2x" media="(min-width:0px)">
                                        <img src="/build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_large_2x.jpg" class="overview-macbook-air-img" width="100%" height="100%" alt="">
                                    </picture>
                                    <noscript>
                                        <picture class="overview-macbook-air image-compare-macbook-air column-image">
                                            <source srcset="/build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_small.jpg 1x, /build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_small_2x.jpg 2x" media="(max-width:734px)">
                                            <source srcset="/build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_medium.jpg 1x, /build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_medium_2x.jpg 2x" media="(max-width:1068px)">
                                            <source srcset="/build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_large.jpg 1x, /build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_large_2x.jpg 2x" media="(min-width:0px)">
                                            <img src="/build/website/img/overview/pro/macbook_air__df8cpvj0zvo2_large_2x.jpg" class="overview-macbook-air-img" width="100%" height="100%" alt="">
                                        </picture>
                                    </noscript>
                                    <h3 class="typography-label product-headline">MacBook Air</h3>
                                </div>
                                <ul class="feature-list list list-nobullet typography-body-reduced">
                                    <li class="list-item">13.3-inch Retina display<sup class="footnote footnote-number"><a href="#footnote-22" aria-label="Footnote 19">19</a></sup></li>
                                    <li class="list-item block-height">Apple M1 chip</li>
                                    <li class="list-item">Up to 16GB memory</li>
                                    <li class="list-item">Up to 2TB storage<sup class="footnote footnote-number"><a href="#footnote-19" aria-label="Footnote 16">16</a></sup></li>
                                    <li class="list-item">Up to 18 hours battery life<sup class="footnote footnote-number"><a href="#footnote-23" aria-label="Footnote 20">20</a></sup></li>
                                    <li class="list-item">Touch ID</li>
                                </ul>
                            </div>
                            <a href="https://www.apple.com/ua/macbook-air/" data-analytics-title="learn more about macbook air" aria-label="Learn more about Macbook Air" class="icon-wrapper compare-link typography-body-reduced"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a>
                        </div>
                    </div>
                    <div class="compare-column column-2 column large-4 small-6">
                        <div class="column-content-flex-wrapper">
                            <div class="content-wrapper">
                                <div class="flex-header-wrapper">
                                    <noscript>
                                        <style>
                                            picture#overview-macbook-pro-13-1 {
                                                display: none !important;
                                            }
                                        </style>
                                    </noscript>
                                    <picture id="overview-macbook-pro-13-1" class="overview-macbook-pro-13 image-compare-macbook-pro-13 column-image" data-picture-lazy-load>
                                        <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                        </source>
                                        <source srcset="/build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_small.jpg 1x, /build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_small_2x.jpg 2x" media="(max-width:734px)">
                                        <source srcset="/build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_medium.jpg 1x, /build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_medium_2x.jpg 2x" media="(max-width:1068px)">
                                        <source srcset="/build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_large.jpg 1x, /build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_large_2x.jpg 2x" media="(min-width:0px)">
                                        <img src="/build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_large_2x.jpg" class="overview-macbook-pro-13-img" width="100%" height="100%" alt="">
                                    </picture>
                                    <noscript>
                                        <picture class="overview-macbook-pro-13 image-compare-macbook-pro-13 column-image">
                                            <source srcset="/build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_small.jpg 1x, /build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_small_2x.jpg 2x" media="(max-width:734px)">
                                            <source srcset="/build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_medium.jpg 1x, /build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_medium_2x.jpg 2x" media="(max-width:1068px)">
                                            <source srcset="/build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_large.jpg 1x, /build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_large_2x.jpg 2x" media="(min-width:0px)">
                                            <img src="/build/website/img/overview/pro/macbook_pro_13__qpw44nw5sxmy_large_2x.jpg" class="overview-macbook-pro-13-img" width="100%" height="100%" alt="">
                                        </picture>
                                    </noscript>
                                    <h3 class="typography-label product-headline">MacBook Pro 13″</h3>
                                </div>
                                <ul class="feature-list list list-nobullet typography-body-reduced">
                                    <li class="list-item">13.3-inch Retina display<sup class="footnote footnote-number"><a href="#footnote-22" aria-label="Footnote 19">19</a></sup></li>
                                    <li class="list-item block-height">Apple M1 chip <br /><span class="subtext">Also available with <br class="medium" />Intel Core i5 or i7 processor</span></li>
                                    <li class="list-item">Up to 16GB memory<sup class="footnote footnote-number"><a href="#footnote-24" aria-label="Footnote 21">21</a></sup></li>
                                    <li class="list-item">Up to 2TB storage<sup class="footnote footnote-number"><a href="#footnote-24" aria-label="Footnote 21">21</a></sup></li>
                                    <li class="list-item">Up to 20 hours battery life<sup class="footnote footnote-number"><a href="#footnote-25" aria-label="Footnote 22">22</a></sup></li>
                                    <li class="list-item">Touch Bar and <br class="small" />Touch ID</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="compare-column column-3 column large-4 small-6">
                        <div class="column-content-flex-wrapper">
                            <div class="content-wrapper">
                                <div class="flex-header-wrapper">
                                    <noscript>
                                        <style>
                                            picture#overview-macbook-pro-16-1 {
                                                display: none !important;
                                            }
                                        </style>
                                    </noscript>
                                    <picture id="overview-macbook-pro-16-1" class="overview-macbook-pro-16 image-compare-macbook-pro-16 column-image" data-picture-lazy-load>
                                        <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                        </source>
                                        <source srcset="/build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_small.jpg 1x, /build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_small_2x.jpg 2x" media="(max-width:734px)">
                                        <source srcset="/build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_medium.jpg 1x, /build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_medium_2x.jpg 2x" media="(max-width:1068px)">
                                        <source srcset="/build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_large.jpg 1x, /build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_large_2x.jpg 2x" media="(min-width:0px)">
                                        <img src="/build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_large_2x.jpg" class="overview-macbook-pro-16-img" width="100%" height="100%" alt="">
                                    </picture>
                                    <noscript>
                                        <picture class="overview-macbook-pro-16 image-compare-macbook-pro-16 column-image">
                                            <source srcset="/build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_small.jpg 1x, /build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_small_2x.jpg 2x" media="(max-width:734px)">
                                            <source srcset="/build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_medium.jpg 1x, /build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_medium_2x.jpg 2x" media="(max-width:1068px)">
                                            <source srcset="/build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_large.jpg 1x, /build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_large_2x.jpg 2x" media="(min-width:0px)">
                                            <img src="/build/website/img/overview/pro/macbook_pro_16__fkgofdas6o66_large_2x.jpg" class="overview-macbook-pro-16-img" width="100%" height="100%" alt="">
                                        </picture>
                                    </noscript>
                                    <h3 class="typography-label product-headline">MacBook Pro 16″</h3>
                                </div>
                                <ul class="feature-list list list-nobullet typography-body-reduced">
                                    <li class="list-item">16-inch Retina display<sup class="footnote footnote-number"><a href="#footnote-22" aria-label="Footnote 19">19</a></sup></li>
                                    <li class="list-item block-height">Intel Core i7 or i9 processor</li>
                                    <li class="list-item">Up to 64GB memory</li>
                                    <li class="list-item">Up to 8TB storage<sup class="footnote footnote-number"><a href="#footnote-19" aria-label="Footnote 16">16</a></sup></li>
                                    <li class="list-item">Up to 11 hours battery life<sup class="footnote footnote-number"><a href="#footnote-26" aria-label="Footnote 23">23</a></sup></li>
                                    <li class="list-item">Touch Bar and Touch ID</li>
                                </ul>
                            </div>
                            <a href="https://www.apple.com/ua/macbook-pro-16/" data-analytics-title="learn more about macbook pro 16" aria-label="Learn more about Macbook Pro 16 inch" class="icon-wrapper compare-link typography-body-reduced"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>