{# {% if content.title %}<span class="headline">{{ content.title|raw }}</span>{% endif %} #}
<article class="section section-connectivity section-pad-top" aria-label='Connectivity'>
    <header class="section-header" aria-label='Connectivity'>
        <div class="section-content">
            <h2 class="section-eyebrow typography-headline-super connectivity-eyebrow">Connectivity</h2>
            <p class="section-header-headline typography-headline-super no-margin-top connectivity-headline large-10 medium-12">Make connections. Faster than ever.</p>
            <noscript>
                <style>
                    picture#overview-connectivity-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-connectivity-1" class="overview-connectivity" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/connectivity__e3efjadx4suq_small.jpg 1x, /build/website/img/overview/pro/connectivity__e3efjadx4suq_small_2x.jpg 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/connectivity__e3efjadx4suq_medium.jpg 1x, /build/website/img/overview/pro/connectivity__e3efjadx4suq_medium_2x.jpg 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/connectivity__e3efjadx4suq_large.jpg 1x, /build/website/img/overview/pro/connectivity__e3efjadx4suq_large_2x.jpg 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/connectivity__e3efjadx4suq_large_2x.jpg" class="overview-connectivity-img" width="100%" height="100%" alt="Macbook Pro Connectivity">
            </picture>
            <noscript>
                <picture class="overview-connectivity">
                    <source srcset="/build/website/img/overview/pro/connectivity__e3efjadx4suq_small.jpg 1x, /build/website/img/overview/pro/connectivity__e3efjadx4suq_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/connectivity__e3efjadx4suq_medium.jpg 1x, /build/website/img/overview/pro/connectivity__e3efjadx4suq_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/connectivity__e3efjadx4suq_large.jpg 1x, /build/website/img/overview/pro/connectivity__e3efjadx4suq_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/connectivity__e3efjadx4suq_large_2x.jpg" class="overview-connectivity-img" width="100%" height="100%" alt="Macbook Pro Connectivity">
                </picture>
            </noscript>
        </div>
    </header>
    <div class="grid grid-container">
        <section class="grid-item connectivity-wifi grid-item large-span-6 small-span-12 grid-item-wifi" data-analytics-section-engagement="name:wifi">
            <header class="grid-item-header large-12">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Wi-Fi 6</h3>
                <p class="grid-item-copy typography-item-description">The next generation of Wi&#x2011;Fi isn’t just faster — it keeps MacBook Pro going strong even as more and more devices join the network.</p>
            </header>
            <div class="grid-item-content">
                <div class="text-content row">
                    <div class="large-12">
                        <div class="icon-content">
                            <noscript>
                                <style>
                                    picture#overview-wifi-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <picture id="overview-wifi-1" class="overview-wifi" data-picture-lazy-load>
                                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                </source>
                                <source srcset="/build/website/img/overview/pro/wifi__s654sxtg0p66_small.png 1x, /build/website/img/overview/pro/wifi__s654sxtg0p66_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/wifi__s654sxtg0p66_large.png 1x, /build/website/img/overview/pro/wifi__s654sxtg0p66_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/wifi__s654sxtg0p66_large_2x.png" class="overview-wifi-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-wifi">
                                    <source srcset="/build/website/img/overview/pro/wifi__s654sxtg0p66_small.png 1x, /build/website/img/overview/pro/wifi__s654sxtg0p66_small_2x.png 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/wifi__s654sxtg0p66_large.png 1x, /build/website/img/overview/pro/wifi__s654sxtg0p66_large_2x.png 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/wifi__s654sxtg0p66_large_2x.png" class="overview-wifi-img" width="100%" height="100%" alt="">
                                </picture>
                            </noscript>
                            <p class="typography-headline-super">Wi-Fi 6</p>
                            <p class="typography-eyebrow-reduced">up to 1.2Gb/s throughput<sup class="footnote footnote-number"><a href="#footnote-21" aria-label="Footnote 18">18</a></sup></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="grid-item connectivity-usb grid-item large-span-6 small-span-12 grid-item-usb" data-analytics-section-engagement="name:usb">
            <header class="grid-item-header">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Thunderbolt / USB 4</h3>
                <p class="grid-item-copy typography-item-description">Ultra&#x2011;high bandwidth meets ultra&#x2011;versatility. Thunderbolt enables data transfer, charging, and video output all through a single port — and MacBook Pro has two of them.</p>
            </header>
            <div class="grid-item-content">
                <div class="text-content row">
                    <div class="small-6 medium-5 large-5 ">
                        <div class="icon-content">
                            <noscript>
                                <style>
                                    picture#overview-thunderbolt-icon-charging-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <picture id="overview-thunderbolt-icon-charging-1" class="overview-thunderbolt-icon-charging" data-picture-lazy-load>
                                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                </source>
                                <source srcset="/build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_small.png 1x, /build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_large.png 1x, /build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_large_2x.png" class="overview-thunderbolt-icon-charging-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-thunderbolt-icon-charging">
                                    <source srcset="/build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_small.png 1x, /build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_small_2x.png 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_large.png 1x, /build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_large_2x.png 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/thunderbolt_icon_charging__ciimm5xu4riq_large_2x.png" class="overview-thunderbolt-icon-charging-img" width="100%" height="100%" alt="">
                                </picture>
                            </noscript>
                            <p class="typography-eyebrow-reduced">Charging</p>
                        </div>
                    </div>
                    <div class="small-6 medium-5 large-5 small-offset-0 medium-offset-2 large-offset-2">
                        <div class="icon-content">
                            <noscript>
                                <style>
                                    picture#overview-thunderbolt-icon-display-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <picture id="overview-thunderbolt-icon-display-1" class="overview-thunderbolt-icon-display" data-picture-lazy-load>
                                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                </source>
                                <source srcset="/build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_small.png 1x, /build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_large.png 1x, /build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_large_2x.png" class="overview-thunderbolt-icon-display-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-thunderbolt-icon-display">
                                    <source srcset="/build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_small.png 1x, /build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_small_2x.png 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_large.png 1x, /build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_large_2x.png 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/thunderbolt_icon_display__4bvl4xs58lua_large_2x.png" class="overview-thunderbolt-icon-display-img" width="100%" height="100%" alt="">
                                </picture>
                            </noscript>
                            <span class="visuallyhidden">6K</span>
                            <p class="typography-eyebrow-reduced">External display</p>
                        </div>
                    </div>
                    <div class="small-6 medium-5 large-5 ">
                        <div class="icon-content">
                            <noscript>
                                <style>
                                    picture#overview-thunderbolt-icon-transfer-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <picture id="overview-thunderbolt-icon-transfer-1" class="overview-thunderbolt-icon-transfer" data-picture-lazy-load>
                                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                </source>
                                <source srcset="/build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_small.png 1x, /build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_large.png 1x, /build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_large_2x.png" class="overview-thunderbolt-icon-transfer-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-thunderbolt-icon-transfer">
                                    <source srcset="/build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_small.png 1x, /build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_small_2x.png 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_large.png 1x, /build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_large_2x.png 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/thunderbolt_icon_transfer__gd7rfvl4azu6_large_2x.png" class="overview-thunderbolt-icon-transfer-img" width="100%" height="100%" alt="">
                                </picture>
                            </noscript>
                            <p class="typography-eyebrow-reduced">Data transfer <br /> up to 40Gb/s<sup class="footnote footnote-number"><a href="#footnote-21" aria-label="Footnote 18">18</a></sup></p>
                        </div>
                    </div>
                    <div class="small-6 medium-5 large-5 small-offset-0 medium-offset-2 large-offset-2">
                        <div class="icon-content">
                            <noscript>
                                <style>
                                    picture#overview-thunderbolt-icon-connect-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <picture id="overview-thunderbolt-icon-connect-1" class="overview-thunderbolt-icon-connect" data-picture-lazy-load>
                                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                </source>
                                <source srcset="/build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_small.png 1x, /build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_large.png 1x, /build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_large_2x.png" class="overview-thunderbolt-icon-connect-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-thunderbolt-icon-connect">
                                    <source srcset="/build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_small.png 1x, /build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_small_2x.png 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_large.png 1x, /build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_large_2x.png 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/thunderbolt_icon_connect__f4wii2unv5ua_large_2x.png" class="overview-thunderbolt-icon-connect-img" width="100%" height="100%" alt="">
                                </picture>
                            </noscript>
                            <p class="typography-eyebrow-reduced">Connecting your <br class="medium" /> devices</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>