{# {% if content.title %}<span class="headline">{{ content.title|raw }}</span>{% endif %} #}
<article class="section section-display section-pad-top" aria-label='Display'>
    <header class="section-header" data-component-list='TriggeredAnimation' data-anim-start='a0t - 9vh' data-analytics-section-engagement='name:display intro'>
        <div class="section-content">
            <h2 class="section-eyebrow typography-headline-super">Retina display</h2>
            <p class="section-header-headline typography-headline-super no-margin-top large-12 small-12">See the better picture.</p>
            <p class="section-header-intro typography-badge-caption large-9 medium-11 small-12">With the brilliant Retina display, images take on an incredible level of detail and realism. Text is sharp and clear. Bright LED backlighting delivers deep blacks and bright whites. P3 wide color brings even more vibrant greens and reds than sRGB. And every MacBook Pro features True Tone technology, so the white balance automatically adjusts to match the color temperature of the light around you — for a more natural viewing experience.</p>
            <div class="section-header-hardware-screen-container ">
                <noscript>
                    <style>
                        picture#overview-retina-hero-screen-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-retina-hero-screen-1" class="overview-retina-hero-screen section-header-screen" data-picture-lazy-load>
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_small.jpg 1x, /build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_medium.jpg 1x, /build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_large.jpg 1x, /build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_large_2x.jpg" class="overview-retina-hero-screen-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-retina-hero-screen section-header-screen">
                        <source srcset="/build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_small.jpg 1x, /build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_medium.jpg 1x, /build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_large.jpg 1x, /build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/retina_hero_screen__gddr9b8m4kuq_large_2x.jpg" class="overview-retina-hero-screen-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
                <noscript>
                    <style>
                        picture#overview-retina-hero-hardware-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-retina-hero-hardware-1" class="overview-retina-hero-hardware section-header-hardware" data-picture-lazy-load>
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_small.jpg 1x, /build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_medium.jpg 1x, /build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_large.jpg 1x, /build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_large_2x.jpg" class="overview-retina-hero-hardware-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-retina-hero-hardware section-header-hardware">
                        <source srcset="/build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_small.jpg 1x, /build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_medium.jpg 1x, /build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_large.jpg 1x, /build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/retina_hero_hardware__bw8sfea616j6_large_2x.jpg" class="overview-retina-hero-hardware-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
            </div>
        </div>
    </header>
    <div class="grid grid-container">
        <section class="grid-item large-span-4 medium-span-6 small-span-12 grid-item-led-display" data-analytics-section-engagement="name:led display">
            <header class="grid-item-header">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Brightness</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div class="text-content row">
                    <div class="large-12">
                        <noscript>
                            <style>
                                picture#overview-backlight-1 {
                                    display: none !important;
                                }
                            </style>
                        </noscript>
                        <picture id="overview-backlight-1" class="overview-backlight" data-picture-lazy-load>
                            <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                            </source>
                            <source srcset="/build/website/img/overview/pro/backlight__88xvy48exo2u_small.png 1x, /build/website/img/overview/pro/backlight__88xvy48exo2u_small_2x.png 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/backlight__88xvy48exo2u_medium.png 1x, /build/website/img/overview/pro/backlight__88xvy48exo2u_medium_2x.png 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/backlight__88xvy48exo2u_large.png 1x, /build/website/img/overview/pro/backlight__88xvy48exo2u_large_2x.png 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/backlight__88xvy48exo2u_large_2x.png" class="overview-backlight-img" width="100%" height="100%" alt="">
                        </picture>
                        <noscript>
                            <picture class="overview-backlight">
                                <source srcset="/build/website/img/overview/pro/backlight__88xvy48exo2u_small.png 1x, /build/website/img/overview/pro/backlight__88xvy48exo2u_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/backlight__88xvy48exo2u_medium.png 1x, /build/website/img/overview/pro/backlight__88xvy48exo2u_medium_2x.png 2x" media="(max-width:1068px)">
                                <source srcset="/build/website/img/overview/pro/backlight__88xvy48exo2u_large.png 1x, /build/website/img/overview/pro/backlight__88xvy48exo2u_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/backlight__88xvy48exo2u_large_2x.png" class="overview-backlight-img" width="100%" height="100%" alt="">
                            </picture>
                        </noscript>
                        <div class="large-12 small-4 m-auto">
                            <div class="badge-container">
                                <figure class="badge">
                                    <div class="badge-content"><span class="badge-value">500</span></div>
                                </figure>
                            </div>
                            <h3 class="typography-badge-caption">nits of brilliance</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="grid-item large-span-4 medium-span-12 grid-item-wide-color" data-analytics-section-engagement="name:wide color">
            <header class="grid-item-header">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">P3 wide color</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div class="text-content row">
                    <div class="large-12">
                        <noscript>
                            <style>
                                picture#overview-colors-1 {
                                    display: none !important;
                                }
                            </style>
                        </noscript>
                        <picture id="overview-colors-1" class="overview-colors" data-picture-lazy-load>
                            <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                            </source>
                            <source srcset="/build/website/img/overview/pro/colors__cc3gcwoz8eya_small.jpg 1x, /build/website/img/overview/pro/colors__cc3gcwoz8eya_small_2x.jpg 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/colors__cc3gcwoz8eya_medium.jpg 1x, /build/website/img/overview/pro/colors__cc3gcwoz8eya_medium_2x.jpg 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/colors__cc3gcwoz8eya_large.jpg 1x, /build/website/img/overview/pro/colors__cc3gcwoz8eya_large_2x.jpg 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/colors__cc3gcwoz8eya_large_2x.jpg" class="overview-colors-img" width="100%" height="100%" alt="">
                        </picture>
                        <noscript>
                            <picture class="overview-colors">
                                <source srcset="/build/website/img/overview/pro/colors__cc3gcwoz8eya_small.jpg 1x, /build/website/img/overview/pro/colors__cc3gcwoz8eya_small_2x.jpg 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/colors__cc3gcwoz8eya_medium.jpg 1x, /build/website/img/overview/pro/colors__cc3gcwoz8eya_medium_2x.jpg 2x" media="(max-width:1068px)">
                                <source srcset="/build/website/img/overview/pro/colors__cc3gcwoz8eya_large.jpg 1x, /build/website/img/overview/pro/colors__cc3gcwoz8eya_large_2x.jpg 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/colors__cc3gcwoz8eya_large_2x.jpg" class="overview-colors-img" width="100%" height="100%" alt="">
                            </picture>
                        </noscript>
                        <div class="large-12 small-10 m-auto">
                            <div class="badge-container">
                                <figure class="badge">
                                    <div class="badge-content"><span class="badge-value">25<span class="typography-headline-elevated">%</span></span>
                                    </div>
                                </figure>
                            </div>
                            <h3 class="typography-badge-caption">more colors <br class="small" />than sRGB</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="grid-item large-span-4 medium-span-6 small-span-12 grid-item-truetone" data-component-list="TriggeredAnimation" data-analytics-section-engagement="name:true tone">
            <header class="grid-item-header">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">True Tone technology</h3>
            </header>
            <div class="grid-item-content content-centered">
                <div class="text-content row">
                    <div class="large-12">
                        <noscript>
                            <style>
                                picture#overview-truetone-icon-1 {
                                    display: none !important;
                                }
                            </style>
                        </noscript>
                        <picture id="overview-truetone-icon-1" class="overview-truetone-icon" data-picture-lazy-load>
                            <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                            </source>
                            <source srcset="/build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_small.png 1x, /build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_small_2x.png 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_medium.png 1x, /build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_medium_2x.png 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_large.png 1x, /build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_large_2x.png 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_large_2x.png" class="overview-truetone-icon-img" width="100%" height="100%" alt="">
                        </picture>
                        <noscript>
                            <picture class="overview-truetone-icon">
                                <source srcset="/build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_small.png 1x, /build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_medium.png 1x, /build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_medium_2x.png 2x" media="(max-width:1068px)">
                                <source srcset="/build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_large.png 1x, /build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/truetone_icon__wczm34t3qrmy_large_2x.png" class="overview-truetone-icon-img" width="100%" height="100%" alt="">
                            </picture>
                        </noscript>
                        <div class="large-12 m-auto medium-9 small-10">
                            <h3 class="typography-badge-caption">A view that adjusts to your environment</h3>
                        </div>
                    </div>
                </div>
            </div>
            <noscript>
                <style>
                    picture#overview-truetone-warm-bg-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-truetone-warm-bg-1" class="overview-truetone-warm-bg background-image" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_small.jpg 1x, /build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_small_2x.jpg 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_medium.jpg 1x, /build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_medium_2x.jpg 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_large.jpg 1x, /build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_large_2x.jpg 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_large_2x.jpg" class="overview-truetone-warm-bg-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-truetone-warm-bg background-image">
                    <source srcset="/build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_small.jpg 1x, /build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_medium.jpg 1x, /build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_large.jpg 1x, /build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/truetone_warm_bg__gjhxib60wtua_large_2x.jpg" class="overview-truetone-warm-bg-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
            <noscript>
                <style>
                    picture#overview-truetone-cold-bg-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-truetone-cold-bg-1" class="overview-truetone-cold-bg background-image" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_small.jpg 1x, /build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_small_2x.jpg 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_large.jpg 1x, /build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_large_2x.jpg 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_large_2x.jpg" class="overview-truetone-cold-bg-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-truetone-cold-bg background-image">
                    <source srcset="/build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_small.jpg 1x, /build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_large.jpg 1x, /build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/truetone_cold_bg__chsf1efvkyuu_large_2x.jpg" class="overview-truetone-cold-bg-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
        </section>
    </div>
</article>