{# {% if content.title %}<span class="headline">{{ content.title|raw }}</span>{% endif %} #}
<section class="section section-hero" data-analytics-section-engagement="name:hero">
    <div class="section-content" data-component-list="HeroMetrics">
        <div class="hero-media">
            <div class="inline-video" data-component-list="InlineMedia">
                <noscript>
                    <style>
                        picture#overview-hero-startframe-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-hero-startframe-1" class="overview-hero-startframe start-frame" data-picture-lazy-load data-download-area-keyframe='{ &quot;start&quot;: &quot;t - 100vh&quot;, &quot;end&quot;: &quot;b + 100vh&quot; }' aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_small.jpg 1x, /build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_medium.jpg 1x, /build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_large.jpg 1x, /build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_large_2x.jpg" class="overview-hero-startframe-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-hero-startframe start-frame">
                        <source srcset="/build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_small.jpg 1x, /build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_medium.jpg 1x, /build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_large.jpg 1x, /build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/hero_startframe__gfzn6m1jpf6u_large_2x.jpg" class="overview-hero-startframe-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
                <video class="video" muted playsinline data-inline-media preload='none' role='presentation' data-inline-media-load-keyframe='{ &quot;start&quot;: &quot;t - 100vh&quot;, &quot;end&quot;: &quot;b + 100vh&quot; }' data-inline-media-basepath="/build/website/mp4/anim/hero/" data-inline-media-plugins="AnimLoad, PlayOnce, AnimPlay, ViewportSourceResetBreakpoint, LoadTimeout" data-load-timeout="5000"></video>
                <noscript>
                    <style>
                        picture#overview-hero-endframe-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="overview-hero-endframe-1" class="overview-hero-endframe end-frame" data-picture-lazy-load data-download-area-keyframe='{ &quot;start&quot;: &quot;t - 100vh&quot;, &quot;end&quot;: &quot;b + 100vh&quot; }' aria-hidden="true">
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_small.jpg 1x, /build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_medium.jpg 1x, /build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_large.jpg 1x, /build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_large_2x.jpg" class="overview-hero-endframe-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="overview-hero-endframe end-frame">
                        <source srcset="/build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_small.jpg 1x, /build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_medium.jpg 1x, /build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_large.jpg 1x, /build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/hero_endframe__bsza6x4fldiq_large_2x.jpg" class="overview-hero-endframe-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
            </div>
        </div>
        <div class="hero-copyblock">
            <div class="large-12">
                <h1 class="hero-eyebrow typography-callout">MacBook Pro</h1>
                <h2 class="hero-headline typography-hero-headline">All systems Pro.</h2>
            </div>
            <div class="large-12">
                <p class="hero-copy typography-quote-reduced">The Apple M1 chip gives the 13&#x2011;inch MacBook Pro speed and power beyond belief. With up to 2.8x CPU performance. Up to 5x the graphics speed. Our most advanced Neural Engine for up to 11x faster machine learning. And up to 20 hours of battery life — the longest of any Mac ever. It&#39;s our most popular pro notebook, taken to a whole new level.</p>
            </div>
            <div class="hero-callout">
                <picture id="overview-hero-icon-1" class="overview-hero-icon hero-callout-icon">
                    <source srcset="/build/website/img/overview/pro/hero_icon__gf2ry7i5mt6y_small.jpg 1x, /build/website/img/overview/pro/hero_icon__gf2ry7i5mt6y_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/hero_icon__gf2ry7i5mt6y_large.jpg 1x, /build/website/img/overview/pro/hero_icon__gf2ry7i5mt6y_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/hero_icon__gf2ry7i5mt6y_large_2x.jpg" class="overview-hero-icon-img" width="100%" height="100%" alt="">
                </picture>
                <p class="hero-callout-copy typography-eyebrow-elevated">Supercharged by the<br class="small" /> Apple M1 chip</p>
            </div>

        </div>
        <ul class="hero-cta-list typography-eyebrow-elevated">
            <li class="hero-cta-item  ">
                <a href="https://www.apple.com/ua/apple-events/november-2020/" data-analytics-title="watch the event" aria-label="Watch the Macbook Pro event">Watch the event <span class="material-icons md-18">arrow_forward_ios</span></a>
            </li>
            <!--<li class="hero-cta-item quicklook-ar-ios-12 ">
                        <a rel="ar" href="https://www.apple.com/105/media/us/macbook-pro-13/2020/f2b14406-42ad-405e-bfa0-71b52a0bfd67/quick-look/macbook_pro_13in_2port_m1_chip_silver_ios12.usdz" class="icon icon-after icon-arkit" data-analytics-title="see macbook pro in ar - classic" data-analytics-click="prop3:see macbook pro in ar - classic" data-analytics-intrapage-link><img src="/build/website/img/overview/pro/quicklook_placeholder__v2xxp8c8wpea_large.jpg">See MacBook Pro in AR</a>
                    </li>
                    <li class="hero-cta-item quicklook-ar-ios-13-plus ">
                        <a rel="ar" href="https://www.apple.com/105/media/us/macbook-pro-13/2020/f2b14406-42ad-405e-bfa0-71b52a0bfd67/quick-look/macbook_pro_13in_2port_m1_chip_silver_ios14.usdz" class="icon icon-after icon-arkit" data-analytics-title="see macbook pro in ar - modern" data-analytics-click="prop3:see macbook pro in ar - modern" data-analytics-intrapage-link><img src="/build/website/img/overview/pro/quicklook_placeholder__v2xxp8c8wpea_large.jpg">See MacBook Pro in AR</a>
                    </li>-->
        </ul>
    </div>
</section>