{# {% if content.title %}<span class="headline">{{ content.title|raw }}</span>{% endif %} #}
<article class="section section-keyboard section-pad-top" aria-label='Keyboard'>
    <header class="section-header" data-analytics-section-engagement='name:keyboard intro'>
        <div class="section-content">
            <h2 class="section-eyebrow typography-headline-super">Magic Keyboard</h2>
            <p class="section-header-headline typography-headline-super no-margin-top large-12">Just your type.</p>
            <p class="section-header-intro typography-badge-caption large-9 medium-9 small-12">Magic Keyboard lets you do everything faster and more efficiently. The refined scissor mechanism delivers a responsive, comfortable, and quiet typing experience. The Touch Bar puts the commands you need most right where you need them, saving time and keystrokes. And Touch ID provides fast, easy authentication for secure logins.</p>
            <noscript>
                <style>
                    picture#overview-magic-keyboard-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-magic-keyboard-1" class="overview-magic-keyboard" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_small.jpg 1x, /build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_small_2x.jpg 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_medium.jpg 1x, /build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_medium_2x.jpg 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_large.jpg 1x, /build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_large_2x.jpg 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_large_2x.jpg" class="overview-magic-keyboard-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-magic-keyboard">
                    <source srcset="/build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_small.jpg 1x, /build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_medium.jpg 1x, /build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_large.jpg 1x, /build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/magic_keyboard__brx9diaauwaa_large_2x.jpg" class="overview-magic-keyboard-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
        </div>
    </header>
    <div class="grid grid-container">
        <section class="grid-item large-span-6 small-span-12 grid-item-scissor" data-analytics-section-engagement="name:scissor">
            <header class="grid-item-header">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Scissor mechanism</h3>
            </header>
            <div class="grid-item-content">
                <div class="text-content">
                    <p class="typography-callout">Every keystroke, thought, or line of code just feels right.</p>
                </div>
                <div class="content-bottom">
                    <noscript>
                        <style>
                            picture#overview-scissor-mechanism-1 {
                                display: none !important;
                            }
                        </style>
                    </noscript>
                    <picture id="overview-scissor-mechanism-1" class="overview-scissor-mechanism" data-picture-lazy-load>
                        <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                        </source>
                        <source srcset="/build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_small.png 1x, /build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_small_2x.png 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_medium.png 1x, /build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_medium_2x.png 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_large.png 1x, /build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_large_2x.png 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_large_2x.png" class="overview-scissor-mechanism-img" width="100%" height="100%" alt="Deconstructed view of the Magic Keyboard scissor mechanism">
                    </picture>
                    <noscript>
                        <picture class="overview-scissor-mechanism">
                            <source srcset="/build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_small.png 1x, /build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_small_2x.png 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_medium.png 1x, /build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_medium_2x.png 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_large.png 1x, /build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_large_2x.png 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/scissor_mechanism__danir2ptylsi_large_2x.png" class="overview-scissor-mechanism-img" width="100%" height="100%" alt="Deconstructed view of the Magic Keyboard scissor mechanism">
                        </picture>
                    </noscript>
                </div>
            </div>
        </section>
        <section class="grid-item large-span-6 small-span-12 grid-item-touchbar" data-analytics-section-engagement="name:touch bar">
            <header class="grid-item-header">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Touch Bar</h3>
                <p class="grid-item-copy typography-item-description">More shortcuts to success. <span class="color-secondary">Enjoy even more shortcuts and features — like your favorite emoji and preferred languages.</span></p>
            </header>
            <div class="grid-item-content">
                <div class="text-content">
                </div>
            </div>
            <noscript>
                <style>
                    picture#overview-touch-bar-id-1 {
                        display: none !important;
                    }
                </style>
            </noscript>
            <picture id="overview-touch-bar-id-1" class="overview-touch-bar-id background-image" data-picture-lazy-load>
                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                </source>
                <source srcset="/build/website/img/overview/pro/touch_bar_id__ftommex59wii_small.jpg 1x, /build/website/img/overview/pro/touch_bar_id__ftommex59wii_small_2x.jpg 2x" media="(max-width:734px)">
                <source srcset="/build/website/img/overview/pro/touch_bar_id__ftommex59wii_medium.jpg 1x, /build/website/img/overview/pro/touch_bar_id__ftommex59wii_medium_2x.jpg 2x" media="(max-width:1068px)">
                <source srcset="/build/website/img/overview/pro/touch_bar_id__ftommex59wii_large.jpg 1x, /build/website/img/overview/pro/touch_bar_id__ftommex59wii_large_2x.jpg 2x" media="(min-width:0px)">
                <img src="/build/website/img/overview/pro/touch_bar_id__ftommex59wii_large_2x.jpg" class="overview-touch-bar-id-img" width="100%" height="100%" alt="">
            </picture>
            <noscript>
                <picture class="overview-touch-bar-id background-image">
                    <source srcset="/build/website/img/overview/pro/touch_bar_id__ftommex59wii_small.jpg 1x, /build/website/img/overview/pro/touch_bar_id__ftommex59wii_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/touch_bar_id__ftommex59wii_medium.jpg 1x, /build/website/img/overview/pro/touch_bar_id__ftommex59wii_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/touch_bar_id__ftommex59wii_large.jpg 1x, /build/website/img/overview/pro/touch_bar_id__ftommex59wii_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/touch_bar_id__ftommex59wii_large_2x.jpg" class="overview-touch-bar-id-img" width="100%" height="100%" alt="">
                </picture>
            </noscript>
        </section>
        <section class="grid-item large-span-12 grid-item-touchid" data-analytics-section-engagement="name:touch id">
            <header class="grid-item-header">
                <h3 class="grid-item-eyebrow typography-eyebrow-reduced">Touch ID</h3>
            </header>
            <div class="grid-item-content">
                <div class="text-content row grid">
                    <div class="large-span-6 medium-span-6 small-span-12">
                        <p class="typography-eyebrow-super touchid-main-copy">A touch on the sensor instantly unlocks your Mac, and a press locks it. Use your fingerprint to rent movies, buy apps, or access things like locked documents or system settings without having to reenter your password.</p>
                    </div>
                    <ul class="large-span-5 medium-span-6 small-span-12 row list-nobullet touchid-icon-grid">
                        <li class="large-5 medium-6 small-6 flex-column touchid-icon-item">
                            <noscript>
                                <style>
                                    picture#overview-touchid-icon-unlock-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <picture id="overview-touchid-icon-unlock-1" class="overview-touchid-icon-unlock" data-picture-lazy-load>
                                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                </source>
                                <source srcset="/build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_small.png 1x, /build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_large.png 1x, /build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_large_2x.png" class="overview-touchid-icon-unlock-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-touchid-icon-unlock">
                                    <source srcset="/build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_small.png 1x, /build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_small_2x.png 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_large.png 1x, /build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_large_2x.png 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/touchid_icon_unlock__ekixivepxouq_large_2x.png" class="overview-touchid-icon-unlock-img" width="100%" height="100%" alt="">
                                </picture>
                            </noscript>
                            <p class="typography-icon-grid-caption">Unlock your Mac</p>
                        </li>
                        <li class="large-5 medium-5 small-6 flex-column touchid-icon-item">
                            <noscript>
                                <style>
                                    picture#overview-touchid-icon-applepay-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                            </source>
                            <source srcset="/build/website/img/overview/pro/touchid_icon_applepay__ecbwfqmxgb8m_small.png 1x ,/build/website/img/overview/pro/touchid_icon_applepay__ecbwfqmxgb8m_small_2x.png 2x " media="(max-width: 734px)">
                            <source srcset="/build/website/img/overview/pro/touchid_icon_applepay__ecbwfqmxgb8m_large.png 1x ,/build/website/img/overview/pro/touchid_icon_applepay__ecbwfqmxgb8m_large_2x.png 2x " media="(min-width: 0px)">
                            <img src='/build/website/img/overview/pro/touchid_icon_applepay__ecbwfqmxgb8m_large_2x.png' class="overview-touchid-icon-applepay-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-touchid-icon-applepay">
                                    <source srcset="/build/website/img/overview/pro/touchid_icon_applepay__ecbwfqmxgb8m_small.png 1x ,/build/website/img/overview/pro/touchid_icon_applepay__ecbwfqmxgb8m_small_2x.png 2x " media="(max-width: 734px)">
                                    <source srcset="/build/website/img/overview/pro/touchid_icon_applepay__ecbwfqmxgb8m_large.png 1x ,/build/website/img/overview/pro/touchid_icon_applepay__ecbwfqmxgb8m_large_2x.png 2x " media="(min-width: 0px)">
                                    <img src='/ua/macbook-air/images/overview/touchid_icon_applepay__ecbwfqmxgb8m_large_2x.png' class="overview-touchid-icon-applepay-img" width="100%" height="100%" alt="ícono del App Store">
                                </picture>
                            </noscript>
                            <p class="typography-icon-grid-caption app-store-caption">Make <br class="small" />purchases <br class="medium" /><br class="large" />on the App Store</p>
                        </li>
                        <li class="large-5 medium-6 small-6 flex-column touchid-icon-item touchid-icon-item-customized">
                            <picture id="overview-touchid-icon-protected-1" class="overview-touchid-icon-protected" data-picture-lazy-load>
                                <noscript>
                                    <style>
                                        picture#overview-touchid-icon-protected-1 {
                                            display: none !important;
                                        }
                                    </style>
                                </noscript>
                                <picture id="overview-touchid-icon-protected-1" class="overview-touchid-icon-protected" data-picture-lazy-load>
                                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                    </source>
                                    <source srcset="/build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_small.png 1x, /build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_small_2x.png 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_large.png 1x, /build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_large_2x.png 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_large_2x.png" class="overview-touchid-icon-protected-img" width="100%" height="100%" alt="">
                                </picture>
                                <noscript>
                                    <picture class="overview-touchid-icon-protected">
                                        <source srcset="/build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_small.png 1x, /build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_small_2x.png 2x" media="(max-width:734px)">
                                        <source srcset="/build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_large.png 1x, /build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_large_2x.png 2x" media="(min-width:0px)">
                                        <img src="/build/website/img/overview/pro/touchid_icon_protected__fjkptdkk1lme_large_2x.png" class="overview-touchid-icon-protected-img" width="100%" height="100%" alt="">
                                    </picture>
                                </noscript>
                                <p class="typography-icon-grid-caption">Open password-protected documents</p>
                        </li>
                        <li class="large-5 medium-5 small-6 flex-column touchid-icon-item">
                            <noscript>
                                <style>
                                    picture#overview-touchid-icon-appletv-1 {
                                        display: none !important;
                                    }
                                </style>
                            </noscript>
                            <picture id="overview-touchid-icon-appletv-1" class="overview-touchid-icon-appletv" data-picture-lazy-load>
                                <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                                </source>
                                <source srcset="/build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_small.png 1x, /build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_large.png 1x, /build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_large_2x.png" class="overview-touchid-icon-appletv-img" width="100%" height="100%" alt="">
                            </picture>
                            <noscript>
                                <picture class="overview-touchid-icon-appletv">
                                    <source srcset="/build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_small.png 1x, /build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_small_2x.png 2x" media="(max-width:734px)">
                                    <source srcset="/build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_large.png 1x, /build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_large_2x.png 2x" media="(min-width:0px)">
                                    <img src="/build/website/img/overview/pro/touchid_icon_appletv__cwng1bbeljue_large_2x.png" class="overview-touchid-icon-appletv-img" width="100%" height="100%" alt="">
                                </picture>
                            </noscript>
                            <p class="typography-icon-grid-caption">Make <br class="small" />purchases <br class="medium" /><br class="large" />on the Apple TV app</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</article>