{# {% if content.title %}<span class="headline">{{ content.title|raw }}</span>{% endif %} #}
<article class="section section-router" aria-label='Router'>
    <header class="section-header" aria-label='Router'>
        <div class="section-content">
        </div>
    </header>
    <div class="grid grid-container">
        <section class="grid-item grid-item-router large-span-6 small-span-12 justify-content-center grid-item-macos" data-analytics-section-engagement="name:macos router">
            <div class="grid-item-header">
                <div class="text-content">
                    <h2>
                        <noscript>
                            <style>
                                picture#shared-router-macos-bigsur-logo-1 {
                                    display: none !important;
                                }
                            </style>
                        </noscript>
                        <picture id="shared-router-macos-bigsur-logo-1" class="shared-router-macos-bigsur-logo" data-picture-lazy-load>
                            <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                            </source>
                            <source srcset="/build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_small.png 1x, /build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_small_2x.png 2x" media="(max-width:734px)">
                            <source srcset="/build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_medium.png 1x, /build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_medium_2x.png 2x" media="(max-width:1068px)">
                            <source srcset="/build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_large.png 1x, /build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_large_2x.png 2x" media="(min-width:0px)">
                            <img src="/build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_large_2x.png" class="shared-router-macos-bigsur-logo-img" width="100%" height="100%" alt="macos big sur">
                        </picture>
                        <noscript>
                            <picture class="shared-router-macos-bigsur-logo">
                                <source srcset="/build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_small.png 1x, /build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_small_2x.png 2x" media="(max-width:734px)">
                                <source srcset="/build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_medium.png 1x, /build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_medium_2x.png 2x" media="(max-width:1068px)">
                                <source srcset="/build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_large.png 1x, /build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_large_2x.png 2x" media="(min-width:0px)">
                                <img src="/build/website/img/overview/pro/router_macos_bigsur_logo__d85qyb1cx9yu_large_2x.png" class="shared-router-macos-bigsur-logo-img" width="100%" height="100%" alt="macos big sur">
                            </picture>
                        </noscript>
                    </h2>
                    <p class="typography-headline no-margin-top">See what’s new in macOS Big Sur.</p>
                    <p></p>
                    <p><a href="https://www.apple.com/ua/macos/big-sur/" data-analytics-title="learn more about macos big sur" aria-label="Learn more about macOS Big Sur" class="icon-wrapper"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a></p>
                </div>
                <noscript>
                    <style>
                        picture#shared-router-macos-bigsur-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="shared-router-macos-bigsur-1" class="shared-router-macos-bigsur" data-picture-lazy-load>
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_small.jpg 1x, /build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_medium.jpg 1x, /build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_large.jpg 1x, /build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_large_2x.jpg" class="shared-router-macos-bigsur-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="shared-router-macos-bigsur">
                        <source srcset="/build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_small.jpg 1x, /build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_medium.jpg 1x, /build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_large.jpg 1x, /build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/router_macos_bigsur__c8o3cmwa07ki_large_2x.jpg" class="shared-router-macos-bigsur-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
            </div>
        </section>
        <section class="grid-item grid-item-router large-span-6 small-span-12 grid-item-continuity" data-analytics-section-engagement="name:continuity">
            <div class="grid-item-header">
                <div class="text-content">
                    <h2 class="typography-intro-elevated typography-eyebrow-reduced">Continuity</h2>
                    <p class="typography-headline no-margin-top">All your devices.<br />One seamless experience.</p>
                    <p>Because Apple makes iPhone, iPad, Apple Watch, and Mac, they work together like no other devices can.</p>
                    <p><a href="https://www.apple.com/ua/macos/continuity/" data-analytics-title="learn more about continuity" aria-label="Learn more about your devices working together" class="icon-wrapper"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a></p>
                </div>
                <noscript>
                    <style>
                        picture#shared-router-continuity-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="shared-router-continuity-1" class="shared-router-continuity" data-picture-lazy-load>
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/router_continuity__ee5e36ccpagm_small.jpg 1x, /build/website/img/overview/pro/router_continuity__ee5e36ccpagm_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/router_continuity__ee5e36ccpagm_medium.jpg 1x, /build/website/img/overview/pro/router_continuity__ee5e36ccpagm_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/router_continuity__ee5e36ccpagm_large.jpg 1x, /build/website/img/overview/pro/router_continuity__ee5e36ccpagm_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/router_continuity__ee5e36ccpagm_large_2x.jpg" class="shared-router-continuity-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="shared-router-continuity">
                        <source srcset="/build/website/img/overview/pro/router_continuity__ee5e36ccpagm_small.jpg 1x, /build/website/img/overview/pro/router_continuity__ee5e36ccpagm_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/router_continuity__ee5e36ccpagm_medium.jpg 1x, /build/website/img/overview/pro/router_continuity__ee5e36ccpagm_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/router_continuity__ee5e36ccpagm_large.jpg 1x, /build/website/img/overview/pro/router_continuity__ee5e36ccpagm_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/router_continuity__ee5e36ccpagm_large_2x.jpg" class="shared-router-continuity-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
            </div>
        </section>
        <section class="grid-item grid-item-router large-span-12 justify-content-center grid-item-business" data-analytics-section-engagement="name:mac for business">
            <div class="grid-item-header">
                <div class="text-content">
                    <p class="typography-headline no-margin-top">Mac for Business</p>
                    <p>Get the power to take your business to the next level.</p>
                    <p><a href="https://www.apple.com/ua/business/" data-analytics-title="learn more about mac in business" aria-label="Learn more about Mac in business" class="icon-wrapper"><span class="icon-copy">Learn about Mac in business</span><span class="icon icon-after more"></span></a></p>
                </div>
                <noscript>
                    <style>
                        picture#shared-router-business-1 {
                            display: none !important;
                        }
                    </style>
                </noscript>
                <picture id="shared-router-business-1" class="shared-router-business" data-picture-lazy-load>
                    <source data-empty=true srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" media="(min-width: 0px)">
                    </source>
                    <source srcset="/build/website/img/overview/pro/router_business__bdrfem5m1d7m_small.jpg 1x, /build/website/img/overview/pro/router_business__bdrfem5m1d7m_small_2x.jpg 2x" media="(max-width:734px)">
                    <source srcset="/build/website/img/overview/pro/router_business__bdrfem5m1d7m_medium.jpg 1x, /build/website/img/overview/pro/router_business__bdrfem5m1d7m_medium_2x.jpg 2x" media="(max-width:1068px)">
                    <source srcset="/build/website/img/overview/pro/router_business__bdrfem5m1d7m_large.jpg 1x, /build/website/img/overview/pro/router_business__bdrfem5m1d7m_large_2x.jpg 2x" media="(min-width:0px)">
                    <img src="/build/website/img/overview/pro/router_business__bdrfem5m1d7m_large_2x.jpg" class="shared-router-business-img" width="100%" height="100%" alt="">
                </picture>
                <noscript>
                    <picture class="shared-router-business">
                        <source srcset="/build/website/img/overview/pro/router_business__bdrfem5m1d7m_small.jpg 1x, /build/website/img/overview/pro/router_business__bdrfem5m1d7m_small_2x.jpg 2x" media="(max-width:734px)">
                        <source srcset="/build/website/img/overview/pro/router_business__bdrfem5m1d7m_medium.jpg 1x, /build/website/img/overview/pro/router_business__bdrfem5m1d7m_medium_2x.jpg 2x" media="(max-width:1068px)">
                        <source srcset="/build/website/img/overview/pro/router_business__bdrfem5m1d7m_large.jpg 1x, /build/website/img/overview/pro/router_business__bdrfem5m1d7m_large_2x.jpg 2x" media="(min-width:0px)">
                        <img src="/build/website/img/overview/pro/router_business__bdrfem5m1d7m_large_2x.jpg" class="shared-router-business-img" width="100%" height="100%" alt="">
                    </picture>
                </noscript>
            </div>
        </section>
    </div>
</article>