###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

# var
/var/*
!/var/.gitkeep

# web
/public/bundles
/public/uploads
/public/admin/translations/*
!/public/admin/translations/.gitkeep

# composer
/composer.phar
/vendor

# npm
node_modules

# phpunit
.phpunit
/phpunit.xml
.phpunit.result.cache

# IDEs
/.idea
*.iml
*~
.web-server-pid

# System files
.DS_Store

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
