{
  "extends": "stylelint-config-ma",
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "selector-class-pattern": "^[a-z-_0-9]*$",
    "scss/dollar-variable-pattern": "^[a-z-0-9]*$",
    "value-keyword-case": null,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true
  }
}
