parameters:
    level: max
    paths:
        - src
        - tests
        - config
    inferPrivatePropertyTypeFromConstructor: true
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/website/dev/App_KernelDevDebugContainer.xml'
        console_application_loader: 'tests/phpstan/console-application.php'
    doctrine:
        objectManagerLoader: 'tests/phpstan/object-manager.php'
    excludePaths:
        - '%rootDir%/../../../config/packages/phpcr.php'
        - '%rootDir%/../../../src/DataFixtures/Document/DocumentFixture.php'
        - '%rootDir%/../../../src/DataFixtures/ORM/AppFixture.php'
