parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$environment of class App\\Kernel constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: bin/console.php

		-
			message: '#^Parameter \#3 \$suluContext of class App\\Kernel constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: bin/console.php

		-
			message: '#^Binary operation "\." between ''/''\|''\\\\'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: config/router.php

		-
			message: '#^Binary operation "\." between mixed and ''/''\|''\\\\'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: config/router.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: config/router.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/router.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/router.php

		-
			message: '#^Parameter \#5 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/router.php

		-
			message: '#^Parameter \#1 \$environment of class App\\Kernel constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: public/index.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: public/index.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: public/index.php

		-
			message: '#^Parameter \#1 \$string of function substr expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: public/maintenance.php

		-
			message: '#^Instanceof between Symfony\\Component\\DependencyInjection\\ContainerInterface and Symfony\\Component\\DependencyInjection\\ContainerInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Build/UserBuilder.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Common/DoctrineListRepresentationFactory.php

		-
			message: '#^Parameter \#1 \$entityName of method Sulu\\Component\\Rest\\ListBuilder\\Doctrine\\DoctrineListBuilderFactoryInterface\:\:create\(\) expects class\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Common/DoctrineListRepresentationFactory.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/Common/DoctrineListRepresentationFactory.php

		-
			message: '#^Parameter \$id of static method Sulu\\Content\\Application\\ContentResolver\\Value\\ContentView\:\:createResolvableWithReferences\(\) expects int\|string, float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/PropertyResolver/SingleAlbumSelectionPropertyResolver.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) with ''id'' and array\{id\: int\|null, title\: string, image\: array\{id\: int\}\|null, tracklist\: array\<mixed\>\} will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/Functional/Controller/Admin/AlbumControllerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Symfony\\\\Component\\\\HttpFoundation\\\\Response'' and Symfony\\Component\\HttpFoundation\\Response will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 7
			path: tests/Functional/Controller/Admin/AlbumControllerTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php

		-
			message: '#^Parameter \#1 \$environment of class App\\Kernel constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/phpstan/console-application.php

		-
			message: '#^Parameter \#1 \$environment of class App\\Kernel constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/phpstan/object-manager.php
