<div class="footer">
    <div class="footer--frame">
        <div class="grid">
            <div class="grid__item desk--three-tenths lap--six-tenths palm--one-whole">
                <div class="footer-elem">
                    <h6 class="heading--h6">for booking</h6>
                    <span><i class="ion-ios-telephone"></i> +43 5572 51318</span>
                    <span><i class="ion-ios-telephone"></i> +43 5572 51318</span>
                    <span><i class="ion-ios-telephone"></i> +43 5572 51318 5572 51318 5572 51318 5572 51318</span>
                    <span><i class="ion-ios-telephone"></i> +43 5572 51318</span>
                </div>
            </div>
            <div class="grid__item desk--two-tenths lap--four-tenths">
                <div class="footer-elem">
                    <h6 class="heading--h6">quick links</h6>
                    <a href="#"><i class="ion-ios-arrow-forward"></i>Sidemap</a>
                    <a href="#"><i class="ion-ios-arrow-forward"></i>Sidemap</a>
                    <a href="#"><i class="ion-ios-arrow-forward"></i>Sidemap</a>
                    <a href="#"><i class="ion-ios-arrow-forward"></i>Sidemap</a>
                </div>
            </div>
            <div class="grid__item desk--five-tenths portable--one-whole">
                <div class="footer-elem">
                    <h6 class="heading--h6">Sign up for newsletter</h6>
                    <p>
                        We provide a wide array of software design and development services from Mobile applications and
                        Web applications to User interface design.
                    </p>
                    <form>
                        <label class="footer-elem-emaillabel">
                            <i class="ion-android-mail footer-elem-emaillabel-icon"></i>
                            <input class="footer-elem-emaillabel-input"
                                   type="text"
                                   placeholder="Enter your email address"
                                   required="">
                        </label>
                        <input class="footer-elem-button" type="submit" value="Signup">
                    </form>
                </div>
            </div>
        </div>

        <div class="grid footer-socials">
            <a href="#" class="grid__item desk--three-twelfths lap--one-half palm--one-whole footer-socials-facebook">
                <i class="ion-social-facebook"></i> Facebook
            </a>
            <a href="#" class="grid__item desk--three-twelfths lap--one-half palm--one-whole footer-socials-twitter">
                <i class="ion-social-twitter"></i> Twitter
            </a>
            <a href="#" class="grid__item desk--three-twelfths lap--one-half palm--one-whole footer-socials-googleplus">
                <i class="ion-social-googleplus"></i> Google+
            </a>
            <a href="#" class="grid__item desk--three-twelfths lap--one-half palm--one-whole footer-socials-github">
                <i class="ion-social-github"></i> Github
            </a>
        </div>

        <span class="footer-imprint">&copy; 2016 MassiveArt</span>
    </div>
</div>