<nav class="nav">
    <a class="nav-elem nav-elem--logo" href="/{{ request.locale }}">
        <img src="/img/logo.svg" class="nav-logo-image"/>
    </a>

    <div class="nav--right cf">
        <ul class="nav-elem nav-elem--items">
            {% for item in sulu_navigation_root_flat('main') %}
                <li>
                    <a href="{{ sulu_content_path(item.url) }}"
                       title="{{ item.title }}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}

            <li>
                {% if request.locale == "de" %}
                    <a href="/en">en</a>
                {% else %}
                    <a href="/de">de</a>
                {% endif %}
            </li>
        </ul>

        <a id="js-nav-button" class="nav-elem nav-elem--button">
            <i class="ion-navicon-round"></i>
        </a>
    </div>
</nav>