<div class="navbar navbar--default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/{{ request.locale }}">
            <img src="/img/logo.png" class="nav-element nav-element-logo"/>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

            {% for item in sulu_navigation_root_tree('main') %}
                <li>
                    <a href="{{ sulu_content_path(item.url) }}"
                       title="{{ item.title }}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}

            <li>

                {% if request.locale == "de" %}
                    <a href="/en">en</a>

                {% else %}
                    <a href="/de">de </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>