# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
    app.twig_extensions.date:
        class: Twig_Extensions_Extension_Date
        tags:
            - { name: twig.extension }
