.artist--element {
    &-heading {
        max-width: $maxwidth;
        margin: 65px auto 35px auto;
    }

    &-frame {
        &-item {
            &-image {
                position: relative;
                width: 100%;
                height: auto;
            }

            &-link {
                @include vertical-align(absolute);
                width: inherit;
                text-align: center;
                z-index: 1;

                .no-touchevents &:hover {
                    color: $colorwhite;
                    text-decoration: none;
                }
            }

            &--hover {
                position: absolute;
                top: 0;
                width: inherit;
                height: inherit;
                display: none;
                padding: 20px;
                box-sizing: border-box;

                .button--small {
                    @include vertical-align(relative);
                    margin: 40px auto 0 auto;
                }

                &:before {
                    content: '';
                    top: 0;
                    left: 0;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: $colorred--lighter02;
                    opacity: 0.75;
                }
            }

            .no-touchevents &:hover {
                .artist--element-frame-item--hover {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: $tablet) {
    .artist--element {
        padding: 0 20px;
    }
}

@media(max-width: $tablet) {
    .artist--element {
        padding: 75px;
    }
}

@media (max-width: 700px) {
    .artist--element {
        padding: 15px;
    }
}