$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon--facebook: "\e900";
$icon--instagram: "\e901";
$icon--spotify: "\e902";
$icon--youtube: "\e903";
$icon--times: "\e905";
$icon--menu: "\e904";

