sulu:
    app:
        secret: ''
        readinessAuthentication: 'sulu:staging'
        env:
            - name: S3_KEY
              value: ''
            - name: S3_SECRET
              value: ''
            - name: S3_REGION
              value: ''
            - name: S3_ENDPOINT
              value: ''
            - name: S3_BUCKET_NAME
              value: ''
            - name: DATABASE_URL
              value: ''
            - name: SENTRY_DSN
              value: ''
            - name: APP_GITHUB_TOKEN
              value: ''
            - name: APP_SLACK_LEGACY_TOKEN
              value: ''

    varnish:
        readinessAuthentication: 'sulu:staging'

    ingress:
        annotations:
            kubernetes.io/ingress.class: nginx
        tls:
            email: ''

    redis:
        password: ''

imageCredentials:
    username: ''
    password: ''
    email: ''
