{% if content.blocks|default([])|length %}
    <div class="blocks">
        {% for block in content.blocks %}
            <div class="blocks__item{% if block.settings.theme|default %} blocks__item--{{ block.settings.theme }}{% endif %}">
                {% include 'includes/blocks/' ~ block.type ~ '.html.twig' with {
                    content: block,
                    view: view.blocks[loop.index0],
                } only %}
            </div>
        {% endfor %}
    </div>
{% endif %}
