<section class="demobar">
    <a href="https://sulu.io/" target="_blank" class="demobar__logo">
        <img src="{{ asset('website/images/sulu.svg') }}" alt="Sulu.io" class="demobar__logo-image"/>
    </a>

    <p class="demobar__title">
        {{ applicationSettings.demobarText|default('SULU DEMO') }}
    </p>

    <a href="https://github.com/sulu/sulu-demo" target="_blank" class="demobar__github">
        <img src="{{ asset('website/images/GitHub.png') }}" alt="Github Sulu Demo" class="demobar__github-image"/>
    </a>

    <a href="/admin" class="button button--small demobar__button">
        SULU-ADMIN
    </a>
</section>
