<footer class="footer">
    <div class="footer__main">
        <div class="container">
            <div class="grid grid--reverse">
                <div class="grid__item width-6 width-tablet-12">
                    <h4>Connect with us</h4>
                </div>
                <div class="grid__item width-6 width-tablet-12">
                    <div class="grid">
                        <div class="grid__item width-6">
                            <h4>Contact</h4>
                        </div>
                        <div class="grid__item width-6">
                            <h4>Quick Links</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__imprint">
                <div class="grid">
                    <div class="grid__item width-6 width-mobile-12">
                        <span class="footer__imprint-item">&copy; Soundmanagement Corporation 2019</span>
                    </div>

                    <div class="grid__item width-6 width-mobile-12">
                        <a href="#" class="footer__imprint-item">Privacy policy and terms of use</a>
                    </div>

                    <div class="grid__item width-6 width-mobile-12">
                        <a href="#" class="footer__imprint-item">Cookie policy</a>
                    </div>

                    <div class="grid__item width-6 width-mobile-12">
                        <a href="#" class="footer__imprint-item">Safety and recalls</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__social">
        <div class="container">
            <div class="footer__social-items">
                <a href="#" class="footer__social-link">
                    <span class="footer__social-icon icon icon--facebook"></span>
                </a>

                <a href="#" class="footer__social-link">
                    <span class="footer__social-icon icon icon--instagram"></span>
                </a>

                <a href="#" class="footer__social-link">
                    <span class="footer__social-icon icon icon--youtube"></span>
                </a>

                <a href="#" class="footer__social-link">
                    <span class="footer__social-icon icon icon--spotify"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
