<section class="demobar">
    <a href="http://sulu.io/" target="_blank" class="demobar-logo">
        <img src="{{ asset('bundles/app/img/Sulu.png') }}" alt="Sulu.io"/>
    </a>

    <p class="demobar-title">
        Sulu Demo
    </p>

    <a href="/admin" class="button-small cf">
        Sulu-Admin
    </a>

    <a href="https://github.com/sulu/sulu-demo" target="_blank" class="demobar-logo github">
        <img src="{{ asset('bundles/app/img/GitHub.png') }}" alt="GitHub Sulu Demo"/>
    </a>
</section>
