<section class="demobar">
    <a href="http://sulu.io/" class="demobar-logo">
        <img src="{{ asset('bundles/app/img/Sulu.png') }}" alt="Sulu.io"/>
    </a>

    <p class="demobar-title">
        Sulu - Demo Website
    </p>

    <a href="/admin" class="button-small cf">
        Sulu-Admin
    </a>
</section>
