<div rel="blocks" typeof="block">
    <div class="location" property="location">
        {% if block.location.lat|default('') and block.location.zoom|default('') and block.location.long|default('') %}
            <div class="js-googleMap location-map"></div>

            <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBjtPJfpPh9FEwonUW0Lte5Ayshi2FVCKc"></script>

            <script>
                var mapProp = {
                    center:new google.maps.LatLng({{ block.location.lat }} , {{ block.location.long }}),
                    zoom:{{ block.location.zoom }},
                    mapTypeId:google.maps.MapTypeId.ROADMAP
                };

                for (var i=0; i< document.getElementsByClassName('js-googleMap').length; i++) {
                    var map = new google.maps.Map(document.getElementsByClassName('js-googleMap')[i], mapProp);
                }
            </script>
        {% endif %}
    </div>
</div>