// Numbers
$maxwidth: 1080px;

// Fonts
$fonthind: "Hind", sans-serif;
$fontoswald: "Oswald", sans-serif;

// Colors
$coloryellow: #FFC600;
$colorblack: #282828;
$colorblack--lighter01: #666;
$colorblack--lighter02: #999;
$colorblack--lighter03: #DBDEE5;