@charset "UTF-8";
/*------------------------------------*    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
@import url(https://fonts.googleapis.com/css?family=Hind:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(/css/normalize.css);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(/css/bootstrap.min.css);
@import url(/css/slick.css);
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -24px;
  /* [3] */ }

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */ }

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
.grid--rev {
  direction: rtl;
  text-align: left; }
  .grid--rev > .grid__item {
    direction: ltr;
    text-align: left; }

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.grid--full {
  margin-left: 0; }
  .grid--full > .grid__item {
    padding-left: 0; }

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.grid--right {
  text-align: right; }
  .grid--right > .grid__item {
    text-align: left; }

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
.grid--center {
  text-align: center; }
  .grid--center > .grid__item {
    text-align: left; }

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
.grid--middle > .grid__item {
  vertical-align: middle; }

.grid--bottom > .grid__item {
  vertical-align: bottom; }

/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
.grid--narrow {
  margin-left: -12px; }
  .grid--narrow > .grid__item {
    padding-left: 12px; }

/**
 * Create grids with wider gutters. Extends `.grid`.
 */
.grid--wide {
  margin-left: -48px; }
  .grid--wide > .grid__item {
    padding-left: 48px; }

/*------------------------------------*    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
   * Whole
   */
.one-whole {
  width: 100%; }

/**
   * Halves
   */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
   * Thirds
   */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
   * Quarters
   */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
   * Fifths
   */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/**
   * Sixths
   */
.one-sixth, .two-twelfths {
  width: 16.666%; }

.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
   * Eighths
   */
.one-eighth {
  width: 12.5%; }

.three-eighths {
  width: 37.5%; }

.five-eighths {
  width: 62.5%; }

.seven-eighths {
  width: 87.5%; }

/**
   * Tenths
   */
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

/**
   * Twelfths
   */
.one-twelfth {
  width: 8.333%; }

.five-twelfths {
  width: 41.666%; }

.seven-twelfths {
  width: 58.333%; }

.eleven-twelfths {
  width: 91.666%; }

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  .palm--one-whole {
    width: 100%; }
  /**
   * Halves
   */
  .palm--one-half, .palm--two-quarters, .palm--three-sixths, .palm--four-eighths, .palm--five-tenths, .palm--six-twelfths {
    width: 50%; }
  /**
   * Thirds
   */
  .palm--one-third, .palm--two-sixths, .palm--four-twelfths {
    width: 33.333%; }
  .palm--two-thirds, .palm--four-sixths, .palm--eight-twelfths {
    width: 66.666%; }
  /**
   * Quarters
   */
  .palm--one-quarter, .palm--two-eighths, .palm--three-twelfths {
    width: 25%; }
  .palm--three-quarters, .palm--six-eighths, .palm--nine-twelfths {
    width: 75%; }
  /**
   * Fifths
   */
  .palm--one-fifth, .palm--two-tenths {
    width: 20%; }
  .palm--two-fifths, .palm--four-tenths {
    width: 40%; }
  .palm--three-fifths, .palm--six-tenths {
    width: 60%; }
  .palm--four-fifths, .palm--eight-tenths {
    width: 80%; }
  /**
   * Sixths
   */
  .palm--one-sixth, .palm--two-twelfths {
    width: 16.666%; }
  .palm--five-sixths, .palm--ten-twelfths {
    width: 83.333%; }
  /**
   * Eighths
   */
  .palm--one-eighth {
    width: 12.5%; }
  .palm--three-eighths {
    width: 37.5%; }
  .palm--five-eighths {
    width: 62.5%; }
  .palm--seven-eighths {
    width: 87.5%; }
  /**
   * Tenths
   */
  .palm--one-tenth {
    width: 10%; }
  .palm--three-tenths {
    width: 30%; }
  .palm--seven-tenths {
    width: 70%; }
  .palm--nine-tenths {
    width: 90%; }
  /**
   * Twelfths
   */
  .palm--one-twelfth {
    width: 8.333%; }
  .palm--five-twelfths {
    width: 41.666%; }
  .palm--seven-twelfths {
    width: 58.333%; }
  .palm--eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  .lap--one-whole {
    width: 100%; }
  /**
   * Halves
   */
  .lap--one-half, .lap--two-quarters, .lap--three-sixths, .lap--four-eighths, .lap--five-tenths, .lap--six-twelfths {
    width: 50%; }
  /**
   * Thirds
   */
  .lap--one-third, .lap--two-sixths, .lap--four-twelfths {
    width: 33.333%; }
  .lap--two-thirds, .lap--four-sixths, .lap--eight-twelfths {
    width: 66.666%; }
  /**
   * Quarters
   */
  .lap--one-quarter, .lap--two-eighths, .lap--three-twelfths {
    width: 25%; }
  .lap--three-quarters, .lap--six-eighths, .lap--nine-twelfths {
    width: 75%; }
  /**
   * Fifths
   */
  .lap--one-fifth, .lap--two-tenths {
    width: 20%; }
  .lap--two-fifths, .lap--four-tenths {
    width: 40%; }
  .lap--three-fifths, .lap--six-tenths {
    width: 60%; }
  .lap--four-fifths, .lap--eight-tenths {
    width: 80%; }
  /**
   * Sixths
   */
  .lap--one-sixth, .lap--two-twelfths {
    width: 16.666%; }
  .lap--five-sixths, .lap--ten-twelfths {
    width: 83.333%; }
  /**
   * Eighths
   */
  .lap--one-eighth {
    width: 12.5%; }
  .lap--three-eighths {
    width: 37.5%; }
  .lap--five-eighths {
    width: 62.5%; }
  .lap--seven-eighths {
    width: 87.5%; }
  /**
   * Tenths
   */
  .lap--one-tenth {
    width: 10%; }
  .lap--three-tenths {
    width: 30%; }
  .lap--seven-tenths {
    width: 70%; }
  .lap--nine-tenths {
    width: 90%; }
  /**
   * Twelfths
   */
  .lap--one-twelfth {
    width: 8.333%; }
  .lap--five-twelfths {
    width: 41.666%; }
  .lap--seven-twelfths {
    width: 58.333%; }
  .lap--eleven-twelfths {
    width: 91.666%; } }

@media only screen and (max-width: 1023px) {
  /**
   * Whole
   */
  .portable--one-whole {
    width: 100%; }
  /**
   * Halves
   */
  .portable--one-half, .portable--two-quarters, .portable--three-sixths, .portable--four-eighths, .portable--five-tenths, .portable--six-twelfths {
    width: 50%; }
  /**
   * Thirds
   */
  .portable--one-third, .portable--two-sixths, .portable--four-twelfths {
    width: 33.333%; }
  .portable--two-thirds, .portable--four-sixths, .portable--eight-twelfths {
    width: 66.666%; }
  /**
   * Quarters
   */
  .portable--one-quarter, .portable--two-eighths, .portable--three-twelfths {
    width: 25%; }
  .portable--three-quarters, .portable--six-eighths, .portable--nine-twelfths {
    width: 75%; }
  /**
   * Fifths
   */
  .portable--one-fifth, .portable--two-tenths {
    width: 20%; }
  .portable--two-fifths, .portable--four-tenths {
    width: 40%; }
  .portable--three-fifths, .portable--six-tenths {
    width: 60%; }
  .portable--four-fifths, .portable--eight-tenths {
    width: 80%; }
  /**
   * Sixths
   */
  .portable--one-sixth, .portable--two-twelfths {
    width: 16.666%; }
  .portable--five-sixths, .portable--ten-twelfths {
    width: 83.333%; }
  /**
   * Eighths
   */
  .portable--one-eighth {
    width: 12.5%; }
  .portable--three-eighths {
    width: 37.5%; }
  .portable--five-eighths {
    width: 62.5%; }
  .portable--seven-eighths {
    width: 87.5%; }
  /**
   * Tenths
   */
  .portable--one-tenth {
    width: 10%; }
  .portable--three-tenths {
    width: 30%; }
  .portable--seven-tenths {
    width: 70%; }
  .portable--nine-tenths {
    width: 90%; }
  /**
   * Twelfths
   */
  .portable--one-twelfth {
    width: 8.333%; }
  .portable--five-twelfths {
    width: 41.666%; }
  .portable--seven-twelfths {
    width: 58.333%; }
  .portable--eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  .desk--one-whole {
    width: 100%; }
  /**
   * Halves
   */
  .desk--one-half, .desk--two-quarters, .desk--three-sixths, .desk--four-eighths, .desk--five-tenths, .desk--six-twelfths {
    width: 50%; }
  /**
   * Thirds
   */
  .desk--one-third, .desk--two-sixths, .desk--four-twelfths {
    width: 33.333%; }
  .desk--two-thirds, .desk--four-sixths, .desk--eight-twelfths {
    width: 66.666%; }
  /**
   * Quarters
   */
  .desk--one-quarter, .desk--two-eighths, .desk--three-twelfths {
    width: 25%; }
  .desk--three-quarters, .desk--six-eighths, .desk--nine-twelfths {
    width: 75%; }
  /**
   * Fifths
   */
  .desk--one-fifth, .desk--two-tenths {
    width: 20%; }
  .desk--two-fifths, .desk--four-tenths {
    width: 40%; }
  .desk--three-fifths, .desk--six-tenths {
    width: 60%; }
  .desk--four-fifths, .desk--eight-tenths {
    width: 80%; }
  /**
   * Sixths
   */
  .desk--one-sixth, .desk--two-twelfths {
    width: 16.666%; }
  .desk--five-sixths, .desk--ten-twelfths {
    width: 83.333%; }
  /**
   * Eighths
   */
  .desk--one-eighth {
    width: 12.5%; }
  .desk--three-eighths {
    width: 37.5%; }
  .desk--five-eighths {
    width: 62.5%; }
  .desk--seven-eighths {
    width: 87.5%; }
  /**
   * Tenths
   */
  .desk--one-tenth {
    width: 10%; }
  .desk--three-tenths {
    width: 30%; }
  .desk--seven-tenths {
    width: 70%; }
  .desk--nine-tenths {
    width: 90%; }
  /**
   * Twelfths
   */
  .desk--one-twelfth {
    width: 8.333%; }
  .desk--five-twelfths {
    width: 41.666%; }
  .desk--seven-twelfths {
    width: 58.333%; }
  .desk--eleven-twelfths {
    width: 91.666%; } }

/*------------------------------------*    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
p {
  font-size: 14px;
  font-family: "Hind", sans-serif;
  line-height: 22px;
  color: #282828; }

.heading, .heading--h2, .heading--h2--border, .heading--h3, .heading--h4--border, .heading--h5, .heading--h6 {
  color: #2d2d2d;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  text-transform: uppercase; }
  .heading--h2 {
    font-size: 50px;
    line-height: 53px; }
    .heading--h2--border {
      border-left: 13px solid #FFC600;
      padding-left: 30px;
      font-weight: bold;
      display: block;
      font-size: 49px;
      line-height: 53px; }
  .heading--h3 {
    font-size: 34px;
    line-height: 37px; }
  .heading--h4--border {
    border-left: #FFC600 6px solid;
    padding-left: 26px;
    font-size: 24px;
    line-height: 26px; }
  .heading--h5 {
    font-size: 20px;
    line-height: 23px; }
  .heading--h6 {
    font-size: 18px;
    line-height: 21px; }

a {
  color: #282828;
  font-family: "Oswald", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a:hover, a:focus {
  text-decoration: none;
  color: #FFC600; }

#content {
  padding-top: 80px; }

@media (max-width: 460px) {
  .heading--h2--border {
    font-size: 30px;
    line-height: 32px; } }

.grid {
  font-size: 0px !important;
  margin-left: 0;
  padding-left: 0; }

.grid__item {
  font-size: 14px !important;
  margin-left: 0;
  padding: 0; }

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10000;
  background-color: #ffffff; }
  nav .navbar--default {
    background-color: #ffffff;
    border: none;
    height: 80px;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    z-index: 10000; }
    nav .navbar--default .navbar-collapse {
      background-color: #ffffff; }
    nav .navbar--default .navbar-header {
      height: auto;
      min-height: 80px;
      z-index: 10000; }
      nav .navbar--default .navbar-header button {
        border: none;
        padding: 30px 15px;
        margin: 0px;
        height: 80px; }
      nav .navbar--default .navbar-header button:hover {
        background-color: #ffffff; }
      nav .navbar--default .navbar-header button:hover > .icon-bar {
        backbround-color: #FFC600; }
      nav .navbar--default .navbar-header .icon-bar {
        background-color: #282828; }
      nav .navbar--default .navbar-header a {
        height: 80px;
        padding: 5px; }
        nav .navbar--default .navbar-header a img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          height: 72%;
          width: auto;
          padding: 8px; }
    nav .navbar--default .navbar-right {
      min-height: 80px;
      z-index: 10000;
      margin: 0; }
      nav .navbar--default .navbar-right .open {
        background-color: #ffffff; }
      nav .navbar--default .navbar-right .dropdown {
        background-color: #ffffff; }
      nav .navbar--default .navbar-right li {
        min-height: 80px;
        z-index: 10000; }
        nav .navbar--default .navbar-right li a {
          color: #282828;
          width: 100%;
          min-height: 80px;
          padding: 30px 20px;
          font-size: 15px;
          text-transform: uppercase;
          color: #21272E;
          z-index: 10000; }
        nav .navbar--default .navbar-right li a:hover {
          color: #FFC600; }
        nav .navbar--default .navbar-right li .dropdown-toggle {
          background-color: #ffffff; }
        nav .navbar--default .navbar-right li .dropdown-toggle:active {
          background-color: #ffffff; }

@media (max-width: 768px) {
  nav .navbar-default .navbar-right {
    width: 100%;
    min-height: 35px; }
    nav .navbar-default .navbar-right li {
      min-height: 25px;
      width: 100%; }
      nav .navbar-default .navbar-right li a {
        min-height: 30px;
        padding: 5px 15px;
        text-align: center; } }

.footer {
  background: #282828;
  padding-top: 80px; }
  .footer--frame {
    max-width: 1080px;
    margin: 0 auto; }
  .footer-elem {
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px; }
    .footer-elem h6 {
      color: #fff; }
    .footer-elem span, .footer-elem a, .footer-elem i, .footer-elem p {
      color: #DBDEE5; }
    .footer-elem span {
      display: block;
      width: 100%;
      line-height: 25px;
      position: relative;
      padding-left: 20px;
      padding-right: 10px; }
    .footer-elem span > i {
      position: absolute;
      left: 0px; }
    .footer-elem a {
      display: block;
      width: 100%;
      line-height: 26px; }
      .footer-elem a i {
        padding-right: 10px; }
    .footer-elem a:hover, .footer-elem a:hover > i {
      color: #FFC600;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .footer-elem-emaillabel {
      width: 70%;
      background: #000; }
      .footer-elem-emaillabel-input, .footer-elem-emaillabel-icon {
        background: #000;
        color: #666;
        font-size: 14px;
        height: 48px;
        line-height: 48px;
        width: 80%;
        border: none;
        box-shadow: none;
        padding: 0 10px;
        box-sizing: border-box;
        display: inline-block;
        left: 0px; }
      .footer-elem-emaillabel-icon {
        width: auto;
        padding-left: 20px; }
    .footer-elem-button {
      border: medium none;
      color: #fff;
      font-size: 16px;
      height: 48px;
      text-transform: uppercase;
      width: 138px;
      background-color: #FFC600; }
  .footer-imprint {
    color: #999;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    width: 100%;
    display: block;
    padding: 20px 0; }
  .footer-socials {
    display: block;
    width: 100%; }
    .footer-socials a {
      font-size: 16px !important;
      border: 1px solid #666;
      font-weight: 300;
      border-right: none;
      text-transform: uppercase; }
    .footer-socials a:last-of-type {
      border-right: 1px solid #666; }
    .footer-socials i {
      font-size: 30px;
      padding-right: 10px; }
    .footer-socials a,
    .footer-socials i {
      font-family: "Hind", sans-serif;
      line-height: 80px;
      text-align: center;
      vertical-align: middle; }
    .footer-socials-facebook, .footer-socials-facebook i {
      color: #267CD5; }
    .footer-socials-twitter, .footer-socials-twitter i {
      color: #2EC5EB; }
    .footer-socials-googleplus, .footer-socials-googleplus i {
      color: #D34338; }
    .footer-socials-github, .footer-socials-github i {
      color: #FFFFFF; }
    .footer-socials-facebook:hover, .footer-socials-facebook i:hover {
      color: #267CD5; }
    .footer-socials-twitter:hover, .footer-socials-twitter i:hover {
      color: #2EC5EB; }
    .footer-socials-googleplus:hover, .footer-socials-googleplus i:hover {
      color: #D34338; }
    .footer-socials-github:hover, .footer-socials-github i:hover {
      color: #FFFFFF; }

@media (max-width: 1100px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 800px) {
  .footer-elem-emaillabel {
    width: 100%; } }

@media (max-width: 1080px) and (min-width: 1023px) {
  .footer-elem-emaillabel {
    width: 100%; } }

@media (min-width: 481px) and (max-width: 1023px) {
  .footer-socials a {
    border: 1px solid #666; }
  .footer-socials a:first-of-type {
    border-bottom: none;
    border-right: none; }
  .footer-socials a:nth-of-type(2) {
    border-bottom: none; }
  .footer-socials a:nth-of-type(3) {
    border-right: none; } }

@media (max-width: 480px) {
  .footer-socials a {
    border: 1px solid #666;
    border-bottom: none; }
  .footer-socials a:last-of-type {
    border-bottom: 1px solid #666; } }

.slider {
  height: auto;
  position: relative; }
  .slider .slides-images {
    width: 100%;
    height: inherit;
    display: block;
    z-index: 1; }
  .slider .slides-text {
    width: 450px;
    left: 18%;
    top: -450px;
    margin-bottom: -400px;
    z-index: 2;
    position: relative; }
    .slider .slides-text h2,
    .slider .slides-text p,
    .slider .slides-text a {
      color: #fff; }
    .slider .slides-text h2 {
      font-weight: bold;
      font-size: 57px;
      line-height: 59px;
      margin-bottom: 31px; }
    .slider .slides-text p {
      font-size: 16px;
      line-height: 24px; }
    .slider .slides-text-button {
      background-color: #282828;
      display: inline-block;
      font-family: "Oswald", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding: 12px 29px 11px 32px; }
    .slider .slides-text-button:hover {
      color: #FFC600; }

@media (max-width: 1300px) {
  .slider .slides-text {
    top: -400px;
    margin-bottom: -390px; } }

@media (max-width: 1040px) {
  .slider .slides-text {
    display: none; } }

.news {
  padding: 40px 0; }
  .news-heading {
    max-width: 1080px; }
  .news-item {
    max-width: 1080px;
    margin: 5px auto;
    position: relative;
    height: 200px;
    width: 100%; }
    .news-item-image {
      width: 100%;
      height: 200px;
      position: absolute;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .news-item:hover > .news-item-image {
      width: 102%;
      margin-left: -1%; }
    .news-item:hover .news-item-text h3 {
      color: #FFC600; }
    .news-item-text {
      position: absolute;
      z-index: 2;
      top: 55px;
      height: 70px;
      padding-left: 50px;
      color: #fff;
      vertical-align: middle;
      font-size: 12px;
      letter-spacing: normal;
      font-family: "Hind", sans-serif; }
      .news-item-text p,
      .news-item-text h3,
      .news-item-text i {
        color: #fff;
        font-size: 12px; }
      .news-item-text a {
        color: #FFC600;
        font-family: "Hind", sans-serif; }
      .news-item-text h3 {
        margin: 10px 0;
        font-size: 34px; }

@media (max-width: 1100px) {
  .news {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 735px) {
  .news-item-text h3 {
    margin: 10px 0;
    font-size: 20px; } }

@media (max-width: 448px) {
  .news-item-text {
    top: 37.5px; } }

.partner {
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 20px; }
  .partner-carousel {
    padding-right: 1px; }
    .partner-carousel .slick-prev,
    .partner-carousel .slick-next,
    .partner-carousel .slick-dots {
      display: none !important; }
    .partner-carousel-item {
      box-sizing: border-box;
      padding: 30px 0;
      border: 1px solid #DBDEE5;
      border-left: 0px; }
      .partner-carousel-item img {
        margin: auto; }
    .partner-carousel-item:first-of-type {
      border-left: 1px solid #DBDEE5; }

@media (max-width: 1100px) {
  .partner {
    padding-left: 20px;
    padding-right: 20px; } }

.biography {
  max-width: 1080px;
  margin: 60px auto; }
  .biography-text {
    padding-top: 10px;
    padding-right: 60px; }
    .biography-text h3 {
      font-size: 19px;
      line-height: 28px; }
    .biography-text p {
      color: #666;
      padding-bottom: 22px; }
    .biography-text-button {
      background-color: #666;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding: 12px 29px 11px 32px;
      color: #fff;
      margin-bottom: 20px; }
    .biography-text-button:first-of-type {
      margin-right: 10px; }
    .biography-text-button:hover {
      color: #FFC600; }

@media (max-width: 1100px) {
  .biography {
    padding: 0 20px; }
    .biography-text {
      padding-top: 0px; } }

@media (max-width: 1023px) {
  .biography {
    margin: 40px auto; }
    .biography .biography-text {
      padding-top: 0px; } }

.team {
  background-image: url("../img/band-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px; }
  .team > div {
    max-width: 1080px;
    margin: 0 auto; }
  .team-heading {
    color: #fff;
    margin-bottom: 50px; }
  .team-member {
    text-align: center;
    padding-left: 0px;
    position: relative;
    padding: 0 5px; }
    .team-member-image {
      height: auto;
      width: 100%;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .team-member-socials {
      opacity: 0;
      width: 100%;
      position: absolute;
      bottom: 70px;
      left: 0px;
      font-size: 0px;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .team-member-socials i {
        width: 40px;
        height: 40px;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        color: #ffffff;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .team-member-socials-twitter {
        background-color: #2EC5EB; }
      .team-member-socials-facebook {
        background-color: #267CD5; }
      .team-member-socials-googleplus {
        background-color: #AF1314; }
      .team-member-socials-linkedin {
        background-color: #007BB6; }
      .team-member-socials-instagram {
        background-color: #375989; }
    .team-member-text {
      text-align: center;
      width: 100%;
      margin: 10px 0; }
      .team-member-text-name {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: #fff; }
      .team-member-text-role {
        text-transform: uppercase;
        color: #fff; }
  .team-member:hover > .team-member-socials {
    opacity: 1; }
  .team-member:hover > .team-member-image {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95); }

@media (max-width: 1100px) {
  .team {
    padding-left: 20px;
    padding-right: 20px; } }

.discography {
  background-color: #DBDEE5; }
  .discography-frame {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px; }
    .discography-frame-collum {
      padding: 5px; }
      .discography-frame-collum-image {
        width: 100%;
        height: auto;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .discography-frame-collum-image:hover {
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95); }
      .discography-frame-collum > a {
        color: #666;
        margin-top: 10px;
        display: block; }
      .discography-frame-collum h5 {
        margin-top: 5px; }
      .discography-frame-collum-button {
        color: #ffffff !important;
        background: #999;
        display: block;
        border-radius: 1em;
        font-size: 12px;
        width: 100px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Hind", sans-serif;
        padding-top: 3px;
        vertical-align: middle; }
      .discography-frame-collum-button:hover {
        background-color: #FFC600; }

@media (max-width: 1100px) {
  .discography {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 1023px) {
  .discography-frame {
    padding-top: 40px;
    padding-bottom: 40px; } }
