


<div id="unity-modal-content" class="modal-matrix" data-alt-component-list="UnityModalScroll" data-analytics-activitymap-region-id="black unity modal">
    <div class="visually-hidden focus-helper" tabindex="0"></div> <!-- used for focusing the modal to the top -->
    <div class="matrix-header">
        <h3 class="typography-eyebrow-unity-modal">Creative Design</h3>
        <h3 class="typography-headline-unity-modal">A celebration of truth,<br class="large" /><br class="medium" /> power, and solidarity.</h3>
        <p class="typography-body-tight">This collection features a watch band and face inspired by the colors of the Pan-African flag &#8212; red for the blood that unites people of the African Diaspora and was shed for their liberation, black for the Black people whose existence is affirmed by the flag, and green for the vibrant natural wealth of Africa.</p>
    </div>
    <div class="matrix-content matrix-content-product-details">
        <div class="product-grid">
            <div class="product-grid-item product-unity-face">
                <div class="grid-item-image">
                    <figure class="image image-unity-face"></figure>
                </div>
                <p class="typography-caption">Unity face that changes throughout the day</p>
            </div>
            <div class="product-grid-item product-unity-band">
                <div class="grid-item-image">
                    <figure class="image image-unity-band"></figure>
                </div>
                <p class="typography-caption">Black Unity Sport Band with pin etching</p>
            </div>
            <div class="product-grid-item product-unity-crystal">
                <div class="grid-item-image">
                    <figure class="image image-unity-crystal"></figure>
                </div>
                <p class="typography-caption">Back crystal with unique engraving</p>
            </div>
        </div>
    </div>
    <div class="matrix-content matrix-content-displays">
        <h3 class="typography-headline-unity-modal-reduced">Unity on display.</h3>
        <p class="typography-body-tight">Show your support with<br /> these downloads.</p>
        <figure class="image image-downloads"></figure>
        <div class="displays-downloads-container">
            <div class="device device-mac">
                <p class="typography-body-tight">Laptop</p>
                {# <a href="https://www.apple.com/v/watch/home/ah/images/overview/black-unity/bhm_wallpaper__fct4dd9hzn6u_mac.png" data-analytics-title="download mac wallpaper" data-analytics-click="prop3:download mac wallpaper" aria-label="Download Black Unity Wallpaper for Mac" class="icon-wrapper typography-body-reduced" download data-analytics-intrapage-link><span class="icon-copy">Get wallpaper</span><span class="icon icon-after icon-downloadcircle"></span></a> #}
            </div>
            <div class="device device-ipad">
                <p class="typography-body-tight">Tablet</p>
                {# <a href="https://www.apple.com/v/watch/home/ah/images/overview/black-unity/bhm_wallpaper__fct4dd9hzn6u_sq.png" data-analytics-title="download ipad wallpaper" data-analytics-click="prop3:download ipad wallpaper" aria-label="Download Black Unity Wallpaper for iPad" class="icon-wrapper typography-body-reduced" download data-analytics-intrapage-link><span class="icon-copy">Get wallpaper</span><span class="icon icon-after icon-downloadcircle"></span></a> #}
            </div>
            <div class="device device-iphone">
                <p class="typography-body-tight">Phone</p>
                {# <a href="https://www.apple.com/v/watch/home/ah/images/overview/black-unity/bhm_wallpaper__fct4dd9hzn6u_phone.png" data-analytics-title="download iphone wallpaper" data-analytics-click="prop3:download iphone wallpaper" aria-label="Download Black Unity Wallpaper for iPhone" class="icon-wrapper typography-body-reduced" download data-analytics-intrapage-link><span class="icon-copy">Get wallpaper</span><span class="icon icon-after icon-downloadcircle"></span> #}</a>
            </div>
            <div class="downloadable-watch-face">
                <p class="watch-face-title typography-body-tight">Apple Watch</p>
                <a href="https://www.apple.com/v/watch/home/ah/faces/Unity__d6anmbfjfd0m.watchface" class="download-faces-button" aria-label="Download Watch Face for Unity">
                    <svg width="268px" height="56px" viewBox="0 0 268 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Symbol and Text - Light@1x</title>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Symbol-and-Text---Light">
                                <rect id="Bezel" fill="#000000" x="0" y="0" width="268" height="56" rx="28"></rect>
                                <text id="Add-Apple-Watch-Face" font-family="SFProText-Regular, SF Pro Text" font-size="17" font-weight="normal" letter-spacing="-0.43" fill="#FFFFFF">
                                    <tspan x="62.5" y="33.5">Add Apple Watch Face</tspan>
                                </text>
                                <path d="M48.7899564,16 C51.3804168,16 53.5002,18.0364455 53.5002,20.525544 L53.5002,20.525544 L53.5002,34.474456 C53.5002,36.9635545 51.3804168,39 48.7899564,39 L48.7899564,39 L37.7099477,39 C35.1194873,39 33.0002,36.9635545 33.0002,34.474456 L33.0002,34.474456 L33.0002,20.525544 C33.0002,18.0364455 35.1194873,16 37.7099477,16 L37.7099477,16 Z M48.7465297,17.25 L37.7429778,17.25 C35.8831115,17.25 34.37,18.7022094 34.37,20.4871031 L34.37,20.4871031 L34.37,34.5128969 C34.37,36.2977906 35.8831115,37.75 37.7429778,37.75 L37.7429778,37.75 L48.7465297,37.75 C50.6063959,37.75 52.12,36.2977906 52.12,34.5128969 L52.12,34.5128969 L52.12,20.4871031 C52.12,18.7022094 50.6063959,17.25 48.7465297,17.25 L48.7465297,17.25 Z M43.2448895,20.75 C46.94684,20.75 50,23.8015731 50,27.502676 C50,31.2028057 46.9517071,34.25 43.2497566,34.25 C39.5478062,34.25 36.5,31.2028057 36.5,27.502676 C36.5,23.8015731 39.5424523,20.75 43.2448895,20.75 Z M43.2472619,22.75 C42.8445167,22.75 42.5358616,23.0253116 42.5358616,23.4290354 L42.5358616,28.6699495 L42.6115319,30.243373 L41.8772313,29.3484852 L40.8571759,28.2777179 C40.7526314,28.154802 40.5719188,28.072858 40.3852322,28.072858 C40.011859,28.072858 39.75,28.3421738 39.75,28.7049256 C39.75,28.8982933 39.8082462,29.0381975 39.9366866,29.1786015 L42.6817261,31.9926761 C42.8504907,32.1680561 43.0312033,32.25 43.2472619,32.25 C43.4682988,32.25 43.6490115,32.1620602 43.8182739,31.9926761 L46.5573394,29.1786015 C46.6857798,29.0381975 46.75,28.8982933 46.75,28.7049256 C46.75,28.3421738 46.4816692,28.072858 46.1087938,28.072858 C45.9221072,28.072858 45.7533426,28.1493057 45.6368502,28.2777179 L44.6282448,29.3369931 L43.8819963,30.2493689 L43.9581644,28.6699495 L43.9581644,23.4290354 C43.9581644,23.0253116 43.6549854,22.75 43.2472619,22.75 Z M54.9997777,19.8449373 C55.3020394,19.8449373 55.5480894,20.1087383 55.5480894,20.4341752 L55.5480894,24.374426 C55.5480894,24.6998628 55.3020394,24.9636638 54.9997777,24.9636638 L54.4593553,24.9636638 L54.4593553,23.2191253 C54.4549175,22.0159953 54.451959,21.5199507 54.4440697,21.0140444 C54.4376595,20.6314096 54.428784,20.2398992 54.4056089,19.848882 C54.4243462,19.8464166 54.4430835,19.8449373 54.4618208,19.8449373 L54.9997777,19.8449373 Z" id="Glyph" fill="#FFFFFF"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="matrix-content matrix-content-support">
        <h3 class="typography-headline-unity-modal-reduced">In support of a<br /> greater cause.</h3>
        <p class="typography-body-tight">Apple supports these organizations dedicated to advancing racial equity and justice: Black Lives Matter Support Fund via the Tides Foundation; European Network Against Racism; International Institute on Race, Equality and Human Rights; Leadership Conference Education Fund; NAACP Legal Defense and Educational Fund, Inc.; and Souls Grown Deep.</p>
    </div>
    <div class="matrix-content matrix-content-action">
        <h3 class="typography-headline-unity-modal-reduced">Racial Equity and<br class="large" /><br class="medium" /> Justice Initiative.</h3>
        <p class="typography-body-tight">This collection is only a small part of a commitment Apple has made to challenge systemic barriers that exist for communities of color, and particularly for the Black community.</p>
        <a href="/racial-equity-justice-initiative/" data-analytics-title="learn more about our commitment" class="icon-wrapper typography-body-tight"><span class="icon-copy">Learn more about<br class="small" /> our commitment</span><span class="icon icon-after more"></span></a>
    </div>
    <div class="modal-shape modal-shape-1" aria-hidden="true">
        <figure class="image image-shape-1"></figure>
    </div>
    <div class="modal-shape modal-shape-2" aria-hidden="true">
        <figure class="image image-shape-2"></figure>
    </div>
    <div class="modal-shape modal-shape-3" aria-hidden="true">
        <figure class="image image-shape-3"></figure>
    </div>
    <div class="modal-shape modal-shape-4" aria-hidden="true">
        <figure class="image image-shape-4"></figure>
    </div>
    <div class="modal-shape modal-shape-5" aria-hidden="true">
        <figure class="image image-shape-5"></figure>
    </div>
    <div class="modal-shape modal-shape-6" aria-hidden="true">
        <figure class="image image-shape-6"></figure>
    </div>
</div>