.artist--element {
    &-frame {
        &-item {
            &-image {
                position: relative;
                width: 100%;
                height: auto;
            }

            &-link {
                @include vertical-align(absolute);
                width: inherit;
                text-align: center;
                z-index: 1;

                .no-touchevents &:hover {
                    color: $colorwhite;
                    text-decoration: none;
                }
            }

            &--hover {
                position: absolute;
                top: 0;
                width: inherit;
                height: inherit;
                display: none;
                padding: 20px;
                box-sizing: border-box;

                .button--small {
                    @include vertical-align(relative);
                    margin: 40px auto 0 auto;
                }

                &:before {
                    content: '';
                    top: 0;
                    left: 0;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: $colorred--lighter02;
                    opacity: 0.75;
                }
            }

            .no-touchevents &:hover {
                .artist--element-frame-item--hover {
                    display: block;
                }
            }
        }
    }

    .slick-dots {
        list-style-type: none;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            margin: 25px 6px;

            button {
                font-size: 0px;
                height: 12px;
                width: 12px;
                display: block;
                color: $colorwhite;
                background-color: $colorblack--lighter03;
                border: none;
                border-radius: 10px;

                &:focus {
                    outline: 0;
                }
            }
        }

        .slick-active {
            button {
                height: 20px;
                width: 20px;
                border: $colorblack--lighter03 1px solid;
                background-color: $colorwhite;
            }
        }
    }
}

@media (max-width: $maxwidth + 20) and (min-width: $tablet) {
    .artist--element {
        padding: 0 20px;
    }
}

@media(max-width: $tablet) {
    .artist--element {
        padding: 75px 75px 0 75px;
    }
}

@media (max-width: 700px) {
    .artist--element {
        padding: 15px 15px 0 15px;

        .slick-dots {
            margin: 0;

            li{
                margin: 6px;
            }
        }
    }
}