.artists {
    max-width: $maxwidth;
    margin: 0 auto;

    &-item {
        background-color: $colorblack--lighter04;
        margin: 10px;
        margin-bottom: 40px;

        &--scalebox {
            overflow: hidden;
            width: 100%;
        }

        &-image {
            width: 100%;
            @include transition(all, 0.7s, ease-in-out);
        }

        &-image:hover {
            @include scale-elem(1.15);
        }

        &-text {
            padding: 30px;

            &-heading {
                letter-spacing: 0px;
                margin-top: 0px;
            }

            &-subheading {
                color: $colorblack--lighter02;
                font-size: 13px;
                padding-left: 13px;
                border-left: $coloryellow 7px solid;
                line-height: 22px;
                margin-top: 9px;
                margin-bottom: 9px;

                a {
                    font-family: $fonthind;
                    color: $colorblack--lighter01;
                    font-size: 13px;
                    font-weight: bold;
                }

                a:hover {
                    color: $coloryellow;
                }
            }

            p {
                color: #333333;
                font-size: 13px;
                line-height: 22px;
                margin-bottom: 15px;
            }

            &-button {
                color: #fff;
                background: $colorblack--lighter03;
                padding: 3px 13px;
                @include border-radius(87px);
                font-family: $fonthind;
                font-size: 12px;
                line-height: 28px;
            }

            &-button:hover {
                color: #fff;
                background: $coloryellow
            }
        }
    }
}

@media (max-width: $maxwidth + 20) {
    .artists {
        padding-left: 20px;
        padding-right: 20px;
    }
}