.biography {
    max-width: $maxwidth;
    margin: 60px auto;

    &-image {
        width: 100%;
    }

    &-text {
        width: 80%;

        &-heading {
            margin-bottom: 20px;
        }

        &-subheading p {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

@media (max-width: $maxwidth + 20) and (min-width: $tablet) {
    .biography {
        padding: 0 20px;

        &-text {
            padding-top: 0px;
        }
    }
}

@media (max-width: $tablet) {
    .biography {
        margin: 40px auto;

        &-text {
            padding: 0 20px;
            width: 100%;
        }
    }
}

@media (max-width: $mobile) {
    .biography {
        margin: 40px auto;

        &-text-heading {
            margin: 10px 0;
        }
    }
}
