.blog-sidemenu {
    width: 100%;
    margin-bottom: 50px;

    &-heading {
        font-family: $fontoswald;
        font-size: 18px;
        line-height: 20px;
        margin: 15px 0;
        text-transform: uppercase;
    }

    &-list {
        padding-left: 0px;

        li {
            list-style-type: none;
            width: 100%;
            border-top: 1px solid $colorblack--lighter02;
            padding: 5px 5px;

            a {
                border-left: 2px solid $colorblack--lighter02;
                padding-left: 12px;
                padding-top: 1px;
                margin-bottom: 3px;
                font-family: $fonthind;
                font-size: 14px;
                line-height: 14px;
                display: inline-block;
                width: 100%;
                height: 14px;
                vertical-align: bottom;

                i {
                    float: right;
                }
            }

            a:hover {
                border-left: 15px solid $coloryellow;
                padding-left: 7px;
            }
        }

        li:last-of-type {
            border-bottom: 1px solid $colorblack--lighter02;
        }
    }

    &-recent {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;

        img,
        &-text {
            display: inline-block;
        }

        img {
            width: 27.5%;
        }

        &-text {
            width: 72.5%;
            float: right;
            padding-left: 10px;

            p {
                margin: 0px;
                font-family: $fonthind;
                color: $colorblack--lighter01;
                font-size: 12px;
                line-height: 14px;
            }

            h6 {
                margin: 0px;
                font-family: $fontoswald;
                font-size: 14px;
                color: $colorblack;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 1023px) {
    .blog-sidemenu-list li {
        a {
            text-align: center;
            i {
                padding-left: 12px;
            }
        }
    }

}

@media (min-width: 481px) and (max-width: 1023px) {
    .blog-sidemenu-list {
        margin-right: 10px;
    }

    .blog-sidemenu-recent {
        margin-left: 10px;
    }

}