.discography {
    background-color: $colorblack--lighter03;

    &-frame {
        max-width: $maxwidth;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 60px;

        &-collum {
            padding: 5px;

            &-image {
                width: 100%;
                height: auto;
                @include transition(all, .3s, ease-in-out);
            }

            &-image:hover {
                @include scale-elem(0.95);
            }

            > a {
                color: $colorblack--lighter01;
                margin-top: 10px;
                display: inline-block;
            }

            > a:hover {
                color: $coloryellow;
                margin-top: 10px;
                display: inline-block;
            }

            h5 {
                margin-top: 5px;
            }

            &-button {
                color: #ffffff !important;
                background: $colorblack--lighter02;
                display: block;
                border-radius: 1em;
                font-size: 12px;
                width: 100px;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                font-family: $fonthind;
                padding-top: 3px;
                vertical-align: middle;
            }

            &-button:hover {
                background-color: $coloryellow;
            }
        }
    }
}

.discography--nobackground {
    background-color: #FFFFFF;

    .discography-frame{
        padding: 0;
    }
}

@media (max-width: $maxwidth + 20) {
    .discography {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1023px) {
    .discography-frame {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}