.discography {
  background-color: $colorblack--lighter03;

  &-frame {
    max-width: $maxwidth;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;

    &-collum {
      padding: 5px;

      &-image {
        width: 100%;
        height: auto;
        @include transition(scale, 0.3, ease-in-out);
      }

      &-image:hover {
        @include scale-elem(0.95);
      }

      > a {
        color: $colorblack--lighter01;
        margin-top: 10px;
        display: block;
      }

      h5 {
        margin-top: 5px;
      }

      &-button {
        color: #ffffff !important;
        background: $colorblack--lighter02;
        display: block;
        border-radius: 1em;
        font-size: 12px;
        width: 100px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-family: $fonthind;
        padding-top: 3px;
        vertical-align: middle;
      }

      &-button:hover {
        background-color: $coloryellow;
      }
    }
  }
}

@media (max-width: $maxwidth + 20) {
  .discography {
    padding-left: 20px;
    padding-right: 20px;
  }
}