.forbooking {
    position: relative;

    &-image {
        width: 100%;
        min-height: 300px;
    }

    &-text {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        text-align: center;
        padding: 3vw;
        vertical-align: bottom;

        a,
        h2,
        p {
            color: #FFFFFF;
        }

        p {
            max-width: 850px;
            margin: 0 auto;
        }

        &-button {
            display: block;
            border: medium none;
            color: #fff;
            font-size: 16px;
            line-height: 16px;
            height: 52px;
            text-transform: uppercase;
            background-color: $coloryellow;
            padding: 18px 37px 10px;
            width: 180px;
            margin: 10px auto;
        }
    }
}

.forbooking--frame {
    max-width: $maxwidth;
    margin: 0 auto;
}