.forbooking{
    position: relative;

    &-image{
        width: 100%;
    }

    &-text{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        text-align: center;
        padding-top: 10px;

        a,
        h2,
        p{
            color:#FFFFFF;
        }
    }
}