p{
    font-size: 14px;
    font-family: $fonthind;
    line-height: 22px;
    color: $colorblack;
}
h1, h2, h3, h4, h5, h6{
    color: #2d2d2d;
    font-family: $fontoswald;
    font-weight: 300;
    letter-spacing: -1;
    text-transform: uppercase;
}
h2{
    font-size: 50px;
    line-height: 53px;
}
h3{
    font-size: 34px;
    line-height: 37px;
}
a{
    color: $colorblack;
    font-family: $fontoswald;
    @include transition(all, 0.3s, ease-in-out);
}
a:hover, a:focus{
    text-decoration: none;
}
#content{
    padding-top: 80px;
}
.heading--h2{
    border-left: 13px solid $coloryellow;
    padding-left: 30px;
    font-weight: bold;
    margin: 20px auto;
    display:block;
    font-size:49px;
}
@media (max-width: 460px){
    .heading--h2{
        font-size: 30px;
        line-height: 32px;
    }
}
.grid{
    font-size: 0px;
    margin-left: 0;
    padding-left: 0;
}
.grid__item{
    font-size: 14px;
    margin-left: 0;
    padding-left: 0;
}