.headerimage {
    width: 100%;
    position: relative;
    margin-bottom: 30px;

    img {
        width: 100%;
        height: auto;
    }

    &-text {
        position: absolute;
        z-index: 2;
        width: 100%;
        max-width: $maxwidth;
        magin: 0 auto;

        &--middle-top {
            text-align: center;
            top: 40px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &--middle-middle {
            text-align: center;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &--left {
            text-align: left;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .heading {
            color: #ffffff;
        }

        p {
            color: #FFFFFF;
            font-size: 11px;
        }

        .heading--middle {
            font-size: 60px;
            font-weight: bold;
        }

        .heading--left {
            font-size: 30px;
            font-weight: bold;
        }
    }
}

@media (max-width: $maxwidth + 20) {
    .headerimage-text {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1023px) {
    .headerimage {
        display: none;
    }
}