.headerimage {
    position: relative;

    &-image {
        width: 100%;
    }

    &-text {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 50px;
        lef: 0;
    }
}

@media (min-width: $tablet) {
    .headerimage-text .heading--h1--description {
        margin-top: 5px;
    }
}

@media (max-width: $maxwidth + 20) {
    .headerimage-text {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 860px) {
    .headerimage-image {
        object-fit: cover;
        height: 320px;
    }
}