.partner {
    max-width: $maxwidth;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 20px;

    &-carousel {
        height:130px;

        .slick-list{
            height:130px;
            border-right: 1px solid $colorblack--lighter03;
        }

        .slick-prev,
        .slick-next,
        .slick-dots {
            display: none !important;
        }

        &-item {
            box-sizing: border-box;
            padding: 30px 0;
            border: 1px solid $colorblack--lighter03;
            border-left: 0px;
            outline: none;

            img {
                margin: auto;
            }
        }

        &-item:first-of-type {
            border-left: 1px solid $colorblack--lighter03;
        }
    }
}

@media (max-width: $maxwidth + 20) {
    .partner {
        padding-left: 20px;
        padding-right: 20px;
    }
}