.slider {
    height: auto;
    position: relative;

    &-item {
        position: relative;
    }

    .slides {

        &-item {
            overflow: hidden;
        }

        &-images {
            width: 100%;
            height: auto;
            display: block;
            z-index: 1;
        }

        &-text {
            z-index: 2;
            position: absolute;
            width: 100%;
            max-width: $maxwidth;
            height: 90%;
            left: 0;
            bottom: 0;
            padding: 0 0 0 120px;
            overflow: hidden;

            .heading--h1,
            .heading--h1--description {
                @include vertical-align(relative);
                color: #fff;
                margin: 0;
                padding: 0;

            }

            .heading--h1 {
                word-spacing: 9999999px;
            }

            .heading--h1--description {
                margin-top: -30px;
                width: 35%;

                p {
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .slider .slides-text {
        padding: 0 40px;
    }
}

@media (max-width: 1200px) {
    .slider .slides-text .heading--h1--description {
        width: 45%;
    }
}

@media (max-width: $tablet) {
    .slider .slides-text {
        padding: 0 20px;

        .heading--h1,
        .heading--h1--description p {
            text-align: center;
        }

        .heading--h1--description {
            width: 100%;
            margin-top: -40px;

            p {
                padding: 0 100px;
            }
        }
    }
}

@media (max-width: 800px) {
    .slider-item {
        display: block;
        position: relative;
        height: 450px;

        &-frame {
            display: block;
            position: relative;
            height: 100%;
            width: 100%;
        }
    }

    .slick-active .slides-images {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: auto;
        margin-left: -400px;
    }
}

@media (max-width: 700px) and (min-width: $mobile) {
    .slider .slides-text .heading--h1 {
        font-size: 75px;
        line-height: 58px;

        &--description {
            width: 100%;
            margin-top: -25px;

            p {
                padding: 0 80px;
            }
        }
    }
}

@media (max-width: $mobile) {
    .slider .slides-text .heading--h1--description {
        margin-top: -10px;

        p {
            padding: 0 40px;
        }
    }
}

@media (max-width: 380px) {
    .slider .slides-text .heading--h1 {
        font-size: 45px;
        line-height: 35px;

        &--description {
            margin-top: 15px;

            p {
                padding: 0 25px;
            }
        }
    }
}

