.team {
    &--heading--h2--border {
        @extend .heading--h2--border;
        text-align: left;
    }

    &--heading--h2 {
        @extend .heading--h2;
        text-align: center;
    }

    > div {
        max-width: $maxwidth;
        margin: 0 auto;
    }

    &-member {
        text-align: center;
        padding-left: 0px;
        position: relative;
        padding: 0 5px;

        &-image {
            height: auto;
            width: 100%;
            position: relative;
            @include transition(all, .3s, ease-in-out);
        }

        &-socials {
            opacity: 0;
            width: 100%;
            position: absolute;
            bottom: 57px;
            left: 0px;
            font-size: 0px;
            overflow: hidden;
            @include transition(all, .3s, ease-in-out);

            a {
                width: 40px;
                height: 40px;
                font-size: 30px;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
                color: #ffffff;
                @include transition(all, .3s, ease-in-out);
            }

            &-twitter {
                background-color: #2EC5EB;
            }

            &-facebook {
                background-color: #267CD5;
            }

            &-googleplus {
                background-color: #AF1314;
            }

            &-linkedin {
                background-color: #007BB6;
            }

            &-instagram {
                background-color: #375989;
            }
        }

        &-text {
            text-align: center;
            width: 100%;
            margin: 10px 0;

            &-name {
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 0px;
                color: #fff;
            }

            &-role {
                text-transform: uppercase;
                color: #fff;
            }
        }
    }

    &-member:hover > &-member-socials {
        opacity: 1;
    }

    &-member:hover > &-member-image {
        @include scale-elem(0.95);
    }
}

.team--nobackground {
    padding-top: 40px;
    padding-bottom: 40px;

    .team-member-text-name {
        color: $colorblack;
    }

    .team-member-text-name:hover {
        color: $coloryellow;
    }

    .team-member-text-role {
        color: $colorblack--lighter02;
    }
}

.team--imagebackground {
    background-image: url("../img/band-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

    .team-heading {
        color: #FFFFFF;
        margin-bottom: 50px;
    }
}

@media (max-width: $maxwidth + 20) {
    .team {
        padding-left: 20px;
        padding-right: 20px;

        .team-heading {
            margin-bottom: 20px;
        }
    }
}