.biography{
    max-width: $maxwidth;
    margin: 0 auto;
    &-text{
        padding-top: 30px;
        padding-right: 60px;
        h3{
            font-size: 19px;
            line-height: 28px;
        }
        p{
            color:$colorblack--lighter01;
            padding-bottom: 22px;
        }
        &-button{
            background-color: $colorblack--lighter01;
            display: inline-block;
            font-family: $fonthind;
            font-size:14px;
            line-height: 24px;
            letter-spacing: 3px;
            text-transform: uppercase;
            padding:12px 29px 11px 32px;
            color:#fff;
            margin-bottom: 20px;
        }
        &-button:first-of-type{
            margin-right: 10px;
        }
        &-button:hover{
            color: $coloryellow
        }
    }
}
@media (max-width: $maxwidth + 20) {
  .biography{
    padding: 0 20px;
  }
}