.container {
    margin: 0 auto;
    max-width: $container-width;

    @include mediaEachMax((
        margin-left: $container-spaces,
        margin-right: $container-spaces,
    ));

    @include mediaMin($container-width + ($container-space * 2)) {
        margin-left: auto;
        margin-right: auto;
    }
}

.container-wide {
    margin: 0 auto;
    max-width: $container-wide-width;

    @include mediaEachMax((
        margin-left: $container-spaces,
        margin-right: $container-spaces,
    ));

    @include mediaMin($container-wide-width + ($container-space * 2)) {
        margin-left: auto;
        margin-right: auto;
    }
}

.container-left {
    padding-right: calc(#{percentage(5 / 12)} + 10px);

    @include media('<tablet') {
        padding-right: 0;
    }
}

.container-right {
    padding-left: calc(#{percentage(5 / 12)} + 10px);

    @include media('<tablet') {
        padding-left: 0;
    }
}

.container-big {
    margin: 0 auto;
    max-width: 960px;
}

.container-medium {
    margin: 0 auto;
    max-width: 720px;
}

.container-small {
    margin: 0 auto;
    max-width: 540px;
}
