.reveal {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    visibility: hidden;

    &--visible {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}
