$slick-arrow-size: 60px;

.slick-arrow {
    border: 1px solid currentColor;
    font-size: 25px;
    height: $slick-arrow-size;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: $slick-arrow-size;
    z-index: $z-absolute;

    @include media('<laptop') {
        border: none;
        bottom: 0;
        height: auto;
        top: auto;
        transform: none;
    }

    &:focus,
    &:hover {
        color: $light-blue;
        outline: none;
    }
}

.slick-prev {
    left: $grid-gutter-width / 2;

    @include media('<laptop') {
        text-align: left;
    }
}

.slick-next {
    right: $grid-gutter-width / 2;

    @include media('<laptop') {
        text-align: right;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-top: 70px;
    padding: 0;
}

.slick-dots > li {
    margin: 0 10px;
    padding: 0;
    position: relative;

    &::before {
        background: $light-blue;
        bottom: -4px;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: 0 0;
        width: 100%;

        @include media('<laptop') {
            display: none;
        }
    }

    &.slick-active {
        &::before {
            animation: 5s slickDot linear;
            transform: scaleX(1);
        }
    }
}

.slick-dots-image {
    height: 50px;
    width: 50px;

    @include media('<laptop') {
        display: none;
    }
}

@keyframes slickDot {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}
