@use 'sass:math';

[class^='width-'],
[class*=' width-'] {
    flex: 0 0 auto;
}

@for $i from 1 through $grid-columns {
    .width-#{$i} {
        width: percentage(math.div($i, $grid-columns));
    }
}

@for $i from 1 through $grid-columns {
    @each $breakpoint-name, $breakpoint in $breakpoints {
        @include mediaMax($breakpoint) {
            .width-#{$breakpoint-name}-#{$i} {
                width: percentage(math.div($i, $grid-columns));
            }
        }
    }
}
