{% extends 'base.html.twig' %}

{% block contentHeader %}
    {% include 'includes/header.html.twig' with { type: 'article' } %}
{% endblock %}

{% block contentBody %}
    {# @see https://docs.sulu.io/en/2.1/reference/twig-extensions/functions/sulu_resolve_contact.html #}
    {% set author = sulu_resolve_contact(author) %}

    {% if author %}
        <div class="article-info">
            <div class="posted-by">{{ 'posted_by'|trans }} <span>{{ author.fullName }}</span></div>
        </div>
    {% endif %}

    {% include 'includes/blocks.html.twig' %}
{% endblock %}
