<div rel="blocks" typeof="block">
    <div property="background" class="{{ block.background ? 'background' : '' }}">
        <div property="author">
            {% set author = "" %}

            {% if block.author|length %}
                {% set author = sulu_resolve_contact(block.author|first.id) %}
            {% else %}
                {% set author = sulu_resolve_contact(creator) %}
            {% endif %}

            {% if author|default('') %}
                <span class="author">
                    <i class="author-rectangle"></i>
                    <p class="author-by">{{ 'posted'|trans }}</p>
                    <p class="author-author">{{ author.fullName }}</p>
                </span>
            {% endif %}
        </div>
    </div>
</div>