<section class="biography">
    <div class="grid">
        <div class="biography-text grid__item desk--one-half">
            <h2 class="heading--h2">Biography</h2>
            <h3>The start of the GNR South American run is only days away. Do you have your tickets yet??</h3>
            <p>Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                The Irish/Scottish five piece have sold over 11 million albums and have been responsible for several era-defining singles,
                including Run, Chocolate, and Chasing Cars (which spent an incredible 104 weeks in the UK Top 75 and was voted song of the
                decade in aChannel 4 poll).Their albums have been nominated for the Mercury Music Prize.</p>
            <p>Grammys and MTV Europe Music Awards, with Final Straw landing them an Ivor Novello Award in 2005. By anyone's standards, it's been a pretty good century</p>
            <a class="biography-text-button" href="#">Read More</a>
            <a class="biography-text-button" href="#">Discography</a>
        </div>
        <img class="biography-image grid__item desk--one-half" src="img/biography-img.jpg"/>

    </div>
</section>