<div class="grid__item desk--one-fifth portable--one-whole">
    <aside class="blog-sidemenu">
        <div class="grid">
            <div class="grid__item desk--one-whole lap--one-half palm--one-whole">
                <h2 class="blog-sidemenu-heading">Our Artists</h2>
                <ul class="blog-sidemenu-list">
                    <li><a href="#">Example Category<i class="ion-ios-arrow-right"></i></a></li>
                    <li><a href="#">Example Category<i class="ion-ios-arrow-right"></i></a></li>
                    <li><a href="#">Example Category<i class="ion-ios-arrow-right"></i></a></li>
                </ul>
            </div>

            <div class="grid__item desk--one-whole lap--one-half palm--one-whole">

                <h2 class="blog-sidemenu-heading">Recent Blogs</h2>
                <div class="blog-sidemenu-recent">
                    <img src="/img/recentblog-img1.jpg"/>
                    <div class="blog-sidemenu-recent-text">
                        <p>25.07.2016</p>
                        <h6>Are Lorem ipsum dolor onsectetur.</h6>
                    </div>
                </div>

                <div class="blog-sidemenu-recent">
                    <img src="/img/recentblog-img1.jpg"/>
                    <div class="blog-sidemenu-recent-text">
                        <p>25.07.2016</p>
                        <h6>Are Lorem ipsum dolor onsectetur.</h6>
                    </div>
                </div>

                <div class="blog-sidemenu-recent">
                    <img src="/img/recentblog-img1.jpg"/>
                    <div class="blog-sidemenu-recent-text">
                        <p>25.07.2016</p>
                        <h6>Are Lorem ipsum dolor onsectetur.</h6>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>