<section class="discography">
    <div class="discography-frame">
        <h2 class="discography-frame-heading heading--h2--border">
            Discography
        </h2>
        <div class="grid">
            <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                <div class="discography-frame-collum">
                    <img class="discography-frame-collum-image" src="img/album-grid1.jpg"/>
                    <a href="#">Rock Music</a>
                    <h5 class="heading--h5">
                        <a href="#">Trust boombastic</a>
                    </h5>
                    <a href="#" class="discography-frame-collum-button">10 Tracks</a>
                </div>
            </div>
            <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                <div class="discography-frame-collum">
                    <img class="discography-frame-collum-image" src="img/album-grid1.jpg"/>
                    <a href="#">Rock Music</a>
                    <h5 class="heading--h5">
                        <a href="#">Trust boombastic</a>
                    </h5>
                    <a href="#" class="discography-frame-collum-button">10 Tracks</a>
                </div>
            </div>
            <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                <div class="discography-frame-collum">
                    <img class="discography-frame-collum-image" src="img/album-grid1.jpg"/>
                    <a href="#">Rock Music</a>
                    <h5 class="heading--h5">
                        <a href="#">Trust boombastic</a>
                    </h5>
                    <a href="#" class="discography-frame-collum-button">10 Tracks</a>
                </div>
            </div>
        </div>
    </div>
</section>