<section class="discography">
    <div class="discography-frame">
        <h2 class="discography-frame-heading heading--h2">Discography</h2>
        <div class="grid">
            <div class="discography-frame-collum grid__item desk--one-third lap--one-half palm--one-whole">
                <img class="discography-frame-collum-image" src="img/album-grid1.jpg"/>
                <a href="#">Rock Music</a>
                <h5><a href="#">Trust boombastic</a></h5>
                <a href="#" class="discography-frame-collum-button">10 Tracks</a>
            </div>
            <div class="discography-frame-collum grid__item desk--one-third lap--one-half palm--one-whole">
                <img class="discography-frame-collum-image" src="img/album-grid1.jpg"/>
                <a href="#">Rock Music</a>
                <h5><a href="#">Trust boombastic</a></h5>
                <a href="#" class="discography-frame-collum-button">10 Tracks</a>
            </div>
            <div class="discography-frame-collum grid__item desk--one-third lap--one-half palm--one-whole">
                <img class="discography-frame-collum-image" src="img/album-grid1.jpg"/>
                <a href="#">Rock Music</a>
                <h5><a href="#">Trust boombastic</a></h5>
                <a href="#" class="discography-frame-collum-button">10 Tracks</a>
            </div>
        </div>
    </div>
</section>