<div property="headerImage">
    <div property="headerHeading">
        <div property="headerSubheading">
            {% if content.headerImage|length and content.headerImage|first.thumbnails["1920x670"] is defined %}
                <section class="headerimage">
                    <img src="{{ content.headerImage|first.thumbnails["1920x670"] }}"
                         alt="content.headerImage|first.title"
                         class="headerimage-image">

                    {% if content.headerHeading|default('') or content.headerSubheading|default('') %}
                        <div class="headerimage-text">
                            {% if content.headerHeading|default('') %}
                                <h1 class="headerimage-text-heading heading--h1">
                                    {{ content.headerHeading }}
                                </h1>
                            {% endif %}

                            {% if content.headerSubheading|default('') %}
                                <div class="heading--h1--description">
                                    {{ content.headerSubheading|raw }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </section>
            {% endif %}
        </div>
    </div>
</div>