<div rel="blocks" typeof="block" class="media--gallery">
    <div property="medias" class="media--gallery-content">
        {% if block.medias|length %}
            <div data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'
                 class="js-media--gallery">
                {% for media in block.medias if media.thumbnails['500x375'] %}
                    <div class="media--gallery-content-elem">
                        <img src="{{ media.thumbnails['500x375'] }}"
                             alt="{{ media.description }}"
                             class="media--gallery-content-elem-image">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>