<div rel="blocks" typeof="block">
    <div class="messageform">
    <div class="messageform-content">
        <div property="heading">
            {% if block.heading|default('') %}
                <h2 class="heading--h2">
                    {{ block.heading }}
                </h2>
            {% endif %}
        </div>

        <div property="subheading">
            {% if block.subheading|default('') %}
                <div class="messageform-subheading">
                    {{ block.subheading|raw }}
                </div>
            {% endif %}
        </div>

        <form action="#">
            <div class="grid">
                <div class="grid__item desk--five-twelfths portable--one-whole">
                    <div class="messageform-label">
                        <input id="name"
                               class="messageform-label-input"
                               type="text"
                               placeholder="Name"
                               required=""/>
                        <p>Name</p>
                    </div>
                </div>

                <div class="grid__item desk--one-twelfth"></div>

                <div class="grid__item desk--one-half portable--one-whole">
                    <div class="messageform-label">
                        <input id="email"
                               class="messageform-label-input"
                               type="email"
                               placeholder="E-mail"
                               required=""/>
                        <p>Name</p>
                    </div>
                </div>

                <div class="grid__item desk--five-twelfths portable--one-whole">
                    <div class="messageform-label">
                        <input id="phone"
                               class="messageform-label-input"
                               type="tel"
                               pattern="^([0|\+[0-9 ]{1,5})?([1-9 ][0-9 ]{12})$"
                               placeholder="Phone"
                               required=""/>
                        <p>Name</p>
                    </div>
                </div>

                <div class="grid__item desk--one-twelfth"></div>

                <div class="grid__item desk--one-half portable--one-whole">
                    <div class="messageform-label">
                        <input id="subject"
                               class="messageform-label-input"
                               type="text"
                               placeholder="Subject"
                               required=""/>
                        <p>Name</p>
                    </div>
                </div>

                <div class="grid__item one-whole">
                    <div class="messageform-label">
                        <input id="message"
                               class="messageform-label-input"
                               placeholder="Message"
                               required=""/>
                        <p>Name</p>
                    </div>
                </div>
            </div>

            <div class="messageform-button cf">
                <input type="submit"
                       value="Submit Message"
                       class="button--large">
            </div>
        </form>
    </div>
    </div>
</div>