<form action="#" class="messageform">
    <div class="grid">
        <div class="grid__item desk--one-half lap--one-half palm--one-whole">
            <div class="messageform-label">
                <i class="ion-person messageform-label-icon"></i>
                <input class="messageform-label-input"
                       type="text"
                       placeholder="YOUR NAME"
                       required="">
            </div>
        </div>

        <div class="grid__item desk--one-half lap--one-half palm--one-whole">
            <div class="messageform-label">
                <i class="ion-android-mail messageform-label-icon"></i>
                <input class="messageform-label-input"
                       type="text"
                       placeholder="EMAIL ADDRESS"
                       required="">
            </div>
        </div>

        <div class="grid__item desk--one-half lap--one-half palm--one-whole">
            <div class="messageform-label">
                <i class="ion-android-call messageform-label-icon"></i>
                <input class="messageform-label-input"
                       type="text"
                       placeholder="PHONE"
                       required="">
            </div>
        </div>

        <div class="grid__item desk--one-half lap--one-half palm--one-whole">
            <div class="messageform-label">
                <i class="ion-document-text messageform-label-icon"></i>
                <input class="messageform-label-input"
                       type="text"
                       placeholder="SUBJECT"
                       required="">
            </div>
        </div>

        <div class="grid__item one-whole">
            <div class="messageform--area-label">
                <i class="ion-document-text messageform--area-label-icon"></i>
                <textarea class="messageform--area-label-input"
                          placeholder="TYPE MESSAGE"
                          required=""></textarea>
            </div>
        </div>
    </div>

    <div class="messageform-buttonbox--{{ buttonposition|default('center') }}">
        <input type="submit"
               value="Submit Message"
               class="messageform-buttonbox-button">
    </div>
</form>