<section class="news">
    <h2
            class="news-heading heading--h2--border">Band News</h2>
    <div class="news-item" onclick="location.href='#'">
        <img class="news-item-image" src="img/news-img-1.jpg">
        <div class="news-item-text">
            by <a href="#">David Moleena</a>
            <h3 class="heading--h3">Snow Patrol´s new album fallen empires</h3>
            <span class="news-item-text-date">
                <i class="ion-ios-arrow-forward"></i> July 20, 2016
            </span>
            <span class="news-item-text-category">
                <i class="ion-ios-arrow-forward"> Music, Fun, Entertainment</i>
            </span>
        </div>
    </div>
    <div class="news-item" onclick="location.href='#'">
        <img class="news-item-image" src="img/news-img-1.jpg">
        <div class="news-item-text">
            by <a href="#">David Moleena</a>
            <h3 class="heading--h3">Snow Patrol´s new album fallen empires</h3>
            <span class="news-item-text-date">
                <i class="ion-ios-arrow-forward"></i> July 20, 2016
            </span>
            <span class="news-item-text-category">
                <i class="ion-ios-arrow-forward"> Music, Fun, Entertainment</i>
            </span>
        </div>
    </div>
    <div class="news-item" onclick="location.href='#'">
        <img class="news-item-image" src="img/news-img-1.jpg">
        <div class="news-item-text">
            by <a href="#">David Moleena</a>
            <h3 class="heading--h3">Snow Patrol´s new album fallen empires</h3>
            <span class="news-item-text-date">
                <i class="ion-ios-arrow-forward"></i> July 20, 2016
            </span>
            <span class="news-item-text-category">
                <i class="ion-ios-arrow-forward"> Music, Fun, Entertainment</i>
            </span>
        </div>
    </div>
</section>