<section class="partner">
    <h2 class="partner-item--heading heading--h2--border">
        Partners
    </h2>

    <div class="partner-carousel js-partner-carousel" data-slick='{"slidesToShow": 5, "slidesToScroll": 5}'>
        {% for item in partner.partnerData %}
            {% for image in item.images %}
                <div class="partner-carousel-item">
                    <img src="{{ image.thumbnails['140x70'] }}" alt="{{ image.name }}">
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</section>