<section class="partner">
    <h2 class="partner-item--heading heading--h2--border">
        Partners
    </h2>

    <div class="partner-carousel js-partner-carousel" data-slick='{"slidesToShow": 5, "slidesToScroll": 5}'>
        <div class="partner-carousel-item"><img src="img/partner-3.jpg"></div>
        <div class="partner-carousel-item"><img src="img/partner-3.jpg"></div>
        <div class="partner-carousel-item"><img src="img/partner-3.jpg"></div>
        <div class="partner-carousel-item"><img src="img/partner-3.jpg"></div>
        <div class="partner-carousel-item"><img src="img/partner-3.jpg"></div>
    </div>
</section>