<div rel="blocks" typeof="block">
    <div property="quote" class="quote">
        <div class="quote-content">
            {% if block.quote|default('') %}
                {{ block.quote|raw }}
            {% endif %}
        </div>
    </div>
</div>