{% if loop.first or (blocks[loop.index0 - 1] is defined and blocks[loop.index0 - 1].type != 'services') %}
    <div class="services">
        <div class="services-frame">
            <div class="grid">
{% endif %}
                <div class="grid__item desk--one-third lap--one-half palm--one-whole" rel="blocks" typeof="block">
                    {% set background = "" %}

                    {% if block.background|length and block.background|first.thumbnails['500x375'] is defined %}
                        {% set background = "'" ~ block.background|first.thumbnails['500x375'] ~ "'" %}
                    {% endif %}

                    <div style="{{ background|default('') ? 'background-image: url(' ~ background|raw ~ ')' : '' }}"
                         class="services-item" >
                        <div class="services-item-text">
                            <div property="icon">
                                {% if block.icon|default('') %}
                                    <i class="{{ block.icon }}"></i>
                                {% endif %}
                            </div>

                            <div property="heading">
                                {% if block.heading %}
                                    <p class="services-item-text-heading">
                                        {{ block.heading }}
                                    </p>
                                {% endif %}
                            </div>

                            <div property="text">
                                {% if block.text|default('') %}
                                    <div class="services-item-text-text">
                                        {{ block.text|raw }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
{% if loop.last or (blocks[loop.index0 + 1] is defined and blocks[loop.index0 + 1].type != 'services') %}
            </div>
        </div>
    </div>
{% endif %}