{% if base == "false" %}
    <i class="ion-ios-arrow-forward"></i>
    <a href="{{ child.url }}">{{ child.title }}</a>
{% endif %}

{% if child.children[0] is defined %}
    <ul class="sidemap-item-list">
        {% for item in child.children %}
            <li>
                {% include(':includes:sitemap_list.html.twig') with {
                "child" : item,
                "base" : "false"
                } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
