<section class="slider">
    <div class="js-slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
        <div>
            <img class="slides-images" src="img/slider-img-1.jpg"/>
            <div class="slides-text">
                <h2 class="heading--h2">
                    Wow Awards<br>VIP Upgrades for South America!
                </h2>
                <p>
                    The start of the GNR South American run is only days away. Do you have your tickets yet??
                    If you do, don't miss your chance to NOW upgrade your experience to VIP! Upgrades are now
                    available for purchase!
                </p>
                <a href="#" class="slides-text-button">Read More</a>
            </div>
        </div>
        <div>
            <img class="slides-images" src="img/slider-img-1.jpg"/>
            <div class="slides-text">
                <h2 class="heading--h2">
                    Wow Awards<br>VIP Upgrades for South America!
                </h2>
                <p>
                    The start of the GNR South American run is only days away. Do you have your tickets yet??
                    If you do, don't miss your chance to NOW upgrade your experience to VIP! Upgrades are now
                    available for purchase!
                </p>
                <a href="#" class="slides-text-button">Read More</a>
            </div>
        </div>
        <div>
            <img class="slides-images" src="img/slider-img-1.jpg"/>
            <div class="slides-text">
                <h2 class="heading--h2">
                    Wow Awards<br>VIP Upgrades for South America!
                </h2>
                <p>
                    The start of the GNR South American run is only days away. Do you have your tickets yet??
                    If you do, don't miss your chance to NOW upgrade your experience to VIP! Upgrades are now
                    available for purchase!
                </p>
                <a href="#" class="slides-text-button">Read More</a>
            </div>
        </div>
        <div>
            <img class="slides-images" src="img/slider-img-1.jpg"/>
            <div class="slides-text">
                <h2 class="heading--h2">
                    Wow Awards<br>VIP Upgrades for South America!
                </h2>
                <p>
                    The start of the GNR South American run is only days away. Do you have your tickets yet??
                    If you do, don't miss your chance to NOW upgrade your experience to VIP! Upgrades are now
                    available for purchase!
                </p>
                <a href="#" class="slides-text-button">Read More</a>
            </div>
        </div>
    </div>
</section>