<section class="slider">
    <div class="js-slider" data-slick='{"slidesToScroll": 1, "slidesToShow": 1}'>
        {% for slide in slides if slide.mediaId is not null %}
            <div class="slider-item">
                {% set image = sulu_resolve_media(slide.mediaId, request.locale) %}

                <div class="slider-frame">
                    <img src="{{ image.thumbnails['1920x1080'] }}"
                         alt="{{ image.title }}"
                         class="slides-images"/>
                </div>

                <div class="slides-text">
                    {% if slide.title|default("") %}
                        <h1 class="heading--h1">
                            {{ slide.title }}
                        </h1>
                    {% endif %}

                    {% if slide.description|default("") %}
                        <div class="heading--h1--description">
                            {{ slide.description|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>