<div rel="blocks" typeof="block">
    <div property="background" class="{{ block.background ? 'background' : '' }}">
        <div property="link">
            {% if block.link|default('') %}
                <div class="text">
                    <a class="button--block"
                       href="{{ sulu_content_load(block.link).urls[request.locale] }}">
                        {{ 'read_more'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>