<div rel="blocks" typeof="block">
    <div property="background" class="{{ block.background ? 'background' : '' }}">
        <div property="heading" class="heading">
            {% if block.heading|default('') %}
                <h2 class="heading-h2">
                    {{ block.heading }}
                </h2>
            {% endif %}
        </div>
    </div>
</div>
