<div rel="blocks" typeof="block">
    <div class="location" property="location">
        {% if block.location.lat|default('') and block.location.zoom|default('') and block.location.long|default('') %}
            <div class="js-googleMap location-map"></div>

            <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBjtPJfpPh9FEwonUW0Lte5Ayshi2FVCKc"></script>

            <script>
                var mapLatLng = new google.maps.LatLng({{ block.location.lat }} , {{ block.location.long }});
                var mapProp = {
                    center: mapLatLng,
                    zoom:{{ block.location.zoom }}
                };

                for (var i = 0; i < document.getElementsByClassName('js-googleMap').length; i++) {
                    var map = new google.maps.Map(document.getElementsByClassName('js-googleMap')[i], mapProp);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: mapLatLng
                        {% if block.location.title|default('') %}
                        , title: '{{ block.location.title }}'
                        {% endif %}
                    });
                }
            </script>
        {% endif %}
    </div>
</div>