<div rel="blocks" typeof="block">
    <div property="background" class="{{ block.background ? 'background' : '' }}">
        <div property="quote" class="quote">
            {% if block.quote|default('') %}
                <div class="quote-content">
                    <p>
                        <strong>{{ block.quote|nl2br }}</strong>
                    </p>
                    {% if block.quoteReference|default('') %}
                        <p class="quote-reference">
                            {{ block.quoteReference|raw }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
