{% set propertyName = propertyName|default('blocks') %}
<div rel="{{ propertyName }}" typeof="block">
    <div property="background" class="{{ block.background ? 'background' : '' }}">
        <div property="subheading" class="subheading">
            {% if block.subheading|default('') %}
                <p>
                    {{ block.subheading|raw }}
                </p>
            {% endif %}
        </div>
    </div>
</div>
