<div rel="blocks" typeof="block">
    <div property="background" class="{{ block.background ? 'background' : '' }}">
        <div property="subheading" class="subheading">
            {% if block.subheading|default('') %}
                {{ block.subheading|raw }}
            {% endif %}
        </div>
    </div>
</div>
