.singlequote {
    height: 480px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

    &-item {
        max-width: $maxwidth;
        margin: 0 auto;
        @include vertical-align(relative);
        font-size: 0;
        direction: rtl;

        &-text {
            @include inline-block(top);
            width: 70%;
            color: $colorblack;
            text-align: center;
            padding-right: 60px;
            @include box-sizing(border-box);
            font-size: 24px;
            line-height: 36px;
            font-style: italic;
            margin-bottom: 15px;
        }

        &-image {
            width: 30%;
            text-align: center;
            @include inline-block(top);
            @include box-sizing(border-box);

            img {
                width: 140px;
                height: 140px;
                border-radius: 70px;
            }
        }

        &-author {
            display: block;
            width: 70%;
            padding-right: 60px;
            @include box-sizing(border-box);
            text-align: center;
            vertical-align: top;

            .author-name {
                font-size: 18px;
                line-height: 22px;
                color: $colorblack;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 35px;
            }

            .author-position {
                font-size: 14px;
                line-height: 17px;
                color: $colorblack;
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: $tablet) {
    .singlequote-item {
        direction: ltr;

        &-text {
            width: 100%;
            padding: 0 75px;
        }

        &-image {
            width: 40%;
            padding-left: 50px;
        }

        &-author {
            width: 60%;
            padding-right: 100px;
            @include inline-block(top);
        }
    }
}

@media (max-width: 700px) {
    .singlequote-item {
        &-text {
            width: 100%;
            padding: 0 50px;
        }

        &-image {
            padding-left: 15px;
        }

        &-author {
            padding-right: 30px;
        }
    }
}

@media (max-width: $mobile) {
    .singlequote-item {
        &-text {
            font-size: 14px;
        }

        &-image,
        &-author {
            width: 100%;
            padding: 0 15px;
        }

        &-image img {
            height: 80px;
            width: 80px;
            border-radius: 40px;
        }

        .author-name,
        .author-position {
            font-size: 14px;
        }

    }
}