.article {
    max-width: $maxwidth;
    margin: 0 auto;
    padding: 150px 0;

    &-heading {
        margin-bottom: 35px;
    }

    &-collection {
        &-item {
            &-image {
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            &-text {
                padding: 10px;

                .text-heading {
                    color: $colorblack;
                    font-size: 24px;
                    font-weight: bold;
                }

                .text-creation {
                    margin-top: 5px;
                    color: #676767;
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .article {
        padding: 150px 20px;
    }
}

@media(max-width: $tablet) {
    .article {
        padding: 75px;
    }
}

@media (max-width: 700px) {
    .article {
        padding: 30px 15px;

        &-heading {
            margin-bottom: 15px;
        }
    }
}