<?xml version="1.0" ?>
<template xmlns="http://schemas.sulu.io/template/template"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.sulu.io/template/template http://schemas.sulu.io/template/template-1.0.xsd">

    <key>settings</key>

    <meta>
        <title lang="en">Settings</title>
        <title lang="de">Settings</title>
    </meta>

    <areas>
        <!-- @see https://docs.sulu.io/en/2.1/cookbook/default-snippets.html -->
        <area key="webspace_settings">
            <meta>
                <title lang="en">Webspace Settings</title>
                <title lang="de">Webspace Settings</title>
            </meta>
        </area>
    </areas>

    <properties>
        <property name="title" type="text_line" mandatory="true">
            <meta>
                <title lang="en">Title</title>
                <title lang="de">Titel</title>
            </meta>

            <tag name="sulu.node.name"/>
        </property>

        <property name="account" type="single_account_selection" mandatory="true">
            <meta>
                <title lang="en">Organizations</title>
                <title lang="de">Organisation</title>
            </meta>
        </property>
    </properties>
</template>
