{# {% if content.title %}{{ content.title|raw }}{% endif %} #}

<section class="section section-options">

    <div class="tile tile-heart-health-2021
	tile-right
	" data-analytics-section-engagement="name:heart month 2021">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-heart-health-2021-content">
                <h2 class="tile-copy typography-headline">
                    <span class="violator-frameless violator frameless">Limited‑time offer</span> Designed with your heart in&nbsp;mind.
                </h2>
                <p class="tile-price typography-body-custom avail-copy">Get extra trade‑in savings on Apple&nbsp;Watch during Heart&nbsp;Month. Shop Series&nbsp;6 from $239 or SE from $199.<sup class="footnote"><a href="#!" aria-label="Footnote diamond symbol">◊</a></sup></p>
                <div class="cta-container">
                    <p class="tile-cta">
                        <a href="#!" data-analytics-title="shop series 6" aria-label="Shop Apple Watch Series 6" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Shop Series 6</span><span class="icon icon-after more"></span></a>
                    </p>
                    <p class="tile-cta">
                        <a href="#!" data-analytics-title="shop se" aria-label="Shop Apple Watch SE" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Shop SE</span><span class="icon icon-after more"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="tile-image">
            <figure class="image image-heart-health-2021 "></figure>
        </div>
    </div>


    <section class="section section-vday-2021" data-analytics-section-engagement="name:vday 2021">
        <div class="headline-wrapper">
            <h3>Valentine's Day gifts for what they love.</h3>
            <a href="#!" data-analytics-title="shop gifts for valentines day" aria-label="Shop gifts for Valentine’s Day" class="icon-wrapper cta"><span class="icon-copy">Shop</span><span class="icon icon-after more"></span></a>
        </div>
        <div class="vday-tiles-wrapper">
            <a class="tile-vday tile-health" href="#!" aria-label="Shop for lovers of health" data-analytics-title="shop for lovers of health">
                <div class="tile-contents-container">
                    <h2 class="copy">For lovers of <span class="health-green">health.</span></h2>
                    <figure class="image-health"></figure>
                </div>
            </a>
            <a class="tile-vday tile-music" href="#!" aria-label="Shop for lovers of music" data-analytics-title="shop for lovers of music">
                <div class="tile-contents-container">
                    <h2 class="copy">For lovers of <span class="music-red">music.</span></h2>
                    <figure class="image-music"></figure>
                </div>
            </a>
        </div>
    </section>

    <div class="tile tile-fitness
	tile-right
	" data-analytics-section-engagement="name:apple fitness plus">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-fitness-content">
                <h2 class="tile-headline tile-headline-image">
                    <span class="visuallyhidden">Apple fitness plus</span>
                    <figure class="image-fitness-logo"></figure>
                </h2>
                <p class="tile-copy  typography-body-custom"><span class="tile-headline typography-headline">Make your move.</span> A new fitness experience powered <br class="medium">by Apple&nbsp;Watch. Try world-class workouts on your iPhone, iPad, and Apple&nbsp;TV. And now you can get 3 months free when you buy an Apple&nbsp;Watch.<sup class="footnote footnote-number"><a href="#!" aria-label="Footnote 7">7</a></sup></p>
                <div class="cta-container">
                    <p class="tile-cta">
                        <a href="#!" data-analytics-title="try it free | apple fitness plus" aria-label="Try Apple Fitness Plus free" class="icon-wrapper available-more-links typography-body-custom" rel="nofollow"><span class="icon-copy">Try it free</span><span class="icon icon-after icon-external"></span></a>
                    </p>
                    <p class="tile-cta">
                        <a href="#!" data-analytics-title="learn more | apple fitness plus" aria-label="Learn more about Apple Fitness Plus" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="tile-image">
            <figure class="image image-fitness "></figure>
        </div>
    </div>
    <div class="tile tile-discount
	tile-half
	heart-health-2021" data-analytics-section-engagement="name:trade in">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-discount-content">

                <h2 class="tile-headline  typography-headline">
                    <span class="violator-frameless violator frameless">Limited‑time offer</span> Get up to $200 <br>toward a new <br>Apple Watch.<sup class="footnote footnote-number"><a href="#!" aria-label="Footnote 8">8</a></sup>
                </h2>


                <p class="tile-copy  typography-body-custom">During Heart&nbsp;Month, trade in an eligible Apple&nbsp;Watch and get additional credit for a new one with Apple&nbsp;Trade&nbsp;In. It’s good for you and the&nbsp;planet.</p>

                <div class="cta-container">
                    <p class="tile-cta">
                        <a href="#!" data-analytics-title="find your trade in value" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Find your trade-in value</span><span class="icon icon-after more"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tile tile-installments
	tile-half
	" data-analytics-section-engagement="name:monthly installments">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-installments-content">
                <h2 class="tile-headline  typography-headline">Get 3% Daily&nbsp;Cash back with Apple&nbsp;Card.</h2>
                <p class="tile-copy  typography-body-custom">And pay for your new Apple&nbsp;Watch over 24 months, interest‑free <br class="medium">when you choose Apple&nbsp;Card Monthly&nbsp;Installments.</p>
                <div class="cta-container">
                    <p class="tile-cta">
                        <a href="#!" data-analytics-title="learn more about daily cash back with apple card" aria-label="learn more about daily cash back with apple card" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="tile-image">
            <figure class="image image-installments "></figure>
        </div>
    </div>

    <div class="tile tile-configure configure-strip" data-analytics-section-engagement="name:apple watch studio">
        <div class="tile-wrapper">
            <div class="copy-wrap">
                <h2 class="typography-eyebrow-elevated eyebrow">Apple&nbsp;Watch&nbsp;Studio</h2>
                <p>
                    <span class="typography-headline headline">Any case. Any band.<br> Any style you want.</span>
                    <span class="typography-headline partner-headline">Your watch. Your way.</span>
                </p>
            </div>
            <p class="copy-wrap typography-eyebrow-reduced">
                <span class="partner-hermes-copy">Now you can pair the classic Hermès case with any<br> Hermès band to create a&nbsp;signature&nbsp;style.</span>
                <span class="partner-nike-copy">Now you can choose any Nike case and pair any<br> Nike band for a style that's&nbsp;actively&nbsp;you.</span>
            </p>
            <div class="configure-cta-container">



                <a href="#!" class="configure-cta" data-analytics-title="configure apple watch"><span>Create your style</span></a>

                <a href="#!" class="configure-cta cta-nike" data-analytics-title="configure apple watch"><span>Create your style</span></a>
                <a href="#!" class="configure-cta cta-hermes" data-analytics-title="configure apple watch"><span>Create your style</span></a>
            </div>
            {# <div class="section-configure-wrapper" role="list"> #}
            {#     <figure class="configure-item-bands slidein" data-anim-classname-1="{&quot;start&quot;:&quot;1vh + t - 150h&quot;,&quot;breakpointMask&quot;:&quot;L&quot;, &quot;cssClass&quot;:&quot;slidein&quot;, &quot;disabledWhen&quot;:[&quot;static-layout&quot;, &quot;prefers-reduced-motion&quot;]}" data-anim-classname-2="{&quot;start&quot;:&quot;-24vh + t - 150h&quot;,&quot;breakpointMask&quot;:&quot;M&quot;, &quot;cssClass&quot;:&quot;slidein&quot;, &quot;disabledWhen&quot;:[&quot;static-layout&quot;, &quot;prefers-reduced-motion&quot;]}" data-anim-classname-3="{&quot;start&quot;:&quot;-30vh + t - 150h&quot;,&quot;breakpointMask&quot;:&quot;S&quot;, &quot;cssClass&quot;:&quot;slidein&quot;, &quot;disabledWhen&quot;:[&quot;static-layout&quot;, &quot;prefers-reduced-motion&quot;]}"> #}
            {#         <figure class="configure-item-case"></figure> #}
            {#     </figure> #}
            {# </div> #}
        </div>
    </div>


    <div class="tile tile-why-watch
	tile-right
	" data-analytics-section-engagement="name:why apple watch">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-why-watch-content">
                <h2 class="tile-headline  typography-eyebrow-custom">Why Apple Watch</h2>
                <p class="tile-copy  typography-headline">It's the ultimate device<br class="medium"><br class="small"> for a healthy life.</p>
                <div class="cta-container">
                    <p class="tile-cta">
                        <a href="#!" data-analytics-title="learn more | why apple watch" aria-label="Learn more about Why Apple Watch" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="tile-image">
            <figure class="image image-why-watch "></figure>
        </div>
    </div>
    <div class="tile tile-wwdc fixed-height tile-wwdc-add" data-analytics-section-engagement="name:watchos 7">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-content-wrapper-add tile-wwdc-content">
                <h2 class="tile-headline typography-eyebrow-custom">watchOS 7</h2>
                <p class="tile-copy typography-headline">The difference <br>is like day and night.</p>
                <p class="tile-cta tile-cta-add">
                    <a href="#!" data-analytics-title="learn more | watchos 7" class="icon-wrapper icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Learn more<span class="visuallyhidden">about watchOS 7</span></span><span class="icon icon-after more"></span></a>
                </p>
            </div>
        </div>
        <div class="tile-image">
            <figure class="image image-wwdc"></figure>
        </div>
    </div>
</section>
