.author {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    @include box-sizing(border-box);
    padding: 30px 205px 30px 120px;
    display: block;

    &-rectangle {
        width: 14px;
        height: 14px;
        @include inline-block(top);
        background-color: $colorred--lighter01;
        margin-right: 7px;
        vertical-align: middle;
        line-height: 14px;
    }

    &-by {
        @include inline-block(top);
        color: $colorblack--lighter03;
        font-size: 12px;
        line-height: 14px;
        vertical-align: middle;
        margin-right: 5px;
    }

    &-author {
        @include inline-block(top);
        color: $colorblack--lighter01;
        font-size: 12px;
        line-height: 14px;
        vertical-align: middle;
        font-weight: bold;
    }
}

@media (max-width: $tablet) {
    .author {
        margin: 50px 0 25px 0;
        padding: 0 75px;
    }
}

@media (max-width: 700px) {
    .author {
        padding: 0 30px;
    }
}