.subheading {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 205px 15px 120px;

    p,
    b {
        font-weight: bold;
        font-size: 18px;
    }
}

@media (max-width: $tablet) {
    .subheading {
        margin: 0;
        padding: 0 75px 13px 75px;
    }
}

@media (max-width: 700px) {
    .subheading {
        padding: 0 30px 13px 30px;
    }
}