.text {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 205px 0 120px;
}

@media (max-width: 1200px) {
    .text {
        padding: 0 20px;
    }
}

@media (max-width: $tablet) {
    .text {
        margin: 0;
        padding: 0 75px;
    }
}

@media (max-width: 700px) {
    .text {
        padding: 0 30px;
    }
}