.tracks {
    background: $colorblack--lighter05;

    &-content {
        max-width: $maxwidth;
        width: 100%;
        margin: 0 auto;
        padding: 75px 205px 75px 120px;
        box-sizing: border-box;

        &-heading {
            color: $colorblack;
            font-family: $fontregular;
            font-size: 18px;
            line-height: 26px;
            font-weight: bold;
            max-width: 460px;
            width: 100%;
            padding: 0px 0 15px 0;
        }

        &-table {
            width: 100%;

            td,
            th {
                font-family: $fontregular;
                font-size: 14px;

            }

            th {
                text-transform: uppercase;
                color: $colorblack--lighter03;
                width: 100px;
                text-align: center;

                &:first-child {
                    width: calc(100% - 200px);
                    text-align: left;
                }
            }

            td {
                width: 100px;
                text-align: center;

                &:first-child {
                    width: calc(100% - 200px);
                    text-align: left;
                }
            }

            &-head {
                line-height: 18px;
                vertical-align: middle;
                border-top: 1px solid $colorblack--lighter03;
                border-bottom: 1px solid $colorblack--lighter03;
            }

            &-data {
                line-height: 28px;
                vertical-align: middle;
                border-bottom: 1px solid $colorblack--lighter04;

                &:last-child {
                    border-bottom: 1px solid $colorblack--lighter03;
                }

                &-button {
                    background-color: $colorblack--lighter04;
                    color: $colorblack;
                    display: block;
                    height: 20px;
                    line-height: 20px;
                    border-radius: 10px;

                    .no-touchevents &:hover {
                        background-color: $colorblack--lighter03;
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    .tracks-content {
        padding: 75px;
    }
}

@media (max-width: 700px) {
    .tracks-content {
        padding: 30px;

        &-table-head th,
        &-table-data td {
            width: 70px;

            &:first-child {
                width: calc(100 - 140px);
            }
        }
    }
}