{% extends "master.html.twig" %}

{% block content %}
    <div class="error">
        <img src="/img/error.jpg"/>
        <div class="error-content">
            <h2 class="heading--h2">Error {{ status_code }}</h2>

            <p class="error-content-text">{{ status_text }}</p>

            <a href="/" class="button--large">{{ 'homepage'|trans }}</a>
        </div>
    </div>
{% endblock %}
