/*=================================================
        BLOG OVERVIEW
=================================================*/

.blog {
    max-width: $maxwidth;
    margin: 150px auto;

    &-item {
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }

        &-image {
            width: 100%;
        }

        &-text {
            padding-left: 20%;

            .author {
                padding: 0;
                margin-bottom: 20px;
            }

            &-date {
                font-size: 13px;
                color: #929292;
            }

            &-heading {
                font-size: 24px;
                line-height: 26px;
                color: $colorblack;
                margin: 8px 0 13px 0;
                font-weight: 700;
            }

            &-text {
                display: block;
                display: -webkit-box;
                max-width: 100%;
                max-height: 63px;
                font-size: 14px;
                line-height: 1.5;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .article {
        padding-bottom: 0;
    }
}

@media (max-width: $maxwidth + 20) {
    .blog {
        padding: 0 20px;

        &-item-text {
            padding-left: 60px;
        }
    }
}

@media (max-width: $tablet) {
    .blog {
        margin: 0;
        padding: 75px;

        &-item {
            margin-bottom: 50px;

            &-text {
                padding-left: 10%;
            }

            .author {
                margin: 0 0 15px 0;
            }

            .button--medium {
                margin: 15px 0 0 0;
            }
        }
    }
}

@media (max-width: 800px) and (min-width: $mobile) {
    .blog-item-text {
        &-heading {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3px 0 8px 0;
        }

        .author {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 700px) {
    .blog {
        padding: 15px;
    }
}

@media (max-width: 650px) {
    .blog {
        &-item {
            &-text {
                padding-left: 10%;

                .author {
                    display: none;
                }

                .button--medium {
                    margin: 10px 0 0 0;
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .blog {
        &-item {
            margin-bottom: 25px;

            &-text {
                padding: 15px;
            }

            .author {
                display: block;
            }

            .button--medium {
                margin: 25px 0 0 0;
            }
        }
    }
}

/*=================================================
        ARTICLE GALLERY
=================================================*/

.article {
    max-width: $maxwidth;
    margin: 0 auto;
    padding: 150px 0;

    &--frame {
        padding-top: 0;
    }

    &-heading {
        margin-bottom: 35px;
    }

    &-collection {
        &-item {
            &-image {
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            &-text {
                padding: 10px;

                .text-heading {
                    color: $colorblack;
                    font-size: 24px;
                    font-weight: 700;

                    &--team {
                        text-align: center;
                        margin-top: 15px;
                    }
                }

                .text-creation {
                    margin-top: 5px;
                    color: #676767;
                    font-size: 14px;

                    &--team {
                        text-align: center;
                        color: $colorred;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .article {
        padding: 150px 20px;
    }
}

@media(max-width: $tablet) {
    .article {
        padding: 75px;
    }
}

@media (max-width: 700px) {
    .article {
        padding: 30px 15px;

        &-heading {
            margin-bottom: 15px;
        }
    }
}