/*=================================================
        HEADER IMAGE
=================================================*/

.headerimage {
    position: relative;
    font-size: 0;
    max-height: 100vh;
    overflow: hidden;

    &-image {
        width: 100%;
        object-fit: cover;
    }

    &--small &-image {
        height: 300px;
    }

    &--medium &-image {
        min-height: 500px;
    }

    &--large &-image {
        min-height: 450px;
    }

    &-text {
        @include box-sizing(border-box);
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 50px;
        left: 0;

        .heading--h1--description {
            margin-top: 10px;
        }
    }
}

.headerimage--video:before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    @include background-image(linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%));
}

@media (max-width: 1200px) {
    .headerimage-text {
        padding: 0 140px;
    }
}

@media (max-width: $tablet) {
    .headerimage-text {
        bottom: 15px;

        .heading--h1 {
            word-spacing: 9999999px;

            &--description {
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: 900px) {
    .headerimage-text {
        padding: 0 75px;
    }
}

@media (max-width: 700px) {
    .headerimage-text {
        padding: 0 30px;
    }
}

@media (max-width: $mobile) {
    .headerimage {
        &--small &-image {
            height: 200px;
        }

        &--medium &-image {
            min-height: 300px;
        }

        &-text {
            bottom: 15px;

            .heading--h1 {
                font-size: 75px;
                line-height: 58px;

                &--description {
                    width: 100%;

                    p,
                    h1,
                    b {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}