/*=================================================
        MESSAGE FORM
=================================================*/

.messageform {
    background-color: #D5D5D5;
    @include box-sizing(border-box);
    padding: 100px 0 185px 0;

    &-content {
        max-width: $maxwidth;
        margin: 0 auto;

        .heading-h2 {
            color: $colorblack;
            max-width: 700px;
        }
    }

    &-subheading {
        margin: 30px 0 50px 0;

        p, b {
            font-size: 18px;
            line-height: 26px;
            color: $colorblack;
            font-weight: 700;
        }
    }

    &-label {
        height: 80px;

        &-input {
            border: none;
            background: none;
            width: 100%;
            font-size: 24px;
            line-height: 28px;
            font-family: $fontregular;
            font-style: italic;
            border-bottom: 1px solid $colorblack;
            @include placeholder-colors;
            @include appearance(none);

            & [value=""] {
                border-bottom: 1px solid $colorblack;
            }

            &:not([value=""]):focus:invalid {
                border-bottom: 1px solid $colorred-lighter01;

                & + p {
                    color: $colorred-lighter01;
                }
            }

            &:not([value=""]):focus + p {
                color: $colorblack;
            }
        }

        p {
            color: #D5D5D5;
            font-size: 14px;
            line-height: 17px;
            padding-top: 5px;
        }
    }

    &-button {
        float: right;
        margin-top: 45px;
        @include appearance(none);

        button, input {
            padding: 0;
            border: 0;
            height: 37px;
            line-height: 37px;
        }
    }
}

@media (max-width: 1200px) {
    .messageform {
        padding: 100px 20px 185px 20px;
    }
}

@media (max-width: $tablet) {
    .messageform {
        padding: 75px 75px 115px 75px;

        &-button {
            margin: 0;
        }
    }
}

@media (max-width: 700px) {
    .messageform {
        padding: 15px 15px 65px 15px;
    }
}

@media (max-width: $mobile) {
    .messageform-button {
        width: 100%;
    }
}
