// ITCSS Structure is used here: https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

// Settings:

@import 'settings/breakpoint';
@import 'settings/color';
@import 'settings/container';
@import 'settings/font';
@import 'settings/grid';
@import 'settings/zindex';
@import '../../../public/website/fonts/icomoon/variables';

// Tools:
@import '../node_modules/@sulu/web/packages/scss/tools/media/media';

// Generics:
@import '../node_modules/normalize.css/normalize';
@import 'generics/font';
@import 'generics/box-sizing';
@import 'generics/font-settings';

// Elements:
@import 'elements/body';
@import 'elements/input';
@import 'elements/image';
@import 'elements/a';
@import 'elements/h';

// Objects:
@import 'objects/container';
@import 'objects/grid';
@import 'objects/width';
@import '../node_modules/slick-carousel/slick/slick.scss';
@import '../node_modules/slick-carousel/slick/slick-theme.scss';

// Components:
@import 'components/article-list';
@import 'components/article-info';
@import 'components/albums';
@import 'components/similar-articles';
@import 'components/slick-slider';
@import 'components/button';
@import 'components/blocks';
@import 'components/content';
@import 'components/demobar';
@import 'components/navbar';
@import 'components/card';
@import 'components/footer';
@import 'components/header';
@import 'components/image-map';
@import 'components/posted-by';
@import 'components/social-footer';
@import 'components/teaser';
@import 'components/blocks/text';
@import 'components/blocks/image';
@import 'components/blocks/title';
@import 'components/blocks/quote';
@import 'components/blocks/link';

// Trumps:
@import '../../../public/website/fonts/icomoon/style.scss';
