// ATTENTION ATTENTION: Please order this list alphabetically
$blue: #112A46;
$light-blue: #52B6CA;
$dark-grey: #B7BFC7; // for border
$grey: #E7E9EC; // also used im design as: #E8EAED
$white: #FFFFFF;
$black: #000000;

// Link color
$link-color: $light-blue;
$link-hover-color: $light-blue;

// focus color
$focus-color: $light-blue;
