$font-family: 'IBM Plex Sans', sans-serif;
$font-sizes: (
    default: 16px,
    mobile: 14px,
);
$line-heights: (
    default: 24px,
    mobile: 22px,
);
// Mono
$font-family-mono: 'IBM Plex Mono', monospace;
