// H1 configuration
$h1-font-sizes: (
    default: 44px,
    mobile: 28px,
);
$h1-line-heights: (
    default: 52px,
    mobile: 36px,
);

// H2 configuration
$h2-font-sizes: (
    default: 36px,
    mobile: 24px,
);
$h2-line-heights: (
    default: 44px,
    mobile: 32px,
);

// H3 configuration
$h3-font-sizes: (
    default: 28px,
    mobile: 20px,
);
$h3-line-heights: (
    default: 36px,
    mobile: 28px,
);

// H4 configuration
$h4-font-sizes: (
    default: 22px,
    mobile: 18px,
);
$h4-line-heights: (
    default: 30px,
    mobile: 26px,
);
