/* Button should have no styling as it could be any type of clickable element */
button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &:focus {
        box-shadow: 0 0 10px $grey;
        outline: none;
    }
}
