input,
textarea {
    border: 1px solid $grey;
    display: block;
    padding: 15px 20px;
    width: 100%;

    &:focus {
        box-shadow: 0 0 10px $grey;
        outline: none;
    }
}

textarea {
    resize: vertical;
}
