name: Test Application

on:
    pull_request:
    push:
        branches:
            - master

jobs:
    php:
        name: PHP 8.1
        runs-on: ubuntu-latest

        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_ROOT_PASSWORD: 'ChangeMe'
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

            elasticsearch:
                image: elasticsearch:7.13.2
                env:
                    discovery.type: single-node
                    xpack.security.enabled: 'false'
                ports:
                    - 9200:9200
                options: --health-cmd="curl http://localhost:9200/_cluster/health" --health-interval=10s --health-timeout=5s --health-retries=3

        steps:
            - name: Checkout project
              uses: actions/checkout@v2

            - name: Install and configure PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.1'
                  extensions: ctype, iconv, mysql
                  coverage: none
                  tools: composer

            - name: Install composer dependencies
              uses: ramsey/composer-install@v1

            - name: Lint code
              run: |
                  bin/adminconsole doctrine:database:create --if-not-exists
                  bin/adminconsole doctrine:schema:update --force
                  composer lint

            - name: Execute test cases
              run: |
                  composer bootstrap-test-environment
                  composer test

            - name: Test project initialization
              run: bin/console sulu:build dev --destroy

    js-css-website:
        name: Node 12 / Website
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: assets/website

        steps:
            - name: Checkout project
              uses: actions/checkout@v2

            - name: Install and configure Node
              uses: actions/setup-node@v2-beta
              with:
                  node-version: '12'

            - name: Install npm dependencies
              uses: bahmutov/npm-install@v1
              with:
                  working-directory: assets/website

            - name: Lint code
              run: npm run lint

            - name: Test build
              run: npm run build
